<a class="web-media-image"
  :class="TopClass"
  :style="TopStyle"
  :href="TheHref"
  :target="isNewTab ? '_blank' : '_self'"
  @click.left="OnClickTop"
  @mousemove="OnMouseMove"
  @mouseleave="OnMouseLeave">
  <!--Image-->
  <img ref="img"
    v-if="TheSrc" 
      :src="TheSrc"
      @load="OnImageLoaded"/>
  <!--Text-->
  <div
    v-if="TheText"
      class="as-text">
      <span>{{TheText}}</span>
  </div>
  <!--Zoom len-->
  <template v-if="zoomLens">
    <!--Picker-->
    <div ref="pick"
      class="as-zoom-pick"
      :style="ZoomLenPickStyle"></div>
    <!--Docker-->
    <div ref="dock"
      v-if="showZoomPick"
        class="as-zoom-dock"
        :style="ZoomLenDockStyle"></div>
  </template>
</a>