<a class="web-media-image"
  :class="TopClass"
  :href="TheHref"
  :target="isNewTab ? '_blank' : '_self'"
  @click.left="OnClickTop"
  @mousemove="OnMouseMove"
  @mouseleave="OnMouseLeave">
  <!--Image-->
  <div class="as-img-con">
    <img ref="img"
      v-if="TheSrc"
        :style="ImageStyle"
        :src="TheSrc"
        draggable="false"
        @load="OnImageLoaded"
        @mouseenter="OnImageMouseEnter"
        @mouseleave="OnImageMouseLeave"/>
    <!-- Tags -->
    <div
      v-if="TheTags"
        class="as-tags">
        <div
          v-for="tag of TheTags"
            class="as-tag-item"
            :class="tag.className"
            :style="tag.style">
            <span>{{tag.text}}</span>
        </div>
    </div>
  </div>
  <!--Text-->
  <div ref="text"
    v-if="TheText || TheBrief"
      class="as-text"
      :style="TextStyle"
      @mouseenter="OnTextMouseEnter"
      @mouseleave="OnTextMouseLeave"
      @transitionend="OnTextTransitionend">
      <div
        v-if="TheText"
          class="as-title"><span>{{TheText}}</span></div>
      <div
        v-if="TheBrief"
          class="as-brief"
          :style="BriefStyle"><span>{{TheBrief}}</span></div>
  </div>
  <!--Zoom len-->
  <div
    v-if="isWaitEnterCooling"
      class="as-cooling-tip">
      <i class="fas fa-cog fa-spin"></i>
  </div>
  <!--Zoom len-->
  <div v-if="zoomLens"
    class="as-zoomlen">
      <!--Picker-->
      <div ref="pick"
        class="as-zoom-pick"
        :style="ZoomLenPickStyle"></div>
      <!--Docker-->
      <div ref="dock"
        class="as-zoom-dock"
        :style="ZoomLenDockStyle"></div>
  </div>
</a>