<div class="ti-layout" :class="topClass">
  <!--
    Is for tabs
  -->
  <template  v-if="'tabs' == type">
    <!--
      Tabs list
    -->
    <div class="layout-tabs">
      <ul>
        <li v-for="it in tabItems"
          :key="it.name"
          :class="it.className"
          @click="setCurrentTabItem(it)">
          <span v-if="it.icon" class="it-icon">
            <ti-icon :value="it.icon"/>
          </span>
          <span class="it-text">{{it.text|i18n}}</span>
        </li>
      </ul>
    </div>
    <!--
      Cotnent
    -->
    <ti-block 
      class="ti-fill-parent"
      v-bind="currentTabBlock.info"
      :hide-title="true"
      :shown="shown"
      @block:show="$emit('block:show', $event)"
      @block:hide="$emit('block:hide', $event)"
      @block:event="$emit('block:event', $event)">
      <component :is="currentTabBlock.comType"
        class="ti-fill-parent"
        v-bind="currentTabBlock.comConf"
        @block:show="$emit('block:show', $event)"
        @block:hide="$emit('block:hide', $event)"
        @block:event="$emit('block:event', $event)"/>
    </ti-block>
  </template>
  <!--
    Body slot
  -->
  <template v-else>
    <section class="ti-fill-parent"><slot></slot></section>
  </template>
</div>