<div 
  class="web-auth-signup web-simple-form" 
  :class="TopClass">
  <!--
    Top Logo
  -->
  <div 
    v-if="logo"
      class="as-logo">
      <ti-icon :value="logo"/>
  </div>
  <!--
    Head text
  -->
  <header>{{Msgs.title|i18n}}</header>
  <!--
    Main Area
  -->
  <section>
    <!--
      Input: Name
    -->
    <div class="as-input" :class="NameClass">
      <input 
        spellcheck="false"
        :placeholder="Msgs.nameTip|i18n"
        v-model="data.name"></div>
    <!--
      Input: Password
    -->
    <div class="as-input" :class="PasswdClass">
      <input 
        spellcheck="false"
        :type="PasswdInputType"
        :placeholder="Msgs.passwdTip|i18n"
        v-model="data.passwd">
      <span v-if="Msgs.codeGet">
        <em v-if="delay>0">{{'auth-vcode-delay'|i18n({sec:delay})}}</em>
        <a v-else
          @click="OnGetVcode">{{Msgs.codeGet|i18n}}</a>
      </span>
    </div>
    <!--
      Submit button
    -->
    <div class="as-btn">
      <button @click="OnAuthSubmit">{{Msgs.btnText|i18n}}</button>
    </div>
    <!--
      Sublinks: switch mode / passwd-back
    -->
    <ul class="as-links">
      <li v-if="Msgs.linkLeft"
        class="at-left">
        <a @click="OnChangeMode">{{Msgs.linkLeft   |i18n}}</a>
      </li>
      <li v-if="Msgs.linkRight"
        class="at-right">
        <a>{{Msgs.linkRight |i18n}}</a></li>
    </ul>
    <div>
      <a href="/api/strato_website/weixin/oauth2_open">微信登陆</a>
    </div>
  </section>
</div>