.ti-form-list {
  ul {
    @include raw-list;
    padding:1px;
  }
  li {
    @include flex-align($ai:center);
    @include border(1px, dashed, shallow, top);
    cursor:pointer;
    padding:.02rem .06rem;
    &:first-child {border-top:0;}    
    &:hover {
      @include color($color-primary, r, c);
    }
    &.is-selected {
      @include color($color-secondary, r, c);
    }
    > .it-icon {
      @include flex-center;
      width:.32rem;
    }
    > .it-text {
      padding:0 0.1rem 0 .04rem;
    }
  }
}