.ti-form-toggle {
  @include noselect;
  display:inline-block;
  cursor:pointer;
  aside {
    position: relative;
    width:.4rem; padding:1px;
    border-radius: .2rem;
    transition: background-color .2s;
    b {
      @include color($color-success, null, r);
      display:block;
      border-radius: 50%;
      width:.2rem; height:.2rem;
      transition: margin-left .2s;
    }
  }
  //-----------------------------------------
  &.is-off aside {
    @include color($color-chip, r, c);
    border:1px solid map-get($color-line, dark);
    b {border:1px solid map-get($color-line, dark);}
  }
  //-----------------------------------------
  &.is-on aside {
    @include color($color-success, r, c);
    border:1px solid transparent;
    b {
      border:1px solid transparent;
      margin-left: .16rem;
    }
  }
  //-----------------------------------------
}