<div class="web-shelf-wall"
  :class="TopClass"
  @scroll="OnScroll">
  <!--
    Loading
  -->
  <ti-loading
    v-if="isLoading"
      class="as-big"
      v-bind="loadingAs"/>
  <!--
    Blank
  -->
  <ti-loading
    v-else-if="isEmpty"
      class="as-big"
      v-bind="blankAs"/>
  <!--
    Each Items
  -->
  <div v-else class="wall-group" ref="group">
    <!--
      ===========================================
      Items in row
    -->
    <div
      v-for="it in WallItems"
        :key="it.key"
        class="wall-tile is-com"
        :class="it.className"
        :style="it.style">
        <component :is="it.comType" v-bind="it.comConf"/>
    </div>
    <!--
      ===========================================
      Blank items
    -->
    <div
      v-for="it in BlankItems"
        :key="it.key"
        class="wall-tile is-blank"
        :class="it.className"
        :style="it.style"></div>
  </div> <!--End Row-->
  <!--
    Show load more
  -->
  <div ref="more"
    v-if="showLoadMore"
      class="as-load-more">
      <div ref="moreBtn"
        class="as-load-more-btn"
        @click.left="OnClickLoadMore">
        <span class="as-icon"><TiIcon :value="LoadingMoreBtn.icon"/></span>
        <span class="as-text">{{LoadingMoreBtn.text | i18n}}</span>
      </div>
  </div>
</div>