<div class="ti-color" >
  <!--
    Color Matrix Table
  -->
  <div class="as-table">
    <table>
      <thead>
        <tr>
          <th v-for="color in colorGrays">
            <span 
              :style="colorItemStyle(color)" 
              @click="onColorClicked(color)"></span>
          </th>
        </tr>
        <tr>
            <th v-for="color in colorMajors">
              <span 
                :style="colorItemStyle(color)" 
                @click="onColorClicked(color)"></span>
            </th>
          </tr>
      </thead>
      <!--Matrix-->
      <tbody>
        <tr v-for="row in colorMatrix"
          class="as-row">
          <td v-for="color in row">
            <span 
              :style="colorItemStyle(color)" 
              @click="onColorClicked(color)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div> <!-- End Matrix-->
  <!--
    Color Input
  -->
  <div class="as-input">
    <div class="as-hex">
        <input class="as-value" 
          spellcheck="false"
          :value="theHex"
          @change="onHexChanged"/>
    </div>
    <div class="as-alpha" v-if="showAlpha">
      <ti-input-num 
        :value="theAlpha"
        :max-value="100"
        :min-value="0"
        :step="10"
        width="100%"
        @change="onAlphaChanged"/>
    </div>
  </div>
  <!--
    Color Preview
  -->
  <div class="as-preview">
    <span>{{theColorValue}}</span>
  </div>
</div>