<div class="ti-upload-file-box full-field"
  :class="TopClass"
  v-drop-files.mask="OnDropFiles">
  <!--
    Hidden input file to choose files
  -->
  <input 
    type="file" 
    ref="file" 
    class="ti-hide"
    @change.stop.seft="OnSelectLocalFilesToUpload">
  <!--
    Major preview zone
  -->
  <div class="box-item">
    <!------------Prefix icon------------>
    <div class="box-item-icon"
      @mouseenter.left="OnMouseEnterPrefix"
      @mouseleave.left="OnMouseLeaverPrefix"
      @click.left="OnRemove">
      <TiIcon  :value="PreviewIcon"/>
    </div>
    <!------------box content------------>
    <div class="box-item-text">
      <a v-if="hasHref" :href="href" @click.left.prevent>{{BoxItemText}}</a>
      <span v-else>{{BoxItemText}}</span>
    </div>
    <!------------Suffix Menu------------>
    <TiActionbar class="box-item-menu" :items="ActionItems"/>
    <!----------Upload prcessing-------->
    <div v-if="isShowProgress"
      class="as-progress ti-progress-bar">
      <b class="bar-outer">
        <em class="bar-inner" 
            :style="ProgressStyle"></em>
        <span class="bar-tip">{{ProgressTip}}</span>  
      </b>
    </div>
  </div>

</div>