<div class="web-gsi-leaflet ti-fill-parent">
  <div class="wgl-map-main ti-fill-parent" ref="main"></div>
  <!--
    Tip Info
  -->
  <div 
    v-if="isShowInfo"
      class="wgl-map-info">
      <!--
        Zoom
      -->
      <div class="info-ele" v-if="ShowInfo.zoom">
        <i class="fas fa-search-location"></i>
        <span>{{geo.zoom}}</span>
      </div>
      <!--
        Center
      -->
      <div class="info-ele" v-if="ShowInfo.center">
        <i class="fas fa-arrows-alt"></i>
        <span>{{GeoStr(geo.center.lat)}}</span>/<span>{{GeoStr(geo.center.lng)}}</span>
      </div>
      <!--
        Latitude range
      -->
      <div class="info-ele" v-if="ShowInfo.latRange">
        <i class="fas fa-arrows-alt-v"></i>
        <span>{{GeoStr(geo.N)}}</span>/<span>{{GeoStr(geo.S)}}</span>
      </div>
      <!--
        Longitude range
      -->
      <div class="info-ele" v-if="ShowInfo.lngRange">
        <i class="fas fa-arrows-alt-h"></i>
        <span>{{GeoStr(geo.W)}}</span>/<span>{{GeoStr(geo.E)}}</span>
      </div>
      <!--
        Mouse
      -->
      <div class="info-ele" v-if="ShowInfo.pointer">
        <i class="fas fa-map-marker"></i>
        <span>{{GeoStr(mouse.lat)}}</span>/<span>{{GeoStr(mouse.lng)}}</span>
      </div>
  </div>
</div>