<div class="ti-input-group full-field" :class="TopClass">
  <!----------------------------------------->
  <template v-for="fld in GroupFields">
    <div v-if="fld.sepChar" class="as-sep">
      <span>{{fld.sepChar}}</span>
    </div>
    <component
      :is="fld.comType"
      v-bind="fld.comConf"
      :value="fld.value"
      @change="OnInputChange(fld,$event)"
    />
  </template>
  <!----------------------------------------->
  <div class="as-clear" v-if="showCleaner && hasFields">
    <a @click="OnClear"><i class="zmdi zmdi-close"></i></a>
  </div>
  <!----------------------------------------->
</div>
