<div class="table-row"
  :class="topClass"
  @click.left.stop="onClickRow">
  <!--
    Prefix
  -->
  <div class="table-row-head"
    :style="theRowHeadStyle">
    <!-- Indents -->
    <div v-for="n in indent"
        class="row-indent"></div>
    <!--ICON: Handler-->
    <template v-if="icon">
      <ti-icon
        v-if="hasRealIcon"
          class="row-icon"
          :value="icon"
          @click.native.left.stop="onClickIcon"/>
      <div v-else
        class="row-icon"></div>
    </template>
    <!--ICON: Checker-->
    <ti-icon v-if="checkable"
        class="row-checker"
        :value="theCheckIcon"
        @click.native.left.stop="onClickChecker"/>
  </div>
  <!--
    Cells
  -->
  <ti-table-cell v-for="fld in fields"
    :key="fld.index"
    v-bind="fld"
    :cell-size="getCellSize(fld.index + 1)"
    :data="data"
    @item:changed="$emit('item:changed', $event)"/>
</div>