<div class="ti-crumb-item" 
  :class="topClass"
  @click.left="onClickTop">
  <!--
    Icon
  -->
  <ti-icon v-if="icon" 
    class="as-icon"
    :value="icon"/>
  <!--
    Text
  -->
  <template v-if="text">
    <a v-if="href"
      class="as-text"
      @click.prevent
      :href="href"
      :class="textClass">{{text|i18n}}</a>
    <span v-else
      class="as-text"
      :class="textClass">{{text|i18n}}</span>
  </template>
  <!--
    Asterisk
  -->
  <span v-if="asterisk"
    class="as-asterisk"
    ></span>
  <!--
    Path Icon
  -->
  <ti-icon v-if="!atLast"
    class="as-path-icon"
    :value="pathIcon"/>
</div>