<div 
  class="ti-combo-auth" 
  :class="topClass">
  <header>{{msgs.title|i18n}}</header>
  <section>
    <div class="auth-in">
      <input 
        spellcheck="false"
        :placeholder="msgs.nameTip|i18n"
        v-model="params.name"></div>
    <div class="auth-in">
      <input 
        spellcheck="false"
        :placeholder="msgs.passwdTip|i18n"
        v-model="params.passwd">
      <span v-if="msgs.codeGet">
        <a>{{msgs.codeGet|i18n}}</a>
      </span>
    </div>
    <div class="auth-btn">
      <button @click="doAuth">{{msgs.btnText|i18n}}</button>
    </div>
    <ul>
      <li v-if="msgs.linkLeft"
        class="at-left">
        <a @click="onChangeMode">{{msgs.linkLeft   |i18n}}</a>
      </li>
      <li v-if="msgs.linkRight"
        class="at-right">
        <a>{{msgs.linkRight |i18n}}</a></li>
    </ul>
  </section>
</div>