<div 
  class="ti-combo-auth ti-simple-form" 
  :class="topClass">
  <header>{{msgs.title|i18n}}</header>
  <section>
    <div class="as-input" :class="nameClass">
      <input 
        spellcheck="false"
        :placeholder="msgs.nameTip|i18n"
        v-model="data.name"></div>
    <div class="as-input" :class="passwdClass">
      <input 
        spellcheck="false"
        :placeholder="msgs.passwdTip|i18n"
        v-model="data.passwd">
      <span v-if="msgs.codeGet">
        <em v-if="delay>0">{{'auth-vcode-delay'|i18n({sec:delay})}}</em>
        <a v-else
          @click="onGetVcode">{{msgs.codeGet|i18n}}</a>
      </span>
    </div>
    <div class="as-btn">
      <button @click="doAuth">{{msgs.btnText|i18n}}</button>
    </div>
    <ul class="as-links">
      <li v-if="msgs.linkLeft"
        class="at-left">
        <a @click="onChangeMode">{{msgs.linkLeft   |i18n}}</a>
      </li>
      <li v-if="msgs.linkRight"
        class="at-right">
        <a>{{msgs.linkRight |i18n}}</a></li>
    </ul>
  </section>
</div>