<div class="side-nav-item" 
  :class="TopClass">
  <!--
    Self Info
  -->
  <div class="it-info" >
    <!--Icon-->
    <span v-if="icon" class="it-info-icon">
      <ti-icon :value="icon" size=".16rem"/>
    </span>
    <!--Group-->
    <span v-if="!hasHref"
      class="it-info-text"
      @click.left="OnToggleGroupStatus">{{title|i18n}}</span>
    <!--Item-->
    <a v-else
      class="it-info-text"
      :href="href"
      @click.stop.prevent="OnClickItemInfo">
      <span class="as-title">{{title|i18n}}</span>
      <span v-if="tip" class="as-tip">{{tip|i18n}}</span>
    </a>
    <!--
      Group status icon
    -->
    <span
      v-if="isGroup"
        class="it-grp-status"
        @click.left="OnToggleGroupStatus">
        <ti-icon :value="GroupStatusIcon"/>
    </span>
  </div>
  <!--
    Sub Container
  -->
  <div class="it-con" v-if="items && items.length > 0">
      <side-nav-item v-for="subIt in items"
        :key="subIt.key"
        :group-status-store-key="subIt.key"
        :highlight-id="highlightId"
        v-bind="subIt"/>
  </div>
</div>