.hmaker-site-manager {
  //---------------------------------------------
  .site-current-view {
    $cvH : .4rem;
    //-------------------------------------------
    padding-top: $cvH;
    //-------------------------------------------
    &.is-changed {
      .current-view-title {
        > .as-name {
          @include color($color-secondary, c);
        }
      }  
    }
    //-------------------------------------------
    .current-view-title {
      @include pos-abs($t:0,$l:0,$r:0,$h:$cvH);
      @include flex-align-nowrap($ai:center);
      @include border(1px, solid, shallow, bottom);
      padding: 0 .06rem;
      //-----------------------------------------
      > .as-name {
        @include flex-align-nowrap;
        @include font-fixed;
        flex:0 0 auto;
        > .as-icon {margin:0 .06rem}
      }
      //-----------------------------------------
      > .as-crumb {
        flex:1 1 auto;
      }
      //-----------------------------------------
      > .as-actions {
        flex:0 0 auto;
      }
      //-----------------------------------------
    }
    //-------------------------------------------
    .current-view-con {
      position: relative;
    }
    //-------------------------------------------
  }
  //---------------------------------------------
}
/////////////////////////////////////////////////
.hmaker-site-node-editing {
  //---------------------------------------------
  $headH : .37rem;
  //---------------------------------------------
  position: relative;
  padding:$headH 0 0 0;
  //---------------------------------------------
  > .as-head {
    @include pos-abs($t:0,$l:0,$r:0,$h:$headH);
    @include border(1px, solid, shallow, bottom);
    @include color($color-bar, r, c);
    @include flex-align-nowrap;
    @include noselect;
    padding:0 .08rem;
    //-------------------------------------------
    > .at-left {
      @include flex-align-center;
      flex:1 1 auto; font-size:.14rem;
      > i {font-size: 1.2em;}
      > span {margin:0 .06rem;}
    }
    //-------------------------------------------
  }
  //---------------------------------------------
  > .as-edit {
    @include pos-abs($b:0,$l:0,$r:0,$t:$headH);
  }
  //---------------------------------------------
}
/////////////////////////////////////////////////
.hmaker-edit-site-nav {
  //---------------------------------------------
  $formH : 2.6rem;
  //---------------------------------------------
  position: relative;
  padding:0 0 $formH 0;
  //---------------------------------------------
  > .as-table {
  }
  //---------------------------------------------
  > .as-form {
    @include pos-abs($b:0,$l:0,$r:0,$h:$formH);
    @include border(1px, solid, shallow, top);
  }
  //---------------------------------------------
}
/////////////////////////////////////////////////