.ti-text-json-tree {
  //-----------------------------------------------
  // Reset table row contains
  &.ti-table > .table-body .table-cell > .cell-con {
    padding:0;
  }
  //-----------------------------------------------
  .json-value {
    @include flex-align-nowrap($ai:stretch,$jc:flex-start);
    @include font-fixed;
    //---------------------------------------------
    > .as-editing {
      flex:1 1 auto;
    }
    //---------------------------------------------
    > .as-actions {
      flex:0 0 auto;
      padding:.04rem .06rem;
      font-size:.8em; 
      .menu-top-item {
        .as-info {
          &[item-enabled]:hover {
            @include color($color-secondary, r, c);
          }
          padding:0;
          .as-icon {
            height:2em; width:2em;
          }
        }
      }
    }
    //---------------------------------------------
    > .as-label {
      opacity: 0.4;  padding:0 .04rem;
    }
    //---------------------------------------------
  }
  //-----------------------------------------------
  .ti-label {
    &.is-string {
      @include color($color-text, c);
    }
    &.is-integer,
    &.is-float,
    &.is-number {
      @include color($color-number, c);
    }
    &.is-index {
      @include color($color-secondary, c);
    }
  }
  //-----------------------------------------------
  // Highlight row style
  .table-row.is-checked {
    //---------------------------------------------
    .json-value {
      color:inherit;
    }
    //---------------------------------------------
    .ti-label {
      color:inherit;
    }
    //---------------------------------------------
  }
  //-----------------------------------------------
}