//////////////////////////////////////////////////////////////
.ti-modal {
  //---------------------------------------------------------
  > .mdl-mask {
    @include pos-fixed-full;
    @include color($color-mask, r, bushy);
    z-index: $z-top;
  }
  //---------------------------------------------------------
  > .mdl-con {
    @include pos-fixed-full;
    z-index: $z-top;
    //-------------------------------------------------------
    > .mdl-main {
      @include color($color-chip, r, c);
      @include flex-align-v-nowrap;
      //-----------------------------------------------------
      position:relative;
      min-width: 3.2rem;
      min-height: 1.8rem;
      //-----------------------------------------------------
      > .mdl-closer {}
      //-----------------------------------------------------
      > .mdl-title {
        @include noselect;
        @include flex-align-nowrap;
        @include color($color-bar, r, c);
        @include border(1px, solid, shallow, bottom);
        padding:.04rem .08rem; 
        font-size:12px; 
        > * {
          @include flex-center;
          display:inline; line-height:24px;
        }
        > .mdl-title-icon {
          margin:0 .06rem 0 0; opacity: 0.4;
          > i {font-size:1.3em; display:block;}
        }
      }
      //-----------------------------------------------------
      > .mdl-body {
        height: 100px; overflow: auto;
        flex:1 1 auto;
      }
      //-----------------------------------------------------
      > .mdl-actions {
        @include noselect;
        @include color($color-func, r, c);
        @include border(1px, solid, shallow, top);
        > ul {
          @include raw-list; 
          padding:.04rem;
          > li {
            @include color($color-chip, r, c);
            @include fireable;
            @include border(1px, solid, dark);
            margin:.02rem; padding:0 .12rem;
            font-size:12px; line-height:2.4em;
            min-width:1rem; text-align:center;
            letter-spacing: .1em;
            .mdl-btn-icon {margin-right:.05rem;}
          }
        }
      } // ~ > .mdl-actions
    } // ~ > .mdl-main
  } // ~ .mdl-con
  //-----------------------------------------------------------
  $titlePath: ".mdl-con > .mdl-main > .mdl-title";
  &.ti-success   > #{$titlePath} {@include color($color-success, r, c);}
  &.ti-warn      > #{$titlePath} {@include color($color-warn,    r, c);}
  &.ti-info      > #{$titlePath} {@include color($color-info,    r, c);}
  &.ti-error     > #{$titlePath} {@include color($color-error,   r, c);}
  &.ti-track     > #{$titlePath} {@include color($color-track,   r, c);}
  //-----------------------------------------------------------
}
//////////////////////////////////////////////////////////////
// Desktop/Tablet
//////////////////////////////////////////////////////////////
.ti-modal.vm-desktop, .ti-modal.vm-tablet {
  $closer-width : 32px;
  > .mdl-con {
    @include flex-center;
    padding:.2rem;
    z-index: $z-top;
    > .mdl-main {
      //....................................
      > .mdl-closer {
        @include pos-abs($t:0, $r:0);
        @include flex-full;
        cursor:pointer;
        width:$closer-width; height:$closer-width; 
        line-height: $closer-width;
        margin-right: $closer-width/-2;
        margin-top: $closer-width/-2;
        > span {
          @include flex-full-center;
          @include color($color-mask, r, bushy);
          @include border(2px, solid, r);
          border-radius:50%; overflow:hidden;
          font-size: 16px;
          transition: transform 0.3s;
        }
        &:hover {
          > span {
            @include color($color-secondary, r, c);
            border-width:0;
            transform: scale(1.2) rotate(180deg);
          }
        }
      }
      //....................................
      > .mdl-title {}
      //....................................
      > .mdl-body {}
      //....................................
      > .mdl-actions {
        @include noselect;
        @include color($color-func, r, c);
        @include border(1px, solid, shallow, top);
        > ul {
          @include flex-align($jc:flex-end);
        }
      }
      //....................................
    }
  } // ~ .mdl-con
}
//////////////////////////////////////////////////////////////
// Phone
//////////////////////////////////////////////////////////////
.ti-modal.vm-phone {
  $closer-width : 32px;
  $closerPath: ".mdl-con > .mdl-main > .mdl-closer";
  &.ti-success   > #{$closerPath} {@include color($color-success, r);}
  &.ti-warn      > #{$closerPath} {@include color($color-warn,    r);}
  &.ti-info      > #{$closerPath} {@include color($color-info,    r);}
  &.ti-error     > #{$closerPath} {@include color($color-error,   r);}
  &.ti-track     > #{$closerPath} {@include color($color-track,   r);}
  //-----------------------------------------------------------
  > .mdl-con {
    @include flex-center($ai:flex-start, $ac:flex-start);
    padding:0px;
    z-index: $z-top;
    > .mdl-main {
      @include color($color-paper, r, c);
      width:100%; height:100%;
      padding:1px;
      //....................................
      > .mdl-closer {
        @include pos-abs($t:0, $r:0);
        @include flex-center;
        cursor:pointer;
        width:$closer-width; height:$closer-width; 
        line-height: $closer-width;
        > span {
          @include flex-full-center;
          overflow:hidden;
          font-size: 16px;
          transition: transform 0.3s;
        }
        &:hover {
          > span {
            @include color($color-secondary, c);
            transform: scale(1.2) rotate(180deg);
          }
        }
      }
      //....................................
      > .mdl-title {
        font-size:14px; padding-left:16px;
        > * {
          line-height:32px;
        }
      }
      //....................................
      > .mdl-body {}
      //....................................
      > .mdl-actions {
        @include noselect;
        @include color($color-chip, r, c);
        @include border(1px, solid, shallow, top);
        > ul {
          padding:20px;
          > li {margin:10px; padding:8px;}
        }
      }
      //....................................
    }
  } // ~ .mdl-con
}
//////////////////////////////////////////////////////////////
// For alert/confirm/prompt
//-----------------------------------------------------------
.ti-modal-noti {
  position: relative;
  padding:.12rem .2rem .12rem 1.2rem; 
  //---------------------------------------------
  > .ti-modal-noti-icon {
    @include pos-abs($t:0,$l:0,$w:1.2rem,$h:1.2rem);
    @include flex-center;
    padding:.08rem; 
    font-size:.5rem;
    > * {font-size:inherit;}
  }
  //---------------------------------------------
  > .ti-modal-noti-text {
    padding: .1rem
  }
  //---------------------------------------------
  > .ti-modal-noti-more {
    padding: 0 .1rem .1rem .1rem;
    &.prompt-input {
      input {
        @include text-input;
        flex:1 1 auto; width:100%;
        padding:.12rem; font-size:1.2em;
        outline:none;
      }
    }
  }
  //---------------------------------------------
}
//-----------------------------------------------------------
.ti-modal.vm-phone .ti-modal-noti {
  position: relative;
  padding:.2rem; 
  //---------------------------------------------
  > .ti-modal-noti-icon {
    @include flex-center;
    padding:.08rem; 
    font-size:.64rem;
    > * {font-size:inherit;}
  }
  //---------------------------------------------
  > .ti-modal-noti-text {
    padding: .15rem; font-size:.2rem; 
    text-align:center;
  }
  //---------------------------------------------
  > .ti-modal-noti-more {
    padding: 0 .1rem .1rem .1rem;
    &.prompt-input {
      input {
        @include text-input;
        flex:1 1 auto; width:100%;
        padding:.12rem; font-size:1.2em;
        outline:none;
      }
    }
  }
  //---------------------------------------------
}
//////////////////////////////////////////////////////////////