//---------------------------------------
.ti-gui {
  position: relative;      // For the sub-panles
  width:100%; height:100%; // Always fit the parent
  > .gui-con {
    width:100%; height:100%;
  }
}
//---------------------------------------
// Rows
.ti-gui-rows {
  @include flex-align-v-nowrap;
  //-------------------------------------
  &.show-border {
    > .ti-gui-block {
      @include border(1px, solid, shallow, top);
      &:first-child{border:0;}
    }
  }
  //-------------------------------------
}
//---------------------------------------
// Cols
.ti-gui-cols {
  @include flex-align-nowrap($ai:stretch);
  //-------------------------------------
  &.show-border {
    > .ti-gui-block {
      @include border(1px, solid, shallow, left);
      &:first-child{border:0;}
    }
  }
  //-------------------------------------
}
//---------------------------------------
// Tabs
.ti-gui-tabs {
  position: relative;
  //-------------------------------------
  $tabH : .4rem;
  $tabPad: .08rem;
  //-------------------------------------
  // Docking Position
  &.at-top {
    padding-top: $tabH;
    > header {
      @include pos-abs($l:0,$r:0,$t:0,$h:$tabH);
      border-bottom:1px solid map-get($color-line, shallow);
      padding-bottom: 0;
      li {
        border-top-width:3px;
        border-bottom:0;
        margin-bottom:-1px;
      }
    }
  }
  &.at-bottom {
    padding-bottom: $tabH;
    > header {
      @include pos-abs($l:0,$r:0,$b:0,$h:$tabH);
      border-top:1px solid map-get($color-line, shallow);
      padding-top: 0;
      li {
        border-bottom-width:3px;
        border-top:0;
        margin-top:-1px;
      }
    }
  }
  //-------------------------------------
  // Tab Bar 
  > header {
    padding: $tabPad;
    //-----------------------------------
    @include noselect;
    @include color($color-bar, r, c);
    //-----------------------------------
    &.as-left   ul {@include flex-align-nowrap($ai:stretch);}
    &.as-center ul {@include flex-align-nowrap($ai:stretch, $jc:center);}
    &.as-right  ul {@include flex-align-nowrap($ai:stretch, $jc:flex-end);}
    //-----------------------------------
    ul {
      width:100%; height:100%;
    }
    //-----------------------------------
    li {
      @include flex-center;
      cursor:pointer; 
      border:1px solid transparent;
      min-width: .8rem; 
      padding:0 .1rem;
      line-height:.28rem; 
      font-size:.12rem;
      &.is-current {
        @include color($color-body, r, c);
        border-color:map-get($color-line, dark);
        border-top-color:map-get($color-primary, c);
        border-bottom-color:map-get($color-primary, c);
        background-color:map-get($color-body, c);
      }
      > .it-icon {
        padding-right:.06rem;
      }
    }
    //-----------------------------------
  }
  //-------------------------------------
  // Main Block Section
  > section {
    width:100%; height:100%;
  }
  //-------------------------------------
}
//---------------------------------------
// Panel
.ti-gui-panel {
  
}
//---------------------------------------
// Block
.ti-gui-block {
  position: relative;
  //-------------------------------------
  // Define the block header height
  $BHH: .32rem;
  //-------------------------------------
  &.is-flex-grow   {flex:1 0 auto;}
  &.is-flex-shrink {flex:0 1 auto;}
  &.is-flex-both   {flex:1 1 auto;}
  &.is-flex-none   {flex:0 0 auto;}
  //-------------------------------------
  &.is-show-header {
    padding-top: $BHH;
    > .block-head {
      @include pos-abs($l:0,$r:0,$t:0,$h:$BHH);
    }
  }
  //-------------------------------------
  > .block-main {
    width:100%; height:100%;
  }
  //-------------------------------------
}
//---------------------------------------
// Animation
//---------------------------------------
@mixin gui-trans($name, $trans, $tor:null, $du:.3s) {
  .gui-panel-#{$name}-enter-active, .gui-panel-#{$name}-leave-active {
    transition: opacity $du;
    > .ti-block {
      transition: transform $du ease;
      @if $tor != null {
        transform-origin: $tor;
      }
    }
  }
  .gui-panel-#{$name}-enter, .gui-panel-#{$name}-leave-to  {
    opacity: 0;
    > .ti-block {transform: $trans;}
  }
}
@include gui-trans(top,    translateY(-300px));
@include gui-trans(left,   translateX(-300px));
@include gui-trans(right,  translateX(300px));
@include gui-trans(bottom, translateY(300px));
@include gui-trans(center, scale(0));
@include gui-trans(left-top,     scale(0), left top);
@include gui-trans(right-top,    scale(0), right top);
@include gui-trans(bottom-left,  scale(0), bottom left);
@include gui-trans(bottom-right, scale(0), bottom right);
