.ti-combo-filter {
  @include flex-align-nowrap;
  //---------------------------------------------
  &.as-spacing-comfy {padding: .08rem;}
  &.as-spacing-tiny  {padding: .04rem;}
  //---------------------------------------------
  > .ti-combo-box.as-filter {
    flex:1 1 auto;
    //-------------------------------------------
    > .as-box {
      @include flex-align-nowrap;
      > .ti-input {flex:1 1 auto;}
      > .ti-combo-sorter {flex:0 0 auto;}
    }
    //-------------------------------------------
  }
  //---------------------------------------------
}