/////////////////////////////////////////////////////
// Session: Badge
.ti-web-session-badge {
  @include noselect;
  @include flex-align-nowrap;
  > .as-avatar {
    @include flex-center;
    > img {
      border:1px solid rgba(230,230,230,0.8);
      height:2.6em; width:2.6em;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  > .as-icon {
    font-size:1em;
  }
  > .as-name {
    @include border(1px,solid,highlight,right);
    padding:0 .08rem;
  }
  > .as-link {
    padding:0 .08rem;
  }
}
/////////////////////////////////////////////////////
// Heading
.ti-web-heading {
  @include flex-align-nowrap;
  border-bottom:2px solid map-get($color-line, shallow);
  margin: .1rem 0 .06rem 0;
  padding: .04rem .08rem;
  height: unset;
  //-----------------------------------------
  > .as-title {
    font-weight: 400; font-size:1.2em;
  }
  //-----------------------------------------
  > .as-comment {
    color:map-get($color-track, c);
    padding:0 .1rem;
  }
  //-----------------------------------------
}
/////////////////////////////////////////////////////
// Meta:Article
.ti-web-meta-article {
  text-align: center;
  padding:.1rem 0;
  //------------------------------
  > h1 {
    margin:0; padding:.08rem;
    font-weight: bold; font-size:2em;
  }
  //------------------------------
  > .as-brief {
    @include color($color-info, c);
    padding:.1rem; font-size:1em;
  }
  //------------------------------
  > .as-sub {
    ul {
      @include flex-align-center($jc:center);
      color: map-get($color-secondary, c);
      font-size:1em;
    }
    li {
      &:before{
        content:"/"; display:inline;
        margin:0 .1rem;
        color:map-get($color-track, c);
      }
      &:first-child:before {
        content: "";
      }
    }
  }
  //------------------------------
}

/////////////////////////////////////////////////////
// Meta:commodity
.ti-web-meta-commodity {
  padding:.16rem 0;
  > .as-main {
    @include flex-align-nowrap($ai:flex-start);
    @include border(1px, solid, shallow);
    > .at-left {
      flex:0 0 auto;
      width: 37.2%; height:3rem;
    }
    > .at-right {
      flex:0 0 auto;
      width: 61.8%;
      padding:0 .1rem;
      //-------------------------------------------
      > h1 {
        padding:.1rem 0; margin:0; 
        font-weight: bold; font-size:1.2em;
      }
      //-------------------------------------------
      > .as-form {
        .ti-form {
          padding:0;
          .form-field {
            border:0;
            padding:.08rem 0;
            //-----------------------------------
            &.webmc-highlight {
              @include color($color-chip, r, c);
              padding:.1rem .16rem;
              .field-value {
                color:map-get($color-secondary, c);
                font-weight: 900; font-size:2em;
              }
            }
            //-----------------------------------
            .field-name {
              padding-left:0;
              .name-status {
                padding:0;
              }
            }
            //-----------------------------------
          }
        }  // ~ .ti-form
      }
      //-------------------------------------------
      > .as-btns {
        padding:.1rem 0;
        .ti-btn {padding:.1rem .16rem;}
      }
      //-------------------------------------------
    }
  }
}

/////////////////////////////////////////////////////
// Preview
.ti-web-preview {
  > .as-preview {
    @include flex-center;
    @include color($color-track, c);
    width:100%; height:100%;
    font-size:2em;
  }
}

/////////////////////////////////////////////////////
// 
.ti-web-meta-order {
  padding:.2rem;
  //--------------------------------------------
  > h1 {
    font-size:1.6em; font-weight: bold; 
    padding:.1rem 0; margin:0;
    text-align: center;
  }
  //--------------------------------------------
  > .as-items {
    padding:.1rem;
    //------------------------------------------
    .as-table {
      display: table;
      border-spacing: 1px;
      width:100%;
      //-----------------------------------
      .as-price, .as-amount, .as-fee {
        @include font-fixed;
      }
      //-----------------------------------
      > .as-head {
        display: table-header-group;
        color: map-get($color-track, c);
        ul {display: table-row;}
        li {
          border-bottom:2px solid map-get($color-primary, c);
          display: table-cell;
          padding:.06rem; text-align: center;
          white-space: nowrap;
          &.as-fee {
            text-align: right;
          }
        }
      }
      //-----------------------------------
      > .as-body {
        display: table-row-group;
        .as-row  {display: table-row;}
        .as-cell {
          display: table-cell; 
          padding:.1rem;
          vertical-align: middle;
          text-align: center;
        }
        .order-item {
          .as-title {
            @include flex-align-nowrap;
            flex:1 1 auto;
            > span.as-text {
              padding:0 .1rem; white-space: nowrap;
            }
          }
          .as-fee {text-align: right;}
        }
      }
      //-----------------------------------
    } // .as-table
    //------------------------------------------
  } // .as-items
  //--------------------------------------------
  .as-summary {
    @include color($color-chip, r, c);
    border:1px dashed map-get($color-secondary, c);
    width:3rem; margin:.2rem 0 .2rem auto;
    padding:.2rem;
    .as-sum-fee {
      padding:.1rem 0; text-align:right;
      span {font-weight: bold;}
    }
    .as-btns {
      border-top:1px dashed map-get($color-line, dark);
      padding:.1rem 0;
      a {
        width:100%;
        padding:.1rem;
      }
    }
  }
  //--------------------------------------------
}

/////////////////////////////////////////////////////
// Content:Markdown
.ti-web-content-markdown {
  
}

/////////////////////////////////////////////////////
// Footer
.ti-web-footer {
  @include color($color-primary, r, c);
  text-align: center;
  padding:.1rem;
}

/////////////////////////////////////////////////////
// Tip: Under Construction
.ti-web-roadblock {
  @include noselect;
  @include color($color-disable, c, r);
  @include flex-center;
  width:100%; height:100%;
  padding-bottom: 20%;
  > .as-main {
    font-size:.32rem;
    > .as-icon {
      font-size:5em; padding:.1em;
    }
    > .as-text {
      font-size:1em; text-align: center;
    }
  }
}


/////////////////////////////////////////////////////
// Choose Mode By Thumbs
.ti-web-choose-mode {
  @include noselect;
  @include flex-center;
  padding:.2rem;
  //--------------------------------------
  > .wcm-item {
    margin:.1rem; padding:.1rem; cursor:pointer;
    border:1px solid transparent;
    width:1.2rem; 
    //------------------------------------
    > .as-icon {
      font-size:.64rem;
      img {width:.64rem; height:.64rem;}
    }
    //------------------------------------
    > .as-text {
      text-align:center;
      padding:.1rem; font-size:1.2em;
    }
    //------------------------------------
    &:hover {
      @include color($color-selected, r, c);
    }
    //------------------------------------
    &.is-current {
      @include color($color-selected, r, c);
      border-color:map-get($color-primary, c);
    }
    //------------------------------------
  }
  //--------------------------------------
}

/////////////////////////////////////////////////////
// Pay: Choose Types
.ti-web-pay-types {
  > .ti-btn {
    width:2.6rem; margin:0 auto;
    &.is-disabled {
      @include color($color-disable, c, r);
    }
  }
}
/////////////////////////////////////////////////////
// Pay: wait for scan
.ti-web-pay-scan {
  text-align: center;
  .scan-con {
    padding:.2rem 0;
    // QRCode Image: Weixin Scan
    .is-qrcode {
      img {border:0;}
    }
    // IFRAME: Alipay Scan
    .is-iframe {
      iframe {
        width:200px; height:200px;
        margin:0 auto;
      }
    }
  }
  .scan-check-btn {
    width:2.6rem; margin:0 auto;
    &.is-disabled {
      @include color($color-disable, c, r);
    }
  }
}
/////////////////////////////////////////////////////
// Pay: done
.ti-web-pay-done {
  text-align: center;
  //--------------------------------------
  &.is-ok   {@include color($color-success, c);}
  &.is-fail {@include color($color-error, c);}
  &.is-wait {@include color($color-warn, c);}
  //--------------------------------------
  .done-con {
    padding:.2rem 0;
    .done-icon {
      font-size: 1rem;
    }
    .done-tip {
      font-size:.2rem;
    }
  }
  //--------------------------------------
}
