.ti-button {
  @include noselect;
  //---------------------------------------------
  ul {
    @include raw-list;
    @include flex-align-nowrap;
  }
  //---------------------------------------------
  li {
    flex:0 0 auto;
    @include flex-align-nowrap($jc:center); 
    //------------------------------
    > span {display: block;}
    //------------------------------
    margin-left:1px;
    &:first-child {margin-left:0;}
    //------------------------------
    &.is-invert-icon {
      .it-text {order:-1;}
    }
    //------------------------------
    &.is-enabled {@include fireable;}
    &.is-disabled {
      @include color($color-disable, r, c);
      opacity: 0.8; cursor: default;
    }
    //------------------------------
  }
  //---------------------------------------------
  &.is-big {
    li {
      padding:.1rem .3rem; font-size:1.8em;
      min-width: 2.4rem;
      .ti-icon {padding:0 .06rem;}
      .it-text {padding:0 .06rem;}
    }
  }
  //---------------------------------------------
  &.is-normal {
    li {
      padding:.08rem .18rem; font-size:1.2em;
      min-width: 1.6rem;
      .ti-icon {padding:0 .04rem;}
      .it-text {padding:0 .04rem;}
    }
  }
  //---------------------------------------------
  &.is-small {
    li {
      padding:.04rem .08rem; font-size:1em;
      min-width: .8rem;
      .ti-icon {padding:0 .02rem;}
      .it-text {padding:0 .02rem;}
    }
  }
  //---------------------------------------------
  &.at-center {@include flex-center;}
  &.at-left   {@include flex-center($jc:flex-start);}
  &.at-top    {@include flex-center($ac:flex-start);}
  &.at-bottom {@include flex-center($ac:flex-end);}
  &.at-right  {@include flex-center($jc:flex-end);}
  //---------------------------------------------
  &.at-left-top     {@include flex($jc:flex-start,$ac:flex-start);}
  &.at-right-top    {@include flex($jc:flex-end  ,$ac:flex-start);}
  &.at-bottom-left  {@include flex($jc:flex-start,$ac:flex-end);}
  &.at-bottom-right {@include flex($jc:flex-end  ,$ac:flex-end);}
  //---------------------------------------------
}