.ti-menu {@include noselect;}
//------------------------------------------------
// For Desktop
//------------------------------------------------
.ti-menu-desktop { 
  > .menu-desktop-top {
    > li {
      @include flex-center;
      .md-info {
        @include flex-align($ai:center, $wp:nowrap);
        border-radius:.02rem;
        padding:0 .06rem;
        &[item-disabled] {
          @include disabled;
        }
        &[item-enabled] {
          @include fireable;
        }
      }
      .md-icon {
        margin-right:.04rem;
      }
      > .md-line {
        @include color($color-line, null, shallow);
        width:1px; height:.2rem; overflow:hidden;
        margin:0 .02rem;
      }
    }
  }  // ~ > .desktop-
  //------------------------------------------------
  .md-group {
    &:hover {
      > .md-info {
        @include color-highlight;
      }
    }
    &.is-top > .md-group-con:before {
      @include pos-fixed-full;
      display:block; content:"";
      background-color:rgba(0,0,0,0);
      z-index: $z-mask;
    }
  }
  //------------------------------------------------
  .md-group-con {
    &.md-group-closed {display:none;}
    &.md-group-opened {display:block;}
    > .menu-sub {
      position:fixed;
      min-width: 1.5rem;
      z-index: $z-menu;
      padding:1px; 
      @include color($color-cloak, r, c);
      @include border(1px, solid, primary);
      //-------------------------------------------
      .md-line {
        @include color($color-line, null, shallow);
        height:1px; overflow:hidden;
        margin:.04rem 0;
      }
      //-------------------------------------------
      .md-info {
        padding:.02rem .1rem; line-height:1.2em;
        height: .32rem;
        &:hover {
          .md-tip {opacity: 1; }
        }
        > * {
          flex:0 0 auto;
          white-space: nowrap; display:block;
        }
        .md-icon {
          width:.24rem;
        }
        .md-tip {
          flex:1 1 auto;
          font-size:.1rem; padding-left:.24rem;
          text-align:right;
          opacity: 0.4;
          &.md-tip-icon {
            font-size:.14rem; opacity: 0.6;
          }
        }
      }
    }
  }  // ~ .md-group-con
}
//------------------------------------------------
// For Mobile
//------------------------------------------------