.ti-icon {
  @include flex-center;
  vertical-align: middle;
  &.as-inline {
    display:inline-block;
    vertical-align: middle;
  }
  // The Icon
  .icon-icon {
    @include flex-center;
    > img {
      display: block;
      object-fit: cover;
    }
    >  i {
      font-size:1.2em;
    }
  }
}
//-------------------------------------------------
.ti-icon-text {
  @include flex-align-nowrap;
  //-----------------------------------------------
  > .as-icon {
    width:1.2em;
  }
  //-----------------------------------------------
  > .as-text {
    padding:0 .5em;
  }
  //-----------------------------------------------
}
//-------------------------------------------------