.ti-nav-links {
  //------------------------------------
  ul {
    @include raw-list;
    @include flex-align-nowrap;
  }
  //------------------------------------
  li {
    
  }
  //------------------------------------
  &.is-border-solid li {
    @include border(1px, solid, shallow, left);
    &:first-child {border:0;}
  }
  &.is-border-dashed li {
    @include border(1px, dashed, dark, left);
    &:first-child {border:0;}
  }
  &.is-border-dotted li {
    @include border(1px, dotted, dark, left);
    &:first-child {border:0;}
  }
  //------------------------------------
  &.is-align-left   ul {justify-content: flex-start;}
  &.is-align-center ul {justify-content: center;}
  &.is-align-right  ul {justify-content: flex-end;}
  //------------------------------------
  &.is-space-tiny {
    ul {padding:0 .06rem;}
    li {padding:0 .06rem;}
  }
  &.is-space-comfort {
    ul {padding:0 .1rem;}
    li {padding:0 .12rem;}
  }
  &.is-space-loose {
    ul {padding:0 .2rem;}
    li {padding:0 .24rem;}
  }
  //------------------------------------
}