div.ti-input-tags {flex-wrap: wrap;}
.ti-input-tags {
  //-----------------------------------------
  // Tag Box
  > .as-tags {
    @include flex-center;
    padding:0 .04rem; font-size:.8em;
  }
  //-----------------------------------------
  // Input Box
  > .as-input {
    @include flex-align-nowrap($jc:flex-end, $ai:stretch);
    flex:1 1 auto; min-height: .35rem;
    > input {
      width:1.5rem; 
      outline:none;
      flex:1 0 auto;
      border:0; padding:0 .1rem;
      font-family: inherit;
      font-size:inherit;
      background:transparent;
      color:inherit; 
    }
  }
  //-----------------------------------------
}