////////////////////////////////////////////////////
.ti-tree {
  @include noselect;
  padding:.06rem; overflow:auto;
}
////////////////////////////////////////////////////
.ti-tree-node {
  line-height: 2.2em;
  //------------------------------------------------
  > .nd-self {
    @include flex-align-nowrap;
    cursor: pointer;
    //----------------------------------------------
    &:hover {
      @include color($color-selected, r, c);
    }
    //----------------------------------------------
    .nd-handle {
      @include flex-center;
      width: 1.2em; cursor: default;
      opacity: 0.6;
      &:hover {
        opacity: 1; font-weight: bolder;
      }
    }
    //----------------------------------------------
    .nd-box {
      @include flex-align;
      flex:1 1 auto; padding:0;
      //--------------------------------------------
      .nd-info {
        @include flex-align-nowrap;
        flex:1 1 auto; 
        .nd-icon {
          display: block; width: 2em;
        }
        .nd-text {
          display: block; padding:0 .02rem;
          white-space: nowrap;
        }
      }
      //--------------------------------------------
      .nd-tip {
        opacity: 0.8; padding:0 .04rem;
        font-size:.85em;
      }
      //--------------------------------------------
    } // ~ .nd-box
    //----------------------------------------------
  } // ~ > .nd-self {
  //------------------------------------------------
  &.is-selected {
    > .nd-self {
      @include color($color-primary, r, c);
      .nd-info .nd-text {
        color:inherit;
      }
    }
  }
  //------------------------------------------------
  > .nd-children {
    padding-left: .2rem;
  }
  //------------------------------------------------
}
////////////////////////////////////////////////////