.ti-input {
  @include noselect;
  @include flex-align-nowrap($ai:stretch);
  @include border(1px, solid, dark);
  @include color($color-input, c, r);
  //-----------------------------------------
  &.is-focused, &.is-highlight {
    border-color: map-get($color-line, highlight);
  }
  //-----------------------------------------
  > .as-icon {
    @include flex-center;
    flex:0 0 auto; width:.3rem;
    opacity: 0.6;
  }
  //-----------------------------------------
  > .as-text {
    @include flex-center;
    opacity: 0.6;
  }
  //-----------------------------------------
  > .can-hover{
    cursor: pointer; opacity: 1;
    &:hover {
      @include color($color-primary, r, c);
    }
  }
  //-----------------------------------------
  > input {
    width:1.5rem; height:.34rem;
    outline:none;
    flex:1 0 auto;
    border:0; padding:0 .1rem;
    font-family: inherit;
    font-size:inherit;
    background:transparent;
    color:inherit;
  }
  &.is-readonly {
    > input:read-only {cursor:inherit; @include noselect;}
  }
  //-----------------------------------------
  > .as-icon.at-prefix {
    > .ti-icon {transition: 0.5s;}
    &.can-hover:hover {
      .ti-icon {
        transform:scale(1.1) rotate(180deg);
      }
    }
  }
  //-----------------------------------------
  > .as-icon.at-suffix {
    @include flex-center;
    cursor: pointer;
    flex:0 0 auto;
    width:.26rem;
  }
  //-----------------------------------------
  &.has-prefix-icon {
    > input {padding-left:.04rem;}
  }
  //-----------------------------------------
  &.has-suffix-icon {
    > input {padding-right:.04rem;}
  }
  //-----------------------------------------
}