//---------------------------------------
.ti-gui {
  position: relative;      // For the sub-panles
  width:100%; height:100%; // Always fit the parent
  > .gui-con {
    width:100%; height:100%;
  }
}
//---------------------------------------
// Rows
.ti-gui-rows {
  @include flex-align-v-nowrap;
  //-------------------------------------
  &.show-border {
    > .ti-gui-block {
      @include border(1px, solid, shallow, top);
      &:first-child{border:0;}
    }
  }
  //-------------------------------------
}
//---------------------------------------
// Cols
.ti-gui-cols {
  @include flex-align-nowrap($ai:stretch);
  //-------------------------------------
  &.show-border {
    > .ti-gui-block {
      @include border(1px, solid, shallow, left);
      &:first-child{border:0;}
    }
  }
  //-------------------------------------
}
//---------------------------------------
// Tabs
.ti-gui-tabs {
  
}
//---------------------------------------
// Panel
.ti-gui-panel {
  
}
//---------------------------------------
// Block
.ti-gui-block {
  position: relative;
  //-------------------------------------
  // Define the block header height
  $BHH: .32rem;
  //-------------------------------------
  &.is-flex-grow   {flex:1 0 auto;}
  &.is-flex-shrink {flex:0 1 auto;}
  &.is-flex-both   {flex:1 1 auto;}
  &.is-flex-none   {flex:0 0 auto;}
  //-------------------------------------
  &.is-show-header {
    padding-top: $BHH;
    > .block-head {
      @include pos-abs($l:0,$r:0,$t:0,$h:$BHH);
    }
  }
  //-------------------------------------
  > .block-main {
    width:100%; height:100%;
  }
  //-------------------------------------
}
//---------------------------------------
// Animation
//---------------------------------------
@mixin gui-trans($name, $trans, $tor:null, $du:.3s) {
  .gui-panel-#{$name}-enter-active, .gui-panel-#{$name}-leave-active {
    transition: opacity $du;
    > .ti-block {
      transition: transform $du ease;
      @if $tor != null {
        transform-origin: $tor;
      }
    }
  }
  .gui-panel-#{$name}-enter, .gui-panel-#{$name}-leave-to  {
    opacity: 0;
    > .ti-block {transform: $trans;}
  }
}
@include gui-trans(top,    translateY(-300px));
@include gui-trans(left,   translateX(-300px));
@include gui-trans(right,  translateX(300px));
@include gui-trans(bottom, translateY(300px));
@include gui-trans(center, scale(0));
@include gui-trans(left-top,     scale(0), left top);
@include gui-trans(right-top,    scale(0), right top);
@include gui-trans(bottom-left,  scale(0), bottom left);
@include gui-trans(bottom-right, scale(0), bottom right);
