.ti-markdown-preview {
  overflow: auto; padding:1px;
}
///////////////////////////////////////////
// Theme: wiki
///////////////////////////////////////////
.ti-markdown-theme-wiki {
  //---------------------------------------
  padding:0 SZ(20);
  font-size: 16px; line-height: 1.5em;
  letter-spacing: 1px;
  max-width: SZ(1000);
  margin:SZ(10) auto;
  //---------------------------------------
  hr {
    height:0px; border:0;
    @include border(1px, dotted, shallow, top);
    margin:SZ(10) 0;
  }
  //---------------------------------------
  // Inline Text
  code {
    @include font-fixed;
    @include color($color-weaktip, r, c);
    font-size: .9em; 
    margin:0 .2em; 
  }
  b      {color: map-get($color-secondary, c); font-weight: bolder;}
  strong {color: map-get($color-text,      c); font-weight: bolder;}
  i      {color: map-get($color-secondary, c); font-style:italic; opacity: 0.8;}
  em     {color: map-get($color-text,      c); font-style:italic; opacity: 0.8;}
  del    {color:map-get($color-error,      c); text-decoration: line-through;}
  //---------------------------------------
  // Heading
  h1 {font-weight:400; font-size:2.0em; line-height:1.6em; margin:1em 0; padding:0; 
      @include border(1px, solid, shallow, bottom);}
  h2 {font-weight:600; font-size:1.6em; line-height:2em; margin:1em 0; padding:0 .5em;
      @include color($color-cloak, r, c);}
  h3 {font-weight:900; font-size:1.4em; line-height:2em; margin:1em 0; padding:0;}
  h4 {font-weight:900; font-size:1.3em; line-height:2em; margin:1em 0; padding:0;}
  h5 {font-weight:900; font-size:1.2em; line-height:2em; margin:1em 0; padding:0;}
  h6 {font-weight:900; font-size:1.1em; line-height:2em; margin:1em 0; padding:0;}
  //---------------------------------------
  // Table
  table {
    border:0;
    border-collapse: collapse;
    border-spacing: 0;
    margin:2em 0;
  }
  td, th {
    padding:.4em 1em; font-size:.9em;
    border-bottom: 1px solid map-get($color-line, shallow);
  }
  thead td {
    border-bottom: 2px solid map-get($color-line, dark);
    color: map-get($color-track, c);
    font-weight: 900; text-align: center;
  }
  //---------------------------------------
  // Text
  blockquote {
    margin:1em .5em; padding:.3em 1em;
    font-size: .8em;
    border-left:4px solid map-get($color-primary, c);
    color: map-get($color-track, c);
  }
  p {margin: 1.2em 0;}
  p img {margin:2em auto; display:block;}
  .ql-editor.ql-blank::before {top:1.2em;}
  //---------------------------------------
  // Code
  pre {
    @include font-fixed(12px);
    @include color($color-input, r, c);
    width:100%; overflow-x: auto;
    padding:SZ(20); margin:0;
    border-radius: SZ(6);
  }
  //---------------------------------------
  ul, ol {
    padding-left: 1.5em;
    li {list-style-type: none;}
    .li-indent-1{padding-left: 1.5em * 1;}
    .li-indent-2{padding-left: 1.5em * 2;}
    .li-indent-3{padding-left: 1.5em * 3;}
    .li-indent-4{padding-left: 1.5em * 4;}
    .li-indent-5{padding-left: 1.5em * 5;}
    .li-indent-6{padding-left: 1.5em * 6;}
  }
  ul {
    // bultted:2022; checked:2611; unchecked:2610
    li:before {
      content: '\2022'; margin-right:.5em;
      color: map-get($color-primary, c);
    }
    .li-indent-1:before{content: '\25C8';}
    .li-indent-2:before{content: '\25C6';}
    .li-indent-3:before{content: '\2605';}
    .li-indent-4:before{content: '\2013';}
    .li-indent-5:before{content: '\271A';}
    .li-indent-6:before{content: '\2746';}
  }
  ol {
    li{
      counter-reset: list-1 list-2 list-3 list-4 list-5 list-6;
      counter-increment: list-0;
    }
    .li-indent-1{counter-increment: list-1; counter-reset: list-2 list-3 list-4 list-5 list-6;}
    .li-indent-2{counter-increment: list-2; counter-reset: list-3 list-4 list-5 list-6;}
    .li-indent-3{counter-increment: list-3; counter-reset: list-4 list-5 list-6;}
    .li-indent-4{counter-increment: list-4; counter-reset: list-5 list-6;}
    .li-indent-5{counter-increment: list-5; counter-reset: list-6;}
    .li-indent-6{counter-increment: list-6; counter-reset: none;}

    li:before{
      @include font-fixed;
      color: map-get($color-text, c);
      content: counter(list-0, decimal) '. '; 
    }
    .li-indent-1:before{content: counter(list-1, lower-alpha) '. ';}
    .li-indent-2:before{content: counter(list-2, decimal) ') ';}
    .li-indent-3:before{content: counter(list-0, decimal) '. '
      counter(list-1, lower-alpha) '.'
      counter(list-2, decimal) '.'
      counter(list-3, decimal) '. ';}
    .li-indent-4:before{content: counter(list-0, decimal) '.'
      counter(list-1, lower-alpha) '.'
      counter(list-2, decimal) '.'
      counter(list-3, decimal) '.'
      counter(list-4, decimal) '. ';}
    .li-indent-5:before{content: counter(list-0, decimal) '.'
      counter(list-1, lower-alpha) '.'
      counter(list-2, decimal) '.'
      counter(list-3, decimal) '.'
      counter(list-4, decimal) '.'
      counter(list-5, decimal) '. ';}
    .li-indent-6:before{content: counter(list-6, lower-greek) '. ';}
  }
  
  //---------------------------------------
  // medias
  img, video {max-width: 100%;}
  //---------------------------------------
}
///////////////////////////////////////////
// Theme: nice
///////////////////////////////////////////
.ti-markdown-theme-nice {
  //---------------------------------------
  padding:1em 2em;
  font-size: 16px; line-height: 1.5em;
  letter-spacing: 1px;
  max-width: SZ(1200);
  margin:0 auto;
  //---------------------------------------
  hr {
    height:0px; border:0;
    @include border(1px, dotted, shallow, top);
    margin:SZ(10) 0;
  }
  //---------------------------------------
  // Inline Text
  code {
    @include font-fixed;
    @include color($color-secondary, c);
    margin:0 .5em; 
  }
  b      {font-weight: bolder;}
  strong {font-weight: bolder;}
  i      {opacity: 0.8; font-style:italic;}
  em     {opacity: 0.8; font-style:italic;}
  del    {color:map-get($color-error, c); text-decoration: line-through;}
  //---------------------------------------
  // Heading
  h1 {font-weight:100; font-size:2.0em; line-height:1.6em; }
  h2 {font-weight:100; font-size:1.7em; line-height:2em;}
  h3 {font-weight:100; font-size:1.5em; line-height:2em;}
  h4 {font-weight:100; font-size:1.3em; line-height:2em;}
  h5 {font-weight:100; font-size:1.2em; line-height:2em;}
  h6 {font-weight:100; font-size:1.1em; line-height:2em;}
  h1,h2,h3,h4,h5,h6 {
    margin:1em 0; padding:0;
    color: map-get($color-primary, c);
  }
  //---------------------------------------
  // Table
  table {
    border:1px solid map-get($color-primary, c);
    border-collapse: collapse;
    border-spacing: 0;
    margin:2em 0;
  }
  td, th {
    border:1px solid map-get($color-primary, c);
    padding:.4em; font-size:.9em;
  }
  thead td {
    @include color($color-primary, r, c);
    border-left-color : map-get($color-primary, r);
    border-right-color: map-get($color-primary, r);
    &:first-child {
      border-left-color: map-get($color-primary, c);
    }
    &:last-child {
      border-right-color: map-get($color-primary, c);
    }
    font-weight: 900; text-align: center;
  }
  //---------------------------------------
  // Text
  blockquote {
    margin:1em .5em; padding:.3em 1em;
    font-size: .8em;
    border-left:4px solid map-get($color-primary, c);
    color: map-get($color-track, c);
  }
  p {margin: 1.2em 0;}
  p img {margin:2em auto; display:block;}
  .ql-editor.ql-blank::before {top:1.2em;}
  //---------------------------------------
  // Code
  pre {
    @include font-fixed(12px);
    @include color($color-chip, r, c);
    border-left:4px solid map-get($color-secondary, c);
    width:100%; overflow-x: auto;
    padding:SZ(20); margin:0;
  }
  //---------------------------------------
  ul, ol {
    color: map-get($color-track, c);
    padding-left: 1.5em; 
    li {list-style-type: none;}
    .li-indent-1{padding-left: 1.5em * 1;}
    .li-indent-2{padding-left: 1.5em * 2;}
    .li-indent-3{padding-left: 1.5em * 3;}
    .li-indent-4{padding-left: 1.5em * 4;}
    .li-indent-5{padding-left: 1.5em * 5;}
    .li-indent-6{padding-left: 1.5em * 6;}
  }
  ul {
    // bultted:2022; checked:2611; unchecked:2610
    li:before {
      content: '\2022'; margin-right:.5em;
      color: map-get($color-secondary, c);
    }
    .li-indent-1:before{content: '\25C8';}
    .li-indent-2:before{content: '\25C6';}
    .li-indent-3:before{content: '\2605';}
    .li-indent-4:before{content: '\2013';}
    .li-indent-5:before{content: '\271A';}
    .li-indent-6:before{content: '\2746';}
  }
  ol {
    li{
      counter-reset: list-1 list-2 list-3 list-4 list-5 list-6;
      counter-increment: list-0;
    }
    .li-indent-1{counter-increment: list-1; counter-reset: list-2 list-3 list-4 list-5 list-6;}
    .li-indent-2{counter-increment: list-2; counter-reset: list-3 list-4 list-5 list-6;}
    .li-indent-3{counter-increment: list-3; counter-reset: list-4 list-5 list-6;}
    .li-indent-4{counter-increment: list-4; counter-reset: list-5 list-6;}
    .li-indent-5{counter-increment: list-5; counter-reset: list-6;}
    .li-indent-6{counter-increment: list-6; counter-reset: none;}

    li:before{
      @include font-fixed; 
      color: map-get($color-secondary, c);
      content: counter(list-0, decimal) '. '; 
    }
    .li-indent-1:before{content: counter(list-1, lower-alpha) '. ';}
    .li-indent-2:before{content: counter(list-2, decimal) ') ';}
    .li-indent-3:before{content: counter(list-0, decimal) '. '
      counter(list-1, lower-alpha) '.'
      counter(list-2, decimal) '.'
      counter(list-3, decimal) '. ';}
    .li-indent-4:before{content: counter(list-0, decimal) '.'
      counter(list-1, lower-alpha) '.'
      counter(list-2, decimal) '.'
      counter(list-3, decimal) '.'
      counter(list-4, decimal) '. ';}
    .li-indent-5:before{content: counter(list-0, decimal) '.'
      counter(list-1, lower-alpha) '.'
      counter(list-2, decimal) '.'
      counter(list-3, decimal) '.'
      counter(list-4, decimal) '.'
      counter(list-5, decimal) '. ';}
    .li-indent-6:before{content: counter(list-6, lower-greek) '. ';}
  }
  //---------------------------------------
  // medias
  img, video {max-width: 100%;}
  //---------------------------------------
}
//-----------------------------------------