.ti-loading {
  @include color($color-track, c);
  > .tl-con {
    @include flex-align($ai:center,$wp:nowrap);
    font-size:1.2em;
    padding:.3rem;
    > .ti-icon {
      font-size:1.2em; margin-right:.06rem;
    }
  }
}