.ti-form {
  //----------------------------------
  .form-group {
    @include border(1px, solid, shallow, bottom);
    &:last-child {
      border:0
    }
    .group-title {
      @include noselect;
      @include flex-align-nowrap;
      > .ti-icon {margin-right:.08rem; opacity: 0.4;}
    }
    .group-fields {
      @include border(1px, solid, shallow, top);
    }
  }
  //----------------------------------
  .form-field {
    @include flex-align-nowrap;
    //------------------------
    > .field-name  {
      @include flex-align-nowrap;
      position: relative;
      flex:0 0 auto;
      line-height: 2.6em;
      padding:0 .05rem 0 .26rem;
      > .name-status {
        @include pos-abs($l:0,$t:0,$b:0,$w:.24rem);
        @include flex-center;
      }
      > .name-icon {
        flex: 1 1 auto;
      }
      > .name-title {
        flex: 0 0 auto;
        white-space: nowrap;
      }
    }
    //------------------------
    > .field-value {
      @include flex-align-center;
      flex:1 1 auto;
      > .field-component {
        @include flex-align-center;
      }
    }
    //------------------------
  }
  //----------------------------------
  &.as-spacing-comfy {
    padding:.2rem;
    .form-group {
      .group-title {
        line-height:2em;
        padding:.12rem .1rem .06rem;
      }
      .group-fields {
        padding:.1rem 0;
      }
    }
    .form-field {
      padding:.08rem;
    }
  }
  //----------------------------------
  &.as-spacing-tiny {
    padding:.1rem;
    .form-group {
      .group-title {
        line-height:1.4em;
        padding:.08rem .1rem .04rem;
      }
      .group-fields {
        padding:.1rem 0;
      }
    }
    .form-field {
      padding:.04rem;
    }
  }
  //----------------------------------
}
