.ti-layout {
  .ti-block {flex:1 1 auto;}
  //------------------------------------
  // Layout: rows
  //------------------------------------
  &.as-rows {
    > section {
      @include flex-align-v-nowrap($ai:stretch,$ac:stretch);
    }
    &.show-border > section > .ti-block {
      @include border($pos:top);
      &:first-child {border:0;}
    }
  }
  //------------------------------------
  // Layout: cols
  //------------------------------------
  &.as-cols {
    > section {
      @include flex-align-nowrap($ai:stretch,$ac:stretch);
    }
    &.show-border > section > .ti-block {
      @include border($pos:left);
      &:first-child {border:0;}
    }
  }
  //------------------------------------
  // Layout: tabs
  //------------------------------------
  &.as-tabs {
    padding-top: .4rem; position:relative;
    > .layout-tabs {
      @include noselect;
      @include color($color-bar, r, c);
      overflow: hidden;
      position: absolute; left:0; right:0; top:0;
      > ul {
        @include raw-list;
        @include flex-align-nowrap($ai:flex-end);
        border-bottom:1px solid map-get($color-line, shallow);
        padding:0 .1rem;
        height:.4rem;
        li {
          @include flex-center;
          cursor:pointer; 
          border:1px solid transparent;
          border-top-width:3px;
          border-bottom:0;
          min-width: .8rem; 
          line-height:.28rem; 
          font-size:.12rem;
          margin-bottom:-1px;
          &.is-current {
            @include color($color-body, r, c);
            border-color:map-get($color-line, dark);
            border-top-color:map-get($color-primary, c);
            background-color:map-get($color-body, c);
          }
        }
      }
    }
    > .ti-block {
      width:100%; height:100%;
    }
  }
  //------------------------------------
  // Layout: wall
  //------------------------------------
} // ~ .ti-layout
$ti-block-header : .4rem;
.ti-block {
  position: relative;
  &.show-header {
    padding-top:$ti-block-header;
    > header {
      //----------------------------------------
      @include noselect;
      @include pos-abs($t:0,$l:0,$r:0);
      @include flex-align-nowrap($ai:stretch);
      @include color($color-bar, r, c);
      @include border(1px, solid, shallow, bottom);
      //----------------------------------------
      height: $ti-block-header; line-height: $ti-block-header;
      padding:0 0 0 .06rem;
      font-size:.8em;
      //----------------------------------------
      > div {white-space: nowrap;}
      //----------------------------------------
      > .tbh-icon {
        @include flex-center;
        padding-left:.06rem;
      }
      //----------------------------------------
      > .tbh-text {
        flex:1 0 auto;
        padding:0 .06rem;
      }
      //----------------------------------------
      > .tbh-actions {
        @include flex-align($jc:center);
        padding-right:.04rem;
        //--------------------------------------
        > .ti-menu {
          @include flex-align-nowrap($ai:center);
          //------------------------------------
          .menu-desktop-top {
            > li {
              //-------------------------
              > .md-info ,
              > .md-group > .md-info {
                border-radius: 1px;
                &[item-enabled]:hover {
                  @include color($color-primary, r, c);
                }
                //-----------------------
                > .md-icon ,
                > .md-text {
                  height:2.4em; line-height:2.4em;
                }
                //-----------------------
              }
            } // > li
          } // ~ .menu-desktop-top
          //------------------------------------
        } // ~ > .ti-menu
      } // ~ > .tbh-actions
      //----------------------------------------
      > .tbh-closer {
        cursor: pointer;
        &.at-default {
          font-size:1.6em;
          width: $ti-block-header;
        }
        &.is-docked {
          @include flex-center;
          padding:0 .04rem; 
          &:hover {@include color-highlight($color-secondary);}
        }
      }
      //----------------------------------------
    }
  }
  //----------------------------------------
  > section {
    width:100%; height:100%;
  }
  //----------------------------------------
  $foot-closer-size : 80px;
  //----------------------------------------
  > footer.float-closer {
    position: absolute;
    @include flex-center;
    //--------------------------------------
    > .ti-icon {
      color:rgba(255,255,255,0.8); 
      border:1px solid rgba(255,255,255,0.8);
      background:rgba(50,50,50,0.4);
      border-radius: 50%;
      width:32px; height:32px;
      cursor: pointer;
      display:block;
      transition: all 0.8s;
      > .icon-icon {
        display: block; width:100%; height:100%;
        > i {
          width:100%; height:100%;
          line-height: 32px; text-align: center;
          font-size:21px; font-weight: 400;
          transition: all 0.3s;
        }
      }
      &:hover {
        @include color($color-primary, r, c);
        border-color:transparent;
        box-shadow:0 0 10px 4px map-get($color-light, c);
        > .icon-icon > i {
          transform: rotate(180deg);
        }
      }
    }
    //--------------------------------------
    &.at-top {
      height: $foot-closer-size;
      top: $foot-closer-size * -1;
      left:0; right:0;
    }
    &.at-bottom {
      height: $foot-closer-size;
      bottom: $foot-closer-size * -1;
      left:0; right:0;
    }
    &.at-left {
      width: $foot-closer-size;
      left: $foot-closer-size * -1;
      top:0; bottom:0;
    }
    &.at-right {
      width: $foot-closer-size;
      right: $foot-closer-size * -1;
      top:0; bottom:0;
    }
    //--------------------------------------
  } // > footer.float-closer
  //----------------------------------------
  &.is-panel {
    // Maybe show border here
  }
  //----------------------------------------
} // ~ .ti-block