.ti-color {
  //-------------------------------------
  > .as-table {
    padding:SZ(12) SZ(10) SZ(10) SZ(10);
    table {
      width:100%;
      th {
        padding:SZ(1.5) SZ(1.5) SZ(5) SZ(1.5);
      }
      td {
        padding:SZ(1.5);
      }
      span {
        display: block;
        width:SZ(20); height:SZ(20);
        border-radius: 50%; 
        box-shadow: 0 0 0 1px #dcdee1; 
        cursor: pointer;
        transition: .3s;
        &:hover {
          border-radius: 0; transform: scale(1.1);
        }
      }
    }
  }
  //-------------------------------------
  > .as-input {
    @include flex-align-nowrap;
    padding: SZ(4);
    //-----------------------------------
    > .as-hex {
      flex:1 1 auto;
      input.as-value {
        @include text-input;
        width:100%; font-size:SZ(16);
        padding:SZ(6);
      }
    }
    //-----------------------------------
    > .as-alpha {
      flex:0 0 auto; width:SZ(90);
      padding-left:SZ(2);
      .ti-input-num {
        .as-btn {width:SZ(20); font-size:SZ(20);}
        .as-input {
          input {padding:SZ(6) 0; }
        }
      }
    }
    //-----------------------------------
  }
  //-------------------------------------
  > .as-preview {
    padding:SZ(6); text-align: center;
    @include font($f_fixed, SZ(12));
    @include color($color-disable, c);
  }
  //-------------------------------------
}