//-------------------------------------------------
// TiIcon
//-------------------------------------------------
.ti-icon {
  @include flex-center($ai:stretch, $ac:stretch);
  vertical-align: middle;
  //-----------------------------------------------
  &.can-click {
    cursor: pointer;
    .icon-icon{transition: .3s;}
    &:hover{
      .icon-icon {transform: scale(1.1);}
    }
  }
  //-----------------------------------------------
  &.is-image {
    align-items: center;
  }
  //-----------------------------------------------
  &.as-inline {
    display:inline-block;
    vertical-align: middle;
  }
  //-----------------------------------------------
  // The Icon
  .icon-icon {
    @include flex-center;
    img {
      display: block;
      object-fit: cover;
    }
    i {font-size:inherit;}
  }
  //-----------------------------------------------
  &.is-image .icon-icon {align-items:stretch; align-content: stretch;}
  //-----------------------------------------------
}