.ti-transfer {
  @include flex-align-nowrap($ai:stretch);
  min-height: SZ(200);
  padding:SZ(6);
  //---------------------------------
  > .as-box {
    $boxH : SZ(40);
    $boxF : SZ(24);
    //-------------------------------
    @include border(1px, solid, shallow);
    flex: 1 1 auto; width:50%;
    position: relative;
    padding: $boxH 0 $boxF 0;
    //-------------------------------
    > .as-box-head {
      @include pos-abs($t:0, $l:0, $r:0, $h:$boxH);
      @include flex-align-nowrap;
      @include border(1px, solid, shallow, bottom);
      @include color($color-bar, r, c);
      //-----------------------------
      > .as-list-checker {
        @include flex-center;
        width: $boxH;
        cursor:pointer;
        &:hover {@include color($color-secondary, c);}
      }
      //-----------------------------
      > .as-title {
        white-space: nowrap;
      }
      //-----------------------------
      > .as-filter {
        flex:1 1 auto; padding: 0 SZ(4) 0 SZ(10);
        .ti-input {min-height: SZ(32);}
      }
      //-----------------------------
    }
    //-------------------------------
    > .as-box-main {
      
    }
    //-------------------------------
    > .as-box-foot {
      @include flex-align-nowrap;
      @include pos-abs($b:0, $l:0, $r:0, $h:$boxF);
      @include border(1px, solid, shallow, top);
      @include color($color-chip , r, c);
      @include font-fixed;
      font-size:.8em; padding: 0 SZ(6);
    }
    //-------------------------------
  }
  //---------------------------------
  > .as-buttons {
    @include flex-center;
    flex: 0 0 auto;
    padding: SZ(10);
    //-------------------------------
    > .as-btn {
      @include border(1px, solid, shallow);
      @include fireable;
      @include color($color-func, r, c);
      cursor:pointer;
      width:100%; font-size:SZ(12);
      margin:SZ(40) 0; padding:SZ(8);
      //-----------------------------
      .ti-icon {transition: transform .3s;}
      //-----------------------------
      &:hover {
        @include color($color-secondary, r, c);
      }
      //-----------------------------
      &.is-add:hover .ti-icon {
        transform: translateX(5px);
      }
      //-----------------------------
      &.is-remove:hover .ti-icon {
        transform: translateX(-5px);
      }
      //-----------------------------
      //-----------------------------
    }
    //-------------------------------
  }
  //---------------------------------
}