.ti-menu {
  @include noselect; 
  //------------------------------------------------
  > .menu-top {
    > li {
      @include flex-center;
      .ti-menu-item-btnlike {
        @include flex-align($ai:center, $wp:nowrap);
        border-radius:.02rem;
        padding:0 .06rem;
        &[item-disabled] {
          @include disabled;
        }
        &[item-enabled] {
          @include fireable;
        }
      }
      .ti-icon {
        margin-right:.04rem;
      }
      > .mi-line {
        @include color($color-line, null, shallow);
        width:1px; height:.2rem; overflow:hidden;
        margin:0 .02rem;
      }
    }
  }  // ~ > .menu-top
  //------------------------------------------------
  .mi-group {
    &:hover {
      > .ti-menu-item-btnlike {
        @include color-highlight;
      }
    }
  }
  //------------------------------------------------
  .mi-group-con {
    &.mi-group-closed {display:none;}
    &.mi-group-opened {display:block;}
    &:before {
      display:block; content:"";
      @include pos-fixed-full;
      background-color:rgba(0,0,0,0);
      z-index: $z-mask;
    }
    > .menu-sub {
      position:fixed;
      min-width: 1.5rem;
      z-index: $z-menu;
      padding:1px; 
      @include color($color-cloak, r, c);
      @include border(1px, solid, primary);
      .mi-line {
        @include color($color-line, null, shallow);
        height:1px; overflow:hidden;
        margin:.04rem 0;
      }
    }
  }  // ~ .mi-group-con
  //------------------------------------------------
}