.ti-tabs {
  @include noselect;
  ul {
    @include raw-list;
    @include flex-align-nowrap;
    padding:SZ(10) SZ(10) 0 SZ(10);
    li {
      @include flex-align($ai:center);
      padding:SZ(6) SZ(30);
      border-radius:SZ(4) SZ(4) 0 0;
      cursor: pointer;
      opacity: 0.4;
      > .it-icon {
        margin-right:SZ(8);
      }
      &.is-current {
        @include color($color-chip, r, c);
        opacity: 1;
      }
      &:hover {opacity: 1;}
    }
  }
}