.ti-text-raw {
  @include flex-align-v;
  .te-head {
    flex:0 0 auto;
    padding:.04rem .12rem 0 .12rem;
    @include flex-align($ai:center);
    &.content-changed {
      @include color($color-secondary, c);
    }
    > .ti-icon {
      padding:0 .08rem 0 0; font-size:1.4em;
    }
    > b {font-weight:normal;}
  }
  .te-main {
    @include flex-full(1 1 auto);
    padding:.04rem;
    textarea {
      @include flex-full(1 1 auto);
      @include border(1px, solid, dark);
      resize:none; outline:none;
      padding:.1rem;
      font-family: Monaco, Consolas, Courier New;
      font-size:.16rem; line-height:.2rem;
      &:focus {
        border-color:map-get($color-line, highlight);
      }
    }
  }
}