.ti-obj-thumb {
  @include noselect();
  width:1rem; border:1px solid transparent;
  > header {
    @include flex-center;
    position:relative;
    padding-bottom:.05rem;
    > .as-preview {
      @include flex-full-center;
      position:relative;
      width:.8rem; height:.8rem;
      padding:.04rem; border-radius:.04rem;
      > img {
        object-fit: contain;
        width:100%; height:100%;
      }
      > .ti-icon i {
        font-size: .48rem;
      }
      > .as-status {
        @include pos-abs-full;
        @include flex-center;
        @include color($color-mask, r, bushy);
        font-size:.2rem; 
      }
    }
    > .as-progress {
      @include pos-abs($l:0,$r:0,$b:0);
    }
  }
  > footer {
    padding:.04rem;
    text-align:center;
    font-size:map-get($body-font-sizes, sm);
    > .as-title {
      height:3.3em; line-height:1.1em;
      overflow:hidden; word-break: break-all;
      font-size:1em;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      -moz-box-orient: vertical;
      -moz-line-clamp: 3;
      // zozoh: Maybe I need read:
      // https://css-tricks.com/almanac/properties/l/line-clamp/
      // for more detail to support the Firefox
    }
  }
  &.is-selected {
    @include color($color-selected, r, c);
  }
  &.is-current {
    border-style: dotted;
    border-color: map-get($color-primary, c);
  }
  &.is-removed {opacity:0.4;}
  &.is-weak {opacity:0.4;}
  &.is-hide {display:none;}
}

