.ti-input {
  @include noselect;
  @include flex-align-nowrap($ai:stretch);
  @include color($color-input, c, r);
  min-height:.35rem;
  //-----------------------------------------
  &.show-border {
    @include border(1px, solid, dark);
  }
  //-----------------------------------------
  &.is-focused {
    border-color: map-get($color-line, highlight);
  }
  //-----------------------------------------
  > .as-icon, .as-input > .as-icon {
    @include flex-center;
    flex:0 0 auto; width:.26rem; min-height:.26rem;
    //---------------------------------------
    &.can-hover{cursor: pointer;}
    &.can-hover:hover{@include color($color-primary,r,c);}
    //---------------------------------------
    &.at-prefix.can-hover {
      > .ti-icon {
        transition: 0.5s; opacity: 0.4;
      }
      &:hover > .ti-icon {
        transform:scale(1.1) rotate(180deg);
        opacity: 1;
      }
    }
    //---------------------------------------
  }
  //-----------------------------------------
  > .as-text, > .as-input > .as-text {
    @include flex-center;
    white-space: nowrap;
    padding:0 .06rem;
    //---------------------------------------
    &.can-hover{cursor: pointer;}
    &.can-hover:hover{@include color($color-primary,r,c);}
    //---------------------------------------
  }
  //-----------------------------------------
  > .as-input {
    @include flex-align-nowrap($jc:flex-end, $ai:stretch);
    flex:1 1 auto; 
    //---------------------------------------
    > input {
      @include font-fixed(inherit);
      width:100%; 
      flex:1 1 auto;
      outline:none; border:0;
      padding:0 .1rem;
      background:transparent;
      color:inherit;
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &.is-readonly {
    > .as-input > input:read-only {cursor:inherit; @include noselect;}
  }
  //-----------------------------------------
  &.has-prefix-icon {
    > .as-input > input {padding-left:.04rem;}
  }
  //-----------------------------------------
  &.has-suffix-icon {
    > .as-input > input {padding-right:.04rem;}
  }
  //-----------------------------------------
}