.ti-input-color {
  @include flex-align-nowrap;
  //---------------------------------
  > .as-box {
    @include flex-align-nowrap($ai:stretch);
    @include border(1px, solid, dark);
    //-------------------------------
    > .as-color {
      @include flex-center;
      width:.26rem; height:.26rem; cursor:pointer;
      padding:.01rem;
      overflow: hidden; position: relative;
      //-----------------------------
      .as-bg {
        display:block; flex:0 0 auto;
        width:100%; height:100%;
        transition: .3s;
      }
      //-----------------------------
      .as-fr {
        @include pos-abs-full(.01rem); 
      }
      //-----------------------------
    }
    //-------------------------------
    > .as-clear {
      @include flex-center;
      @include border(1px, solid, dark, left);
      cursor:pointer;
      padding:0 .04rem;
      font-size:.1rem;
      &:hover {
        @include color($color-secondary, r, c);
      }
    }
    //-------------------------------
    &.is-empty {
      //-----------------------------
      > .as-color {
        background-color:#FFF;
        u.as-bg {
          background-color:red; 
          height:.03rem; width:200px;
          transform:rotate(45deg);
        }
        u.as-fr {display: none;}
      }
      //-----------------------------
      > .as-clear {display: none;}
      //-----------------------------
      &:hover {
        border-color:map-get($color-secondary, c);
        > .as-color {
          u.as-bg {
            transform: rotate(360deg); width:.08rem; height:.08rem;
          }
        }
      }
      //-----------------------------
    }
    //-------------------------------
    &.is-valued {
      > .as-color {
        u.as-bg {@include bg-chessboard(#e0e0e0, .12rem, #FFF);}
      }
      &:hover {
        border-color:map-get($color-secondary, c);
        > .as-color {
          u.as-bg {@include bg-chessboard(#888, .12rem, #FFF);}
        }
      }
    }
    //-------------------------------
  }
  //---------------------------------
  > .as-mask {
    @include pos-fixed-full;
  }
  //---------------------------------
  > .as-drop {
    @include color($color-body, r, c);
    @include border(1px, solid, dark);
    position: fixed;
    
  }
  //---------------------------------
}