.ti-datetime {
  @include flex-align-nowrap($ai:stretch);
  //-------------------------------------
  > .is-date {
    @include border(1px, solid, highlight, right);
    flex:0 0 auto;
  }
  //-------------------------------------
  > .is-time {
    @include flex-align-v-nowrap($ai:stretch);
    flex:1 1 auto;
    > .as-time-text {
      @include flex-center;
      @include border(1px, solid, shallow, bottom);
      @include font-fixed;
      flex:0 0 auto; 
      height: SZ(45);
      font-size:1.5em;
      font-weight: bold;
    }
    > .as-time-cols {
      height:SZ(250);
      padding:SZ(4);
      flex:1 1 auto;
      > .ti-col-data.as-time {
        flex:1 1 auto;
        height:100%;
      }
    }
  }
  //-------------------------------------
}