.ti-color {
  //-------------------------------------
  > .as-table {
    padding:.1rem;
    table {
      width:100%;
      th {
        padding:.015rem .015rem .05rem .015rem;
      }
      td {
        padding:.015rem;
      }
      span {
        display: block;
        width:.2rem; height:.2rem;
        border-radius: 50%; 
        box-shadow: 0 0 0 1px #dcdee1; 
        cursor: pointer;
        transition: .3s;
        &:hover {
          border-radius: 0; transform: scale(1.1);
        }
      }
    }
  }
  //-------------------------------------
  > .as-input {
    @include flex-align-nowrap;
    border-top:1px solid map-get($color-line, shallow);
    padding: .04rem;
    //-----------------------------------
    > .as-hex {
      flex:1 1 auto;
      input.as-value {
        @include text-input;
        width:100%; font-size:.16rem;
        padding:.06rem;
      }
    }
    //-----------------------------------
    > .as-alpha {
      flex:0 0 auto; width:.9rem;
      padding-left:.02rem;
      .ti-input-num {
        .as-btn {width:.2rem; font-size:.1rem;}
        .as-input {
          input {padding:.06rem 0; }
        }
      }
    }
    //-----------------------------------
  }
  //-------------------------------------
  > .as-preview {
    border-top:1px solid map-get($color-line, shallow);
    padding:.06rem; text-align: center;
    @include font($f_fixed, .12rem);
    @include color($color-disable, c);
  }
  //-------------------------------------
}