////////////////////////////////////////////////////
.ti-tree {
  @include noselect;
  padding:.06rem; overflow:auto;
  //------------------------------------------------
  &.is-selectable {
    .ti-tree-node {
      > .nd-self {cursor: pointer;}
      &.is-selected {
        > .nd-self, > .nd-self:hover {
          @include color($color-primary, r, c);
          .nd-info .nd-text {
            color:inherit;
          }
        }
      }
    }
  }
  //------------------------------------------------
  &.is-hoverable {
    .ti-tree-node > .nd-self:hover {
      @include color($color-selected, r, c);
    }
  }
  //------------------------------------------------
  > .tree-head {
    @include noselect;
    @include flex-align-nowrap;
    @include border(1px, solid, shallow, bottom);
    font-size:.9em;
    //----------------------------------------------
    .tree-head-cell {
      @include border(1px, solid, shallow, left);
      flex:0 0 auto; padding:.06rem;
      text-align: center;
      &.as-name {
        flex:1 1 auto; border:0;
      }
    }
    //----------------------------------------------
  }
  //------------------------------------------------
  > .tree-body {

  }
  //------------------------------------------------
}
////////////////////////////////////////////////////
.ti-tree-node {
  line-height: 2.2em;
  //------------------------------------------------
  > .nd-self {
    @include flex-align-nowrap;
    cursor: default;
    padding-left:.04rem;
    //----------------------------------------------
    .nd-indents {
      @include flex-align-nowrap;
      span {
        display: block; width:1.3em;
      }
    }
    //----------------------------------------------
    .nd-handle {
      @include flex-center;
      flex: 0 0 auto;
      width: 1.1em; cursor: default;
      opacity: 0.6;
      &:hover {
        opacity: 1; font-weight: bolder;
      }
    }
    //----------------------------------------------
    .nd-box {
      @include flex-align;
      flex:1 1 auto; padding:0;
      //--------------------------------------------
      .nd-info {
        @include flex-align-nowrap;
        flex:1 1 auto; 
        .nd-icon {
          display: block; width: 1.6em;
        }
        .nd-text {
          display: block; padding:0 .04rem;
          white-space: nowrap;
        }
      }
      //--------------------------------------------
      .nd-tip {
        opacity: 0.8; padding:0 .04rem;
        font-size:.85em;
      }
      //--------------------------------------------
    } // ~ .nd-box
    //----------------------------------------------
    .nd-cell-row {
      @include flex-align-nowrap;
      > .nd-cell {
        @include flex-center;
        padding:0 .04rem;
      }
    }
    //----------------------------------------------
  } // ~ > .nd-self {
  //------------------------------------------------
}
////////////////////////////////////////////////////