.ti-crumb {
  @include noselect;
  @include flex-align($ai:stretch,$ac:stretch);
}
//---------------------------------------------
.ti-crumb-item {
  @include flex-align-nowrap($ai:stretch);
  overflow: hidden; padding: 0; 
  //-------------------------------------------
  &.at-path {cursor: pointer;}
  &.at-tail {opacity: 0.8;}
  //-------------------------------------------
  &.is-asterisk {
    opacity: 1;
    font-weight: bold;
  }
  //-------------------------------------------
  > .as-icon {
    padding:0 SZ(4); font-size:SZ(16);
  }
  //-------------------------------------------
  > .as-text {
    @include flex-center;
    padding:0 0 SZ(2) SZ(2);
    &.without-icon    {padding-left:SZ(8);}
    &.without-options {padding-right:SZ(8);}
  }
  //-------------------------------------------
  > .as-asterisk {
    @include flex-center;
    @include font-fixed;
    padding:0 SZ(4);
    &:before {
      @include color($color-error, c);
      display: inline; content:"*";
      font-weight: bolder;
      font-size: 1.2em;
    }
  }
  //-------------------------------------------
  > .as-path-icon {
    padding:0 SZ(6); opacity: 0.6;
  }
  //-------------------------------------------
}
//---------------------------------------------