.web-simple-form {
  @include flex-align-v-nowrap;
  padding: 2em;
  //-------------------------------------
  a {
    @include noselect;
    cursor: pointer;
    &:hover {text-decoration: underline;}
  }
  //-------------------------------------
  > header {
    margin: 1em 0; text-align: center;
    font-size:2em;
  }
  //-------------------------------------
  > section {
    margin: 1em 0;
    //---------------------------------
    div {
      @include flex-align-nowrap;
      &.as-input {
        @include color($color-input,c,r); 
        margin:.5em 0;
        border:1px solid map-get($color-line, dark);
        &.is-invalid {
          border-color:map-get($color-error, c);
        }
      }
      &.as-btn {
        margin:.5em 0;
      }
      input {
        flex:1 1 auto;
        padding: .7em;
        font-size: 1.4em;
        outline:none; border:0;
        color:inherit;
        background-color: transparent;
      }
      span {
        @include flex-center;
        display: block; padding:.1rem;
        white-space: nowrap;
        > em {
          font-style:normal;
        }
      }
      button {
        @include fireable;
        flex:1 1 auto;
        padding:.7em; width:100%;
        font-size: 1.4em; letter-spacing: .1em;
        outline:none; border:0; 
      }
    }
    //---------------------------------
    ul.as-links {
      @include raw-list;
      @include flex-align-nowrap;
      padding:.08rem .04rem;
      li {
        &.at-left  {
          flex:0 0 auto;
        }
        &.at-right {
          flex:1 1 auto; text-align: right;
          a {color:map-get($color-track, c);}
        }
      }
    }
    //---------------------------------
  } // section {
  //-------------------------------------
  > .as-spacing {flex:1 1 auto;}
  //-------------------------------------
  > footer {
    @include flex-align-nowrap($jc:center);
    a {
      display: block; margin:0 .2em;
      font-size: .32rem;
      .ti-icon {transition: 0.3s;}
      &:hover{
        text-decoration: none;
        .ti-icon {transform: scale(1.3) rotate(360deg);}
      }
    }
  }
  //-------------------------------------
}