.ti-lbs-map {
  //---------------------------------
  > .map-con {
    width:100%; height:100%; position: relative;
    //-------------------------------
    > .as-wait-cooling {
      @include pos-abs($r:0, $t:0, $w:SZ(42), $h:SZ(42));
      @include flex-center;
      @include color($color-info, r, c);
      font-size: SZ(24);
    }
    //-------------------------------
    // Info bar
    > .as-controls {
      @include pos-abs($t:0,$l:0);
      padding:SZ(8); 
      //-----------------------------
      .ti-actionbar .bar-item-info.is-top {
        @include color($color-body, r, c);
        @include border(1px, solid, shallow);
        @include flex-center;
        height: SZ(40); padding:0 1em;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        margin-right: SZ(8);
        //---------------------------
        &.is-enabled {
          &:hover {
            @include color($color-primary, r, c);
            border-color: map-get($color-primary, c);
          }
        }
        //---------------------------
        &.is-disabled {
          @include color($color-disable, r, c);
          opacity: .9;
        }
        //---------------------------
        &.big-icon {
          padding:0; min-width: SZ(40);
          .as-icon {font-size:SZ(16);}
        }
        //---------------------------
        .as-text {
          font-size: SZ(12); padding:0 .5em;
        }
        //---------------------------
      }
      //-----------------------------
      .ti-actionbar .bar-item-info.is-sub {
        &.is-highlight {
          @include color($color-primary, r, c);
          &:hover {@include color($color-primary, r, c);}
        }
        &:hover {
          @include color($color-weaktip, r, c);
        }
      }
      //-----------------------------
    }
    //-------------------------------
    // Info bar
    > .as-info {
      @include flex-align-nowrap;
      @include pos-abs($b:SZ(2),$l:SZ(2)); 
      @include color($color-body, r, c);
      line-height: 2.4em; min-width: SZ(380);
      padding:0 SZ(8); 
      //-----------------------------
      // Lat/Lng
      ul.as-laln {
        flex:1 1 auto;
        @include raw-list;
        @include font-fixed;
        @include flex-align-nowrap($jc:space-between);
        @include noselect;
        li {padding:0 SZ(4);}
        span {margin-right:SZ(2); opacity: 0.6;}
        em {font-style: normal; user-select:text;}
      }
      //-----------------------------
    } // ~ > .as-info
    //-------------------------------
    .as-main {
      width:100%; height:100%;
    }
    //-------------------------------
  } // ~> .map-con
  //---------------------------------
  &.is-fullscreen {
    position:fixed; top:0; left:0; bottom:0; right:0;
    z-index: $z-mask;
  }
  //---------------------------------
}