.ti-label {
  @include flex-align-nowrap($ai:stretch);
  //-----------------------------------------
  &.is-blank {
    @include noselect;
    opacity: 0.4;
  }
  //-----------------------------------------
  &.is-break-line {
    > .as-value {white-space: pre;}
  }
  //-----------------------------------------
  &.is-break-word {
    > .as-value {
      > a, > span {
        width:100%;
        word-break: break-all;
        overflow: hidden;
      }
    }
  }
  //-----------------------------------------
   &.is-nowrap {
    > .as-value {
      > a, > span {
        width:100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;      
      }
    }
  }
  //-----------------------------------------
  > .as-icon {
    @include noselect;
    @include flex-center;
    flex:0 0 auto; 
    > .ti-icon.is-image {
      width:.36rem;
      padding:.02rem;
    }
    //---------------------------------------
    &.can-hover{cursor: pointer;}
    &.can-hover:hover{@include color($color-primary,r,c);}
    //---------------------------------------
    &.at-prefix {
      > .ti-icon {
        transition: .5s; opacity: .6;
        img {
          width:100%; transition: 5s;
          border-radius: 2px;
        }
      }
      &.can-hover:hover > .ti-icon {
        transform:scale(1.1) rotate(180deg);
        opacity: 1;
      }
    }
    //---------------------------------------
  }
  //-----------------------------------------
  > .as-text {
    @include noselect;
    @include flex-center;
    white-space: nowrap;
    padding:0 .04rem;
    opacity: 0.6;
    //---------------------------------------
    &.can-hover{cursor: pointer;}
    &.can-hover:hover{@include color($color-primary,r,c);}
    //---------------------------------------
  }
  //-----------------------------------------
  > .as-value {
    @include font-fixed;
    @include flex-align-nowrap;
    padding: 0 .04rem;
    width:100%;
  }
  //-----------------------------------------
}