.ti-table {@include noselect;
  $thead : 32px; 
  $tcpad : 4px;
  overflow:hidden;
  position: relative;
  padding-top:$thead;
  /* Reset UL */
  ul.table-row {
    @include raw-list;
    display: table-row;
    //-------------------------------------------
    > li {
      display: table-cell;
      padding: $tcpad $tcpad*2; 
      white-space: nowrap;
      &.row-checker {
        cursor: pointer;
      }
    }
    //-------------------------------------------
    &.in-head {
      > li {
        @include border(1px, dotted, shallow, left);
        &:first-child {border-left:0;}
      }
    }
    //-------------------------------------------
    &.in-body {
      > li:first-child {
        padding-left: 13px; position:relative;
        &::before {
          @include pos-abs($t:12px,$b:12px,$l:4px,$w:1px);
          display:block; content:"";
          border:1px dotted map-get($color-primary, r);
          border-top:0; border-bottom:0;
          opacity: 0;
        }
      }
    }
    //-------------------------------------------
  }
  //---------------------------------------------
  .table-con {
    // thead
    &.as-head {
      @include pos-abs($t:0, $l:0, $r:0, $h:$thead);
      @include border(1px,solid,shallow,bottom);
      line-height: $thead - ($tcpad * 2);
      overflow:hidden;
    }
    // tbody {
    &.as-body {
      width:100%; height:100%; overflow: auto;
    }
    // Define the table layout
    > div {
      display: table;
      &.table-head {
        text-align:center; font-weight: bold;
      }
      &.table-body {
        ul.table-row {
          &.is-current {
            > li:first-child {
              &::before {
                opacity: 0.5;
              }
            }
          }
          &.is-selected {
            @include color-highlight;
          }
        }
      }
    } // ~ div
  }
  //---------------------------------------------
  &.show-border {
    ul.table-row {
      li {
        @include border(1px, dotted, shallow, bottom);
      }
    }
  }
  //---------------------------------------------
}