.ti-button {
  @include noselect;
  //---------------------------------------------
  ul {
    @include raw-list;
    @include flex-align-nowrap;
  }
  //---------------------------------------------
  li {
    flex:0 0 auto;
    @include flex-align-nowrap($jc:center); 
    //------------------------------
    > span {display: block;}
    //------------------------------
    margin-left:1px;
    &:first-child {margin-left:0;}
    //------------------------------
    &.is-invert-icon {
      .it-text {order:-1;}
    }
    //------------------------------
    &.is-enabled {@include fireable;}
    &.is-disabled {
      @include color($color-disable, r, c);
      opacity: 0.8; cursor: default;
    }
    //------------------------------
    .ti-icon .icon-icon > i {font-size:1em;}
    //------------------------------
  }
  //---------------------------------------------
  &.is-big {
    li {
      padding:0 1em; font-size:1.6em;
      min-width: 8em; line-height:2.6em;
      .it-text {padding:0 SZ(12);}
    }
  }
  //---------------------------------------------
  &.is-normal {
    li {
      padding:0 SZ(10); font-size:1.2em;
      min-width: SZ(120); line-height:SZ(48);
      .it-text {padding:0 SZ(8);}
    }
  }
  //---------------------------------------------
  &.is-small {
    li {
      padding:0 SZ(4); font-size:1em;
      min-width: SZ(80); line-height:SZ(32);
      .it-text {padding:0 SZ(4);}
    }
  }
  //---------------------------------------------
  &.is-tiny {
    li {
      padding:0 SZ(4); font-size:SZ(12);
      min-width: SZ(60); line-height:SZ(26);
      .it-text {padding:0 SZ(4);}
    }
  }
  //---------------------------------------------
  &.at-center {@include flex-center;}
  &.at-left   {@include flex-center($jc:flex-start);}
  &.at-top    {@include flex-center($ac:flex-start);}
  &.at-bottom {@include flex-center($ac:flex-end);}
  &.at-right  {@include flex-center($jc:flex-end);}
  //---------------------------------------------
  &.at-left-top     {@include flex($jc:flex-start,$ac:flex-start);}
  &.at-right-top    {@include flex($jc:flex-end  ,$ac:flex-start);}
  &.at-bottom-left  {@include flex($jc:flex-start,$ac:flex-end);}
  &.at-bottom-right {@include flex($jc:flex-end  ,$ac:flex-end);}
  //---------------------------------------------
}