.ti-droplist {
  @include noselect;
  display:inline-block; vertical-align: middle;
  //----------------------------------------------
  .dl-mask {
    @include pos-fixed-full;
    z-index:$z-mask;
    content:""; display: block;
  }
  //----------------------------------------------
  .dl-drop {
    @include color($color-paper, r, c);
    @include border(1px, solid, shallow);
    @include box-shadow;
    position:fixed;
    z-index:$z-top;
  }
  //----------------------------------------------
}