.ti-wizard > .wizard-con {
  width:100%; height:100%;
  position: relative;
  //----------------------------------------
  $wH: SZ(80);
  $wF: SZ(80);
  //----------------------------------------
  padding:$wH 0 $wF 0;
  //----------------------------------------
  > .as-head{@include pos-abs($t:0,$l:0,$r:0,$h:$wH);}
  > .as-foot{@include pos-abs($b:0,$l:0,$r:0,$h:$wF);}
  //----------------------------------------
  > .as-head {
    @include flex-align;
    @include noselect;
    padding:SZ(10) 0;
    //--------------------------------------
    .as-title {
      @include flex-center;
      @include color($color-track, c);
      padding: 0 .5em;
      font-size: 1.1em;
    }
    //--------------------------------------
    ul {
      @include flex-align-nowrap($jc:center);
      flex:1 1 auto;
      //------------------------------------
      li {
        color:map-get($color-track, c);
        //----------------------------------
        .as-indicator {
          @include flex-align-nowrap;
          .as-line {
            flex:1 1 auto;
            background:map-get($color-line, dark);
            height:SZ(4); width:SZ(10);
          }
          .as-dot {
            @include flex-center;
            @include font-fixed;
            width:SZ(32); height:SZ(32); margin:0 auto;
            border:2px solid map-get($color-line,dark);
            font-size:SZ(18); 
            border-radius: 50%;
          }
        }
        //----------------------------------
        .as-text {
          display:block; padding:SZ(4) SZ(20);
          text-align: center;
          line-height: 1.4em;
        }
        //----------------------------------
        &.is-passed {
          .as-indicator {
            .as-line {background:map-get($color-success, c);}
            .as-dot {
              @include color($color-success, c, r);
              border-color:map-get($color-success, c);
            }
          }
          .as-text {
            color:map-get($color-success, c);
          }
        }
        //----------------------------------
        &.is-current {
          font-weight: bold;
          .as-indicator {
            .as-line.at-l {background:map-get($color-success, c);}
            .as-dot {
              @include color($color-success, r, c);
              border-color:map-get($color-success, c);
            }
          }
          .as-text {
            color:map-get($color-success, c);
          }
        }
        //----------------------------------
        &.is-future {
          .as-dot,
          .as-text {
            opacity: 0.6;
          }
        }
        //----------------------------------
        &:first-child .as-indicator .at-l {
          visibility: hidden;
        }
        &:last-child .as-indicator .at-r {
          visibility: hidden;
        }
        //----------------------------------
      } // li
    } // ul
  } // .as-head
  //----------------------------------------
  > .as-main {
    width:100%; height:100%;
  } // .as-main
  //----------------------------------------
  > .as-foot {
    @include noselect;
    @include flex-align-nowrap;
    @include border(1px, solid, shallow, top);
    padding:.5em;
    //--------------------------------------
    > .as-space {flex:1 1 auto;}
    //--------------------------------------
    > .as-btn {
      @include flex-align-nowrap($jc:center);
      flex:0 0 auto;
      font-size:SZ(20); padding:0 .5em;
      line-height: 2.4em; min-width: 8em;
      opacity: 0.4;
      //----------------------------------
      &.is-enabled {
        @include fireable;
        opacity: 1;
      }
      //----------------------------------
      &.is-reverse {
        .as-text {order:1;}
        .as-sep  {order:2;}
        .as-icon {order:3;}
      }
      //----------------------------------
      > .as-sep {width:.5em;}
      > .as-icon {font-size:1.4em;}
      //----------------------------------
    } // li
    //--------------------------------------
  } // .as-foot
  //----------------------------------------
}