.ti-box {
  @include noselect;
  @include flex-align;
  @include text-input;
  min-width: 2rem;
  cursor:pointer;
  &:hover {
    border-color: map-get($color-selected, r);
    @include color($color-selected, c, r); 
    > .box-clear {
      > .ti-icon {
        @include color($color-selected, c);
        &:hover {
          @include color($color-warn, c);
          transform:scale(1.2);
        }
      }
    }
    > .box-btn {
      @include color($color-selected, c, r); 
    }
  }
  //--------------------------------------------
  > .as-single, >.as-multi, .as-empty {flex:1 1 auto;}
  //--------------------------------------------
  > .box-clear {
    @include flex-center;
    padding:0 .06rem;
    > .ti-icon {
      @include color($color-track, c);
      transition: transform 0.3s;
    }

  }
  //--------------------------------------------
  > .box-btn {
    @include flex-center;
    //@include color($color-success, r, c);
    flex:0 0 auto;
    padding:0 .06rem;
    > .btn-text {
      margin:0 .04rem;
    }
  }
  //--------------------------------------------
  > .as-single {
    padding:.02rem 0 .02rem .1rem;
  }
  //--------------------------------------------
  > .as-multi {
    @include raw-list;
    @include flex-align-center;
    padding:.02rem;
    font-size:0.9em;
    > li {
      @include flex-align-center;
      @include color($color-info, r, c);
      cursor:pointer;
      padding:0 .06rem; margin-right:0.02rem;
      border-radius:2px;
      //------------------------------------------
      .it-icon {margin-right:.04rem;}
      //------------------------------------------
      .it-del {
        @include flex-center;
        display:block; padding-left:0.04rem;
        font-size:0.9em; 
        > .ti-icon {transition: transform 0.3s;}
        &:hover > .ti-icon{
          @include color($color-warn, c);
          transform: scale(1.2) rotate(180deg);
        }
      }
      //------------------------------------------
    }  // > li
  }
  //--------------------------------------------
  .as-empty {
    padding:.02rem 0 .02rem .1rem;
  }
  //--------------------------------------------
}