.ti-combo-input {
  display:inline-block;
  vertical-align: bottom;
  //---------------------------------
  .ti-list {
    @include noselect;
  }
  //---------------------------------
  > .as-box {
    @include noselect;
    @include flex-align-nowrap($ai:stretch);
    @include border(1px, solid, dark);
    cursor: pointer;
    .as-icon {
      @include flex-center;
      flex:0 0 auto;
      width:.26rem;
      .ti-icon .icon-icon>i {
        font-size:1em; opacity: 0.6;
      }
    }
    .as-space {
      flex:0 0 auto; width:.06rem;
    }
    .as-input {
      @include flex-align-nowrap($ai:stretch);
      flex:1 1 auto;
      > input {
        @include font-fixed(.14rem);
        flex:1 1 auto;
        margin:0; width:100%; height:100%;
        border:0; outline: none;
        display:block;
        background:transparent;
      }
      > span {
        @include font-fixed(.14rem);
        @include flex-center($jc:flex-start);
        flex:1 1 auto;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .as-icon.is-state {
      cursor: pointer;
      &:hover {
        @include color($color-primary, r, c);
        .ti-icon .icon-icon>i {
          opacity: 1;
        }
      }
    }
  }
  //---------------------------------
  &.is-highlight {
    > .as-icon {
      .ti-icon .icon-icon>i {
        opacity: 1;
      }
    }
    > .as-box {
      @include border(1px, solid, highlight);
    }
  }
  //---------------------------------
  > .as-mask {
    @include pos-fixed-full;
  }
  //---------------------------------
  > .as-drop {
    @include color($color-body, r, c);
    border:1px solid map-get($color-primary, c);
    z-index:$z-mask;
    position: fixed;
    
  }
  //---------------------------------
}