/////////////////////////////////////////////////////
// Jumper
/////////////////////////////////////////////////////
.ti-paging-jumper {
  @include flex-center;
  @include noselect;
  padding:.06rem; font-size:.12rem;
  //-------------------------------------
  .pj-btn {
    @include border(1px, solid, dark);
    @include flex-align-nowrap;
    padding:0 .06rem; margin:0 4px;
    line-height: 2em;
    &.is-disabled {
      opacity: 0.2; cursor: default;
    }
    &.is-enabled {
      @include fireable;
    }
    > .it-text {margin:0 .04rem;}
  }
  //-------------------------------------
  .pj-current {
    min-width: 4em; padding:0 .02rem;
    text-align: center;
    &.is-disabled {
      opacity: 0.2; cursor: default;
    }
    &.is-enabled {
      cursor:pointer;
      &:hover {
        @include color($color-primary, c);
        text-decoration: underline;
      }
    }
  }
  //-------------------------------------
  .pj-sum {
    @include color($color-track, c);
    font-size:.9em; padding:0 .04rem;
    white-space: nowrap;
    &.is-disabled {
      opacity: 0.2; cursor: default;
    }
    &.is-enabled {
      cursor:pointer;
      &:hover {
        @include color($color-primary, c);
        text-decoration: underline;
      }
    }
  }
  //-------------------------------------
}
/////////////////////////////////////////////////////