.ti-media-binary {
  @include color($color-paper, r, c);
  width:100%; height:100%;
  padding-bottom:10%;
  @include flex-align-v($jc:center, $ai:center,$wp:nowrap);
  .tob-icon {
    padding:SZ(20)
  }
  .tob-title {
    @include font-fixed(1.4em);
    padding:SZ(10);
  }
  .tob-actions > a{
    @include flex-align-center;
    > .ti-icon {margin-right:SZ(6);}
  }
}