.ti-list {
  ul {
    @include raw-list;
    padding:1px;
  }
  li {
    @include flex-align($ai:center);
    @include border(1px, dashed, shallow, top);
    cursor:pointer;
    padding:.02rem .06rem;
    &:first-child {border-top:0;}    
    &.is-selected {
      @include color($color-secondary, r, c);
    }
    &.is-focused {
      @include color($color-selected, r, c);
    }
    > .it-icon {
      @include flex-center;
      width:.32rem;
    }
    > .it-text {
      flex:1 1 auto;
      padding:0 0.1rem 0 .04rem;
    }
    > .it-tip {
      @include font-fixed;
      font-size:.9em; opacity: 0.6;
      padding:0 .06rem;
    }
  }
}