.ti-input {
  $suffix-w : 32px;
  //-----------------------------------------
  position: relative;
  //-----------------------------------------
  textarea {
    @include text-input;
    width:100%;
    font-size:.16rem;
    outline:none;
    resize:none;
    padding:.08rem .1rem;
    min-height: 4em;
  }
  //-----------------------------------------
  input {
    @include text-input;
    width:100%;
    font-size:.16rem;
    outline:none;
    padding:.08rem .1rem;
    &.has-suffix {
      padding-right: $suffix-w;
    }
  }
  //-----------------------------------------
  .input-suffix {
    @include flex-center;
    @include color($color-track, c);
    @include pos-abs($t:0,$r:0,$b:0,$w:$suffix-w);
    font-size:12px;
  }
  //-----------------------------------------
}