.web-shelf-wall {
  //------------------------------------------
  .wall-group {
    @include flex(flex-start, stretch, nowrap, stretch);
    padding: .5em 0;
    //----------------------------------------
    > .wall-tile {
      @include flex(center, stretch, nowrap, stretch);
      flex:1 1 auto; 
      > * {width:100%;}
    }
    //----------------------------------------
  }
  //------------------------------------------
}