.wn-combo-edit-com {
  @include noselect;
  //------------------------------------------
  > .as-value {
    @include color($color-primary, c);
    cursor: pointer;
    padding: .06rem;
    //----------------------------------------
    &:hover {
      @include color($color-secondary, c);
      text-decoration: underline;
    }
    //----------------------------------------
  }
  //------------------------------------------
  &:hover {
    opacity: 1;
  }
  //------------------------------------------
}