.wn-obj-icon {
  @include flex-center;
  width:36px; height:36px;
  font-size:SZ(18);
  img {
    width:32px; height:32px;
    object-fit: cover;
    border:1px solid map-get($color-line, shallow);
    border-radius: 2px;
  }
}