// bordering
.wn-manager {
  @include font-nice(null, 2.2em, .015em);
  .wnm-sky    {@include border($pos:bottom);}
  .wnm-aside  {@include border($pos:right);}
  .wnm-footer {@include border($pos:top);}
  .wnm-action .wnm-action-menu {
    @include border($pos:left);
  }
}
// padding
.wn-manager {
  .wnm-logo   {padding:0 .02rem 0 .12rem;}
  .wnm-action {padding:0 .12rem;
    > * {padding:0 .08rem;}
    > *:first-child{padding-left:0;}
    > *:last-child{padding-right:0;}
  }
  .wnm-aside  {padding: .01rem;}
  .wnm-footer > * {padding:0 .1rem;}
}
// bgcolor
.wn-manager {
  .wnm-sky,
  .wnm-aside,
  .wnm-footer{
    @include color($color-h1, null, c);
  }
}
// font-size & misc
.wn-manager {
  .wnm-title {
    overflow:hidden;
  }
  .wnm-footer {
    @include color($color-disable, c);
    @include font-nice(.12rem); 
    .ti-icon {font-size:1.2em; margin:0 .06rem 0 0;}
    > .wnm-log {white-space: nowrap;}
  }
}
// Sizing
.wn-manager {
  $SZ : (
    sky    : .48rem,
    aside  : 1.8rem,
    footer : .32rem
  );
  width:100%; height:100%;
  position:relative;
  > * {position:absolute;}
  > .wnm-sky {
    @include pos((
      l:0,t:0,w:100%,
      h:map-get($SZ,sky))...);
  }
  > .wnm-aside {
    @include pos((
      l:0,
      b:map-get($SZ,footer),
      t:map-get($SZ,sky),
      w:map-get($SZ,aside))...);
  }
  > .wnm-arena {
    @include pos((
      r:0,
      l:map-get($SZ,aside),
      t:map-get($SZ,sky),
      b:map-get($SZ,footer))...);
  }
  > .wnm-footer {
    @include pos((
      l:0, b:0,r:0,
      h:map-get($SZ,footer))...);
  }
  .wnm-loading-mask {
    @include pos-fixed-full;
    background:rgba(0,0,0,0);
  }
}

// Sidebar
.wnm-aside {
  overflow-x:hidden; overflow-y:auto; 
  .sidebar-item {
    .it-info {
      @include noselect;
      @include flex-align($wp:nowrap);
      width:100%; padding:0 .5em; cursor: pointer;
      > span.ti-icon {
        flex:0 0 auto; width:.2rem; min-width:18px;
        margin-right:1px;
      }
      > .it-info-text {
        flex:1 1 auto; 
        @include text-overflow;
      }
    }
    .it-con {
      padding-left:1em; 
    }
    &.is-highlight {
      > .it-info {
        @include color($color-primary, r, c);
        a{color:unset;}
        a:hover {text-decoration: none; color:unset;}
      }
    }
    &.is-group {
      > .it-info {
        font-size:.8em;
      }
    }
    &.is-collapse {
      &.is-group > .it-info {
        color: map-get($color-primary, c);
        background: map-get($color-h1, c);
        &:after {
          display:block; flex:0 0 auto;
          content:"..."; padding:0 .1em;
        }
      }
      > .it-con {height:0; overflow:hidden;}
    }
  } // ~ .sidebar-item
}
