.hm-prop-css-rules {
  @include border(1px, dashed, shallow);
  padding: SZ(4);
  //-----------------------------------------
  .ti-actionbar {
    @include color($color-bar, r, c);
    //---------------------------------------
    .bar-item-info.is-top {
      line-height: 1.2em; font-size: SZ(11);
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .ti-button {
    padding: SZ(10);
    li.is-enabled {
      @include color($color-chip, r, c);
      @include border(1px, dashed, shallow);
      border-radius: SZ(6);
      &:hover {
        @include color($color-primary, r, c);
        border-style: solid;
      }
    }
  }
  //-----------------------------------------
  table {
    width:100%;
    border:0; margin:0; border-spacing:0;
    border-collapse:collapse;
    //---------------------------------------
    td {
      border:1px solid map-get($color-bar, c);
      font-size: SZ(11); padding: SZ(6);
      //-------------------------------------
      &.as-title-cell {
        color:map-get($color-track, c);
        white-space: nowrap;
      }
      //-------------------------------------
      &.as-value-cell {
        @include font-fixed;
        position: relative; cursor: pointer;
        color:map-get($color-success, c);
        //-----------------------------------
        .as-remove {
          @include pos-abs($r:0,$t:0,$b:0);
          @include flex-center;
          opacity: 0; transition: 0.5s;
          padding: 0 SZ(4);
          //---------------------------------
          i {
            @include flex-center;
            color: map-get($color-secondary, c);
            width: SZ(16); height: SZ(16); font-size: SZ(12);
            border-radius: 50%;
            transition: 0.5s;
          }
          //---------------------------------
          &:hover i {
            @include color($color-secondary, r, c);
            transform: rotate(180deg);
          }
          //---------------------------------
        }
        //-----------------------------------
        &:hover .as-remove {opacity: 1;}
        //-----------------------------------
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
}