<div class="ti-table"
  :class="topClass"
  @click="onClickTop"
  v-ti-actived="__set_actived">
  <!--
    Blank
  -->
  <div
    v-if="isDataEmpty"
      class="ti-blank is-big">
      <ti-loading v-bind="blankAs"/>
  </div>
  <!--
    Show thead/tbody
  -->
  <template v-else>
    <!--
      Head
    -->
    <div v-if="isShowHead"
      class="table-head"
      :style="tableStyle">
      <!--checker-->
      <div
          v-if="checkable && multi"
            class="as-checker"
            @click.left="onClickHeadChecker">
            <ti-icon :value="theHeadCheckerIcon"/>
      </div>
      <!--field titles-->
      <ul>
        <li
          v-for="fld in theDisplayFields"
            class="table-head-cell"
            :style="headCellStyle(fld.index)"
            :col-index="fld.index">
          <span class="table-head-cell-text">{{fld.title|i18n}}</span>
        </li>
      </ul>
    </div
    <!--
      Body
    -->
    <div ref="body"
      class="table-body"
      :style="tableStyle">
      <table-row
        v-for="row in theData"
          :key="row.id"
          :row-id="row.id"
          :icon="row.icon"
          :data="row.rawData"
          :indent="row.indent"
          :fields="theDisplayFields"
          :sizes="myColSizes.amended"
          :current-id="myCurrentId"
          :hover-id="myHoverId"
          :checked-ids="myCheckedIds"
          :checkable="checkable"
          :selectable="selectable"
          :openable="openable"
          :explain-dict="explainDict"
          @icon="$emit('icon', $event)"
          @checker="onRowCheckerClick"
          @select="onRowSelect"
          @open="onRowOpen"
          @enter="onRowEnter"
          @leave="onRowLeave"
          @item:changed="onItemChanged"/>
    </div>
  </template>
</div>