<div 
  class="ti-upload-multi-files full-field"
  :class="TopClass"><div class="as-wrapper">
  <!--
    Hidden input file to choose files
  -->
  <input 
    type="file" 
    ref="file" 
    class="ti-hide"
    multiple
    @change.stop.seft="OnSelectLocalFilesToUpload">
  <!--
    Main container
  -->
  <div class="as-main" v-drop-files.mask="OnDropFiles" ref="itemsCon">
    <!--
      Show items (Uploaded and Uploading)
    -->
    <div
      v-for="(it,index) in PreviewItems"
        :key="it.key || it.id || index"
        class="file-item as-item"
        :class="it.className">
        <!--Preview-->
        <TiObjThumb
          :style="ItemStyle"
          :preview="it.thumb"
          :title="it.text"
          :progress="it.progress"
          :show-footer="showItemText"
          :previewStyle="ItemPreviewStyle"/>
        <!--Actions-->
        <div class="item-actions">
          <ul>
              <!--Action:Remove-->
              <li v-if="isShowItemRemoveBtn" @click.left="OnRemoveItem(it)">
                <i class="zmdi zmdi-close-circle"></i>
                <span>{{'i18n:remove'|i18n}}</span>
              </li>
              <!--Action:Open-->
              <li @click.left="OnOpenItem(it)" v-if="it.id">
                <i class="zmdi zmdi-open-in-new"></i>
                <span>{{'i18n:open'|i18n}}</span>
              </li>
              <!--Action:Download-->
              <li @click.left="OnDownloadItem(it)" v-if="it.id">
                <i class="zmdi zmdi-download"></i>
                <span>{{'i18n:download'|i18n}}</span>
              </li>
          </ul>
        </div>
    </div>
    <!--
      Show the new icon
    -->
    <div 
      v-if="isShowAddBtn"
        class="file-item as-new"
        :style="ItemStyle"
        @click.left="OnClickAdd"><i class="zmdi zmdi-plus"></i></div>
    <!--
      Show placeholder
    -->
    <TiLoading
      v-if="!isShowAddBtn && !hasItems"
        v-bind="blankAs"/>
  </div>
  <!--
    Global actions
  -->
  <div
    v-if="isShowActions"
      class="as-actions">
      <!--Reload-->
      <div v-if="reloadable" class="action-item" @click.left="OnReload">
        <i class="zmdi zmdi-refresh"></i>
        <span>{{'i18n:refresh'|i18n}}</span>
      </div>
      <!--Clean-->
      <div v-if="isShowDelete" class="action-item" @click.left="OnClean">
        <i class="fas fa-trash-alt"></i>
        <span>{{'i18n:clean'|i18n}}</span>
      </div>
  </div>
</div></div>