<div class="ti-combo-input"
  :class="topClass">
  <!--
    Display or input
  -->
  <div class="as-box" ref="box"
    :style="boxStyle"
    @click="dropOpened=true">
    <!-- Icon -->
    <div v-if="icon"
      class="as-icon">
      <ti-icon :value="icon"/>
    </div>
    <div v-else
      class="as-space"></div>
    <!-- Input / Text -->
    <div class="as-input">
      <!--Editable-->
      <input v-if="editable"
        spellcheck="false" 
        :value="theTextOrValue"
        :placeholder="placeholder"
        @click.stop
        @keyup="onInputKeyPress"
        @change="onInputChanged"
        @focus="onInputFocus"
        @blur="onInputBlur">
      <!--Display only-->
      <span v-else>{{theTextOrValue}}</span>
    </div>
    <!-- Drop State -->
    <div class="as-icon is-state">
      <ti-icon :value="stateIcon"/>
    </div>
  </div>
  <!--
    Drop
  -->
  <template v-if="dropOpened">
    <div class="as-mask" @click="closeDrop"></div>
    <div class="as-drop" :style="dropStyle" ref="drop">
      <slot>
        <span>This is dropdown content</span>
      </slot>
    </div>
  </template>
</div>