.web-shelf-wall {
  //------------------------------------------
  .wall-group {
    @include flex(space-around, stretch);
  }
  //------------------------------------------
  &.is-multi-rows .wall-group {
    justify-content: space-around;
  }
  &.is-single-row .wall-group {
    justify-content: flex-start;
  }
  //------------------------------------------
  .wall-tile {
    @include flex(center, stretch, nowrap, stretch);
    flex:1 1 auto; 
    > * {width:100%;}
  }
  //-------------------------------------
  .as-load-more {
    padding: SZ(20);
    //-----------------------------------
    > .as-load-more-btn {
      @include flex-align-nowrap($jc:center);
      @include color($color-primary, r, c);
      padding: SZ(12); cursor: pointer;
      font-size: SZ(16);
      border-radius: SZ(4);
      //---------------------------------
      > .as-text {
        margin:0 SZ(10); letter-spacing: 4px;
      }
      //---------------------------------
      &:hover {
        @include color($color-secondary, r, c);
      }
      //---------------------------------
    }
    //-----------------------------------
  }
  //------------------------------------------
  &.item-space-xl  .wall-tile {padding: SZ(30);}
  &.item-space-lg  .wall-tile {padding: SZ(24);}
  &.item-space-md  .wall-tile {padding: SZ(16);}
  &.item-space-sm  .wall-tile {padding: SZ(10);}
  &.item-space-xs  .wall-tile {padding: SZ(4);}
  &.item-space-no  .wall-tile {padding: 0;}
  //------------------------------------------
  &.flex-none   .wall-tile {flex:0 0 auto;}
  &.flex-both   .wall-tile {flex:1 1 auto;}
  &.flex-grow   .wall-tile {flex:1 0 auto;}
  &.flex-shrink .wall-tile {flex:0 1 auto;}
  //------------------------------------------
}