.web-nav-links {
  @include noselect;
  @include flex-align-nowrap;
  //------------------------------------
  &.as-uppercase  .it-info-text {text-transform: uppercase;}
  &.as-lowercase  .it-info-text {text-transform: lowercase;}
  &.as-capitalize .it-info-text {text-transform: capitalize;}
  //------------------------------------
  &.is-border-solid .link-item.is-top {
    @include border(1px, solid, shallow, left);
    &:first-child {border:0;}
  }
  &.is-border-dashed  .link-item.is-top {
    @include border(1px, dashed, dark, left);
    &:first-child {border:0;}
  }
  &.is-border-dotted  .link-item.is-top {
    @include border(1px, dotted, dark, left);
    &:first-child {border:0;}
  }
  //------------------------------------
  &.is-align-left   {justify-content: flex-start;}
  &.is-align-center {justify-content: center;}
  &.is-align-right  {justify-content: flex-end;}
  //------------------------------------
  &.is-spacing-tiny  .link-item.is-top {padding:.2em 0.4em;}
  &.is-spacing-comfy .link-item.is-top {padding:.4em 0.8em;}
  &.is-spacing-wide  .link-item.is-top {padding:.6em 1.2em;}
  //------------------------------------
  .link-item {
    @include flex-align-nowrap;
    position: relative;
    //----------------------------------
    &.is-top > .it-con {
      padding: SZ(10) 0;
    }
    //----------------------------------
    &.is-sub {
      padding: .5em; line-height: 1.8em;;
    }
    &.is-sub > .it-con {padding: 0 SZ(10); ;}
    //----------------------------------
    &.is-opened {
      @include color($color-weaktip, r, c);
    }
    //----------------------------------
    &.is-highlight, &.is-current {
      @include color($color-primary, r, c);
      > .it-info a {color:inherit;}
    }
    //----------------------------------
  }
  //------------------------------------
  .it-con {
    position: absolute; z-index: $z-menu;
    opacity: 0;
  }
  //------------------------------------
  .link-item.is-dock-show > .it-con {
    transition: .3s; opacity: 1;
  }
  //------------------------------------
  .it-con-wrapper {
    @include flex-align-v-nowrap;
    @include color($color-body, r, c);
    @include border(1px, solid, shallow);
    min-width: 10em; 
    padding: SZ(10) 0;
  }
  //------------------------------------
  .link-item.is-top > .it-con {
    top: SZ(50); left: 0;
  }
  //------------------------------------
  .link-item.is-sub {
    > .it-info {line-height: 2em;}
  }
  //------------------------------------
  //
  //  Top Item Style: hover-line
  //
  &.hover-line {
    align-items: stretch;
    > .link-item.is-top {
      @include flex-align-nowrap($ai:stretch);
      padding-top: 0; padding-bottom: 0;
      //----------------------------------------
      > .it-info {
        @include flex-align-nowrap($ai:stretch);
        //--------------------------------------
        > a {
          display: block; @include flex-center;
          position: relative; padding: 0 .5em;
          //------------------------------------
          &:after {
            @include pos-abs($l:50%,$r:50%,$b:0,$h:SZ(3));
            display: block; content:"";
            margin: SZ(12) auto 0 auto;
            background: map-get($color-primary, c); opacity: 0;
            transition: .5s;
          }
          //------------------------------------
          &:hover {
            text-decoration: none;
            color: map-get($color-primary, c);
            &::after {
              opacity: 1; left:0; right:0;
            }
          }
          //------------------------------------
        }
        //--------------------------------------
      }
      //----------------------------------
      &.is-opened {
        color: inherit; background-color: inherit;
      }
      //----------------------------------------
      &.is-highlight, &.is-current {
        color: inherit;
        background-color: transparent;
        > .it-info > a {
          color: map-get($color-primary, c);
          &:hover::after, &::after {
            color: map-get($color-primary, r);
            background: map-get($color-primary, c);
            width:100%; left:0; opacity: 1;
          }
        }
      }
    } // > .link-item.is-top
  }
  //------------------------------------
  &.sub-border-weak {
    @include border(1px, solid, weak, top);
    padding: .5em 1.4em;
    &:first-child {border-top:0;}
  }
  //------------------------------------
  &.sub-border {
    @include border(1px, solid, shallow, top);
    padding: .5em 1.4em;
    &:first-child {border-top:0;}
  }
  //------------------------------------
}