.web-tile-article {
  //------------------------------------
  @include flex-align-v-nowrap($jc:center);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  //------------------------------------
  > header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 SZ(36);
    margin:0 0 1em 0; font-size: 1.6em;
    font-weight: bold; 
    position: relative;
  }
  //------------------------------------
  > article {
    padding: 0 SZ(36);
    h1,h2,h3,h4,h5,h6 {font-weight: normal;}
    h1 {padding:0; margin:0.2em 0; font-size: 1.4em;}
    h2 {padding:0; margin:0.2em 0; font-size: 1.3em;}
    h3 {padding:0; margin:0.2em 0; font-size: 1.2em;}
    h4 {padding:0; margin:0.2em 0; font-size: 1.1em;}
    h5 {padding:0; margin:0.2em 0; font-size: 1em;}
    h6 {padding:0; margin:0.2em 0; font-size: 1em;}
    blockquote {
      margin: .5em 0; 
      font-size: .9em; opacity: 0.8;
    }
  }
  //------------------------------------
  > footer {
    padding: 0 SZ(36);
    @include flex-align-nowrap;
    margin: 1em 0;
    //----------------------------------
    .as-btn {
      @include flex-align-nowrap;
      @include color($color-primary, c, r);
      border:1px solid map-get($color-primary, c);
      padding: .5em 1em;
      border-radius: SZ(4);
      cursor: pointer;
      &:hover {
        @include color($color-primary, r, c); 
        text-decoration: none;
      }
      > .as-text {margin:0 .5em;}
    }
    //----------------------------------
  }
  //------------------------------------
  &.is-bg-at-head {
    //----------------------------------
    > header {
      @include color($color-primary, r, c);
      @include flex($jc:flex-start,$ai:flex-end);
      padding: 0.5em;
    }
    //----------------------------------
    &.as-mask > header {
      //--------------------------------
      > * {z-index: $z-above; cursor: default;}
      //--------------------------------
      &:before {
        @include pos-abs-full;
        display:block; content: ""; opacity: 0.6;
        transition: opacity 0.3s;
        background: radial-gradient(rgba(0,0,0,0.4) 0%, #000 100%);
      } 
      //--------------------------------
    } // &.as-mask {
    //----------------------------------
    &.hover-mask > header {
      //--------------------------------
      > * {z-index: $z-above; cursor: default;}
      //--------------------------------
      &:before {
        @include pos-abs-full;
        display:block; content: ""; opacity: 0;
        transition: opacity 0.3s;
        background: radial-gradient(rgba(0,0,0,0.4) 0%, #000 100%);
      }
      //--------------------------------
      &:hover::before {
        opacity: 0.6;
      }
      //--------------------------------
    } // &.hover-mask {
    //----------------------------------
  }
  //------------------------------------
  &.is-bg-at-top {
    @include color($color-primary, r, c);
    //----------------------------------
    > footer {
      //--------------------------------
      .as-btn {
        color: rgba(255,255,255, 0.8); 
        background: rgba(20,20,20, 0.4);
        border:1px solid rgba(255,255,255, 0.6);
        &:hover {
          color: #FFF;  border-color: #FFF; 
          background: rgba(0,0,0, 0.8);
        }
      }
      //--------------------------------
    }
    //----------------------------------
    &.as-mask {
      //--------------------------------
      > * {z-index: $z-above; cursor: default;}
      //--------------------------------
      &:before {
        @include pos-abs-full;
        display:block; content: ""; opacity: 0.6;
        transition: opacity 0.3s;
        background: radial-gradient(rgba(0,0,0,0.4) 0%, #000 100%);
      } 
      //--------------------------------
    } // &.as-mask {
    //----------------------------------
    &.hover-mask {
      //--------------------------------
      > * {z-index: $z-above; cursor: default;}
      //--------------------------------
      &:before {
        @include pos-abs-full;
        display:block; content: ""; opacity: 0;
        transition: opacity 0.3s;
        background: radial-gradient(rgba(0,0,0,0.4) 0%, #000 100%);
      }
      //--------------------------------
      &:hover::before {
        opacity: 0.6;
      }
      //--------------------------------
    } // &.hover-mask {
    //----------------------------------
  } // &.is-bg-at-top {
  //------------------------------------
  &.is-header-shadow header {
    text-shadow: SZ(1) SZ(1) SZ(2) map-get($color-shadow, heavy);
  }
  //------------------------------------
}