.web-media-image {
  display: block;
  width:100%; height:100%;
  position: relative;
  font-size:SZ(20);
  //-----------------------------------------
  &.no-href {cursor: default; text-decoration: none;}
  &.has-href {cursor: pointer; text-decoration: none;}
  //-----------------------------------------
  .as-img-con {
    flex:1 1 auto;
    width:100%; height:100%;
    overflow: hidden;
  }
  img {
    flex:1 1 auto;
    width:100%; height:100%;
    object-fit: cover;
    display:block;
  }
  //-----------------------------------------
  .as-tags {
    @include pos-abs($l:0,$t:0);
    font-size: SZ(10);
  }
  //-----------------------------------------
  .as-tag-item {
    @include color($color-primary, r, c);
    padding: SZ(6) SZ(6);    
  }
  //-----------------------------------------
  &.is-fit-none    img {object-fit: unset;}
  &.is-fit-contain img {object-fit: contain;}
  &.is-fit-cover   img {object-fit: cover; }
  //-----------------------------------------
  .as-text {
    @include flex-center; 
    @include font-nice;
    //---------------------------------------
    .as-brief {
      @include border(1px, solid, shallow, top);
      display: block;
      padding: 1em 0; margin-top: 1em;
      font-size: 0.9em; opacity: 0.7; 
      font-weight: normal;
      text-decoration: none;
      &:hover {text-decoration: none;}
    }
    //---------------------------------------  
  }
  //-----------------------------------------
  .as-zoom-pick {
    position: absolute;
    border:1px solid #DDD;
    background: rgba(255,255,0, 0.4);
    cursor: move;
  }
  //-----------------------------------------
  .as-zoom-dock {
    position: fixed; background: #000;
    background-repeat: no-repeat;
  }
  //-----------------------------------------
  &.primary-img-size {
    img {
      width:auto; height:auto; flex:0 0 auto;
      margin:0 auto;
    }
  }
  //-----------------------------------------
  &.hover-to-up {
    transition: transform 0.3s; 
    &:hover {
      transform: translateY(-3px);
      box-shadow: SZ(4) SZ(4) SZ(10) map-get($color-shadow, thin);
    }
  }
  //-----------------------------------------
  &.hover-to-zoom {
    .as-img-con img {transition: transform 0.5s; }
    &:hover .as-img-con img {
      transform: scale(1.2);
    }
  }
  //-----------------------------------------
  &.ts-shadow .as-text {text-shadow: 2px 2px 6px rgba(0,0,0,0.6);}
  &.ts-mask .as-text {background-color:rgba(0,0,0,0.4);}
  //-----------------------------------------
  &.text-in.at-center .as-text {@include pos-abs-full;}
  &.text-in.at-top    .as-text {@include pos-abs($l:0,$r:0,$t:0);}
  &.text-in.at-bottom .as-text {@include pos-abs($l:0,$r:0,$b:0);}
  &.text-in.at-left   .as-text {@include pos-abs($l:0,$t:0,$b:0);}
  &.text-in.at-right  .as-text {@include pos-abs($r:0,$t:0,$b:0);}

  &.text-in.at-bottom-left  .as-text {@include pos-abs($l:0,$b:0);}
  &.text-in.at-bottom-right .as-text {@include pos-abs($r:0,$b:0);}
  &.text-in.at-left-top     .as-text {@include pos-abs($l:0,$t:0);}
  &.text-in.at-right-top    .as-text {@include pos-abs($r:0,$t:0);}
  //-----------------------------------------
  &.text-in .as-text{
    padding: 0.5em 0.6em; 
    color:#FFF;
  }
  //-----------------------------------------
  &.text-out.fix-image-size {
    .as-img-con {flex:0 0 auto;}
    .as-text {flex:1 1 auto;}
  }
  //-----------------------------------------
  &.text-out .as-text{
    padding: 0.5em 0.3em; 
  }
  //-----------------------------------------
  &.text-out.at-top {
    @include flex-align-v-nowrap;
    .as-text {order: -1; display: block; text-align: center;}
  }
  &.text-out.at-bottom {
    @include flex-align-v-nowrap;
    .as-text {display: block; text-align: center;}
  }
  &.text-out.at-left {
    @include flex-align-nowrap($ai:stretch);
    .as-text {order: -1;}
  }
  &.text-out.at-right {
    @include flex-align-nowrap($ai:stretch);
    .as-text {}
  }
  //-----------------------------------------
  &.fs-xs .as-text {font-size: .6em;}
  &.fs-sm .as-text {font-size: .8em;}
  &.fs-md .as-text {font-size: 1em;}
  &.fs-lg .as-text {font-size: 1.2em;}
  &.fs-xl .as-text {font-size: 1.5em;}
  //-----------------------------------------
}