.web-text-raw {
  font-size:SZ(16); line-height: 2.4em;
  //-----------------------------------------
  .ti-icon {margin:0 .5em;}
  //-----------------------------------------
  &.as-align {
    //-----------------------------------------
    &.is-left    .as-text {text-align: left;}
    &.is-center  .as-text {text-align: center;}
    &.is-right   .as-text {text-align: right;}
    &.is-justify .as-text {text-align: justify;}
  }
  //-----------------------------------------
  &.is-tiny   div {font-size: .6em;}
  &.is-small  div {font-size: .8em;}
  &.is-normal div {font-size: 1em;}
  &.is-big    div {font-size: 1.2em;}
  &.is-hug    div {font-size: 1.5em;}
  //-----------------------------------------
}