.web-widget-sharebar {
  //------------------------------------
  .as-title {
    text-align: center;
  }
  //------------------------------------
  .as-items {
    @include flex-align-nowrap($jc:center);
    a.bar-item {
      margin:1em; 
    }
  }
  //------------------------------------
  .as-weixin-qrcode-con {
    @include pos-fixed-full;
    @include flex-center;
    @include color($color-mask, r, bushy);
    z-index: $z-mask;
    .as-qrcode-img {
      text-align: center;
    }
  }
  //------------------------------------
}