.web-simple-form {
  @include flex-align-v-nowrap;
  padding: 2em;
  //-------------------------------------
  a {
    @include noselect;
    cursor: pointer;
    &:hover {text-decoration: underline;}
  }
  //-------------------------------------
  > header {
    margin: 1em 0; text-align: center;
    font-size:2em;
  }
  //-------------------------------------
  > section {
    margin: 1em 0;
    //---------------------------------
    div {
      @include flex-align-nowrap;
      //-------------------------------
      &.as-input {
        @include color($color-input,c,r); 
        margin:.5em 0;
        border:1px solid map-get($color-line, dark);
        &.is-invalid {
          border-color:map-get($color-error, c);
        }
      }
      //-------------------------------
      &.as-btn {
        margin:.5em 0;
      }
      //-------------------------------
      .is-tipbar {
        @include noselect;
        @include flex-align-nowrap;
        cursor: pointer;
        padding: 0 .5em; width:100%;
        //-----------------------------
        > span {
          margin:0 .5em; 
          &.is-weak {font-size:.9em;}
          &.is-strong{ font-size: 1.2em; font-weight: bold;}
        }
        //-----------------------------
        > u {
          @include border(1px, solid, shallow);
          @include color($color-disable, null, c);
          margin:1px; flex:1 1 auto;
          text-decoration: none;
          display:block;
          width:25%; text-align: center;
          padding: .5em;
          &.is-on {
            @include color($color-success, null, c);
          }
        }
        //-----------------------------  
      }
      //-------------------------------
      input {
        flex:1 1 auto; width:10px;
        padding: .7em;
        font-size: 1.4em;
        outline:none; border:0;
        color:inherit;
        background-color: transparent;
      }
      //-------------------------------
      span {
        @include flex-center;
        flex:0 0 auto;
        display: block; padding:SZ(10);
        white-space: nowrap;
        > em {
          font-style:normal;
        }
      }
      //-------------------------------
      button {
        @include fireable;
        flex:1 1 auto;
        padding:.7em; width:100%;
        font-size: 1.4em; letter-spacing: .1em;
        outline:none; border:0; 
        //-----------------------------
        &.is-lack {
          @include color($color-disable, r, c);
          cursor: not-allowed;
          &:hover {@include color($color-disable, r, c);}
        }
        //-----------------------------
        &.is-short {
          @include color($color-warn, r, c);
          cursor: no-drop;
          &:hover {@include color($color-warn, r, c);}
        }
        //-----------------------------
        &.is-unmatch {
          @include color($color-error, r, c);
          cursor: no-drop;
          &:hover {@include color($color-error, r, c);}
        }
        //-----------------------------
        //-----------------------------
      }
      //-------------------------------
    }
    //---------------------------------
    ul.as-links {
      @include raw-list;
      @include flex-align-nowrap;
      padding:SZ(8) SZ(8);
      li {
        &.at-left  {
          flex:0 0 auto;
        }
        &.at-right {
          flex:1 1 auto; text-align: right;
          a {color:map-get($color-track, c);}
        }
      }
    }
    //---------------------------------
    div.as-links {
      display: block;
      padding: .5em; line-height: 1.8em;
    }
    //---------------------------------
  } // section {
  //-------------------------------------
  > .as-spacing {flex:1 1 auto;}
  //-------------------------------------
  > footer {
    @include flex-align-nowrap($jc:center);
    a {
      display: block; margin:0 .2em;
      font-size: SZ(32);
      .ti-icon {transition: 0.3s;}
      &:hover{
        text-decoration: none;
        .ti-icon {transform: scale(1.3) rotate(360deg);}
      }
    }
  }
  //-------------------------------------
}