.web-shelf-list {
  //------------------------------------------
  > .list-con > .list-item {
    @include flex($ai:stretch, $ac:stretch);
    padding: .5em;
    > * {flex:1 1 auto;}
  }
  //------------------------------------------
  &.with-solid-border {
    > .list-con> .list-item {
      @include border(1px, solid, shallow, top);
      &:first-child {border-top:0;}
    }
  }
  //------------------------------------------
  &.with-dashed-border {
    > .list-con> .list-item {
      @include border(1px, dashed, shallow, top);
      &:first-child {border-top:0;}
    }
  }
  //------------------------------------------
  &.with-dotted-border {
    > .list-con> .list-item {
      @include border(1px, dotted, shallow, top);
      &:first-child {border-top:0;}
    }
  }
  //------------------------------------------
  &.no-item-padding {
    > .list-con > .list-item {padding: 0;}
  }
  //------------------------------------------
  &.as-flex > .list-con {
    @include flex-align;
    //---------------------------------------
    &.is-wrap    {flex-wrap: nowrap;}
    &.is-nowrap  {flex-wrap: nowrap;}
    &.is-between {justify-content: space-between;}
    &.is-around  {justify-content: space-around;}
    &.is-left    {justify-content: flex-start;}
    &.is-center  {justify-content: center;}
    &.is-right   {justify-content: flex-end;}
    //---------------------------------------
  }
  //------------------------------------------
  &.item-space-xl  .list-item {padding: SZ(30);}
  &.item-space-lg  .list-item {padding: SZ(24);}
  &.item-space-md  .list-item {padding: SZ(16);}
  &.item-space-sm  .list-item {padding: SZ(10);}
  &.item-space-xs  .list-item {padding: SZ(4);}
  &.item-space-no  .list-item {padding: 0;}
  //------------------------------------------
}