.web-nav-side {
  width:100%; 
  padding: .6em 0;
  //------------------------------------
  .side-item {
    //----------------------------------
    .it-info {
      @include noselect;
      @include flex-align($ai:center, $wp:nowrap);
      width:100%; cursor: pointer;
      padding: .6em 1.2em;
      > .it-info-icon {
        @include flex-center;
        width:SZ(28); font-size: SZ(18);
        margin-right:SZ(6);
      }
      > .it-info-text {
        flex:1 1 auto; 
        @include text-overflow;
      }
      > .it-status-icon {
        opacity: 0.6; font-size: 0.8em;
      }
    }
    //----------------------------------
    .it-con {
      > .side-item:first-child {margin-top: .3em;}
      > .side-item:last-child {margin-bottom: 1.2em;}
    }
    //----------------------------------
    &.is-highlight {
      > .it-info {
        @include color($color-primary, r, c);
        a{color:unset;}
        a:hover {text-decoration: none; color:unset;}
      }
    }
    //----------------------------------
    &.is-top {
      > .it-info {font-size: 1.1em;}
    }
    //----------------------------------
    &.is-group {
      > .it-info {font-weight: bold;}
    }
    //----------------------------------
  } // ~ .side-item
}