.web-text-heading {
  @include flex-align-center;
  @include noselect;
  padding: 1em 0; 
  position: relative;
  //-----------------------------------------
  .as-icon {
    @include flex-center;
    flex:0 0 auto;
    width: 1.4em; font-size:2em;
    margin-right: .2em;
  }
  //-----------------------------------------
  .as-backward {
    margin-right: SZ(12);
    transition: 0.5s;
    &:hover {
      @include color($color-primary, c);
      transform: translateX(-3px);
    }
  }
  //-----------------------------------------
  .as-title {
    @include flex-align-nowrap;
    flex:1 1 auto; font-size:1.2em; cursor: default;
    text-decoration: none; 
    //---------------------------------------
    &:hover {text-decoration: none;}
    //---------------------------------------
    &[href] {
      cursor: pointer; 
      &:hover {text-decoration: underline;}
    }
    //---------------------------------------
    .ti-icon {
      margin: 0 .5em;
      &.at-0 {font-size: 1.3em;}
      &.at-1 {font-size: 0.8em;}
    }
    //---------------------------------------
  }
  //-----------------------------------------
  .as-comment {
    flex:0 0 auto; width:100%;
    color:map-get($color-track, c);
    margin: .5em 0;
  }
  //-----------------------------------------
  .as-more {
    @include flex($jc:flex-end, $ai:center);
    padding:0 .5em;
    font-size:.9em;
    cursor: default;
    text-decoration: none;
    //---------------------------------------
    &:hover {text-decoration: none;}
    //---------------------------------------
    img {
      border:1px solid transparent;
      border-radius: 3px; opacity: 0.8;
      transition: .5s;
    }
    //---------------------------------------
    &[href] {
      cursor: pointer; 
      //-------------------------------------
      &:hover {
        text-decoration: underline;
        img {
          border-color: map-get($color-line, shallow);
          opacity: 1; border-radius: 6px;
          box-shadow: 1px 1px 6px map-get($color-shadow, thin);
          transform:scale(1.1) translateY(-2px);
        }
      }
      //-------------------------------------
    }
    //---------------------------------------
  }
  //-----------------------------------------
}