.web-shelf-wall {
  //------------------------------------------
  .wall-group {
    @include flex(space-around, stretch);
  }
  //------------------------------------------
  .wall-tile {
    @include flex(center, stretch, nowrap, stretch);
    flex:1 1 auto; 
    > * {width:100%;}
  }
  //------------------------------------------
  &.item-space-xl .wall-tile {padding: SZ(30);}
  &.item-space-lg .wall-tile {padding: SZ(24);}
  &.item-space-md .wall-tile {padding: SZ(16);}
  &.item-space-sm .wall-tile {padding: SZ(10);}
  &.item-space-xs .wall-tile {padding: SZ(4);}
  //------------------------------------------
  &.flex-none   .wall-tile {flex:0 0 auto;}
  &.flex-both   .wall-tile {flex:1 1 auto;}
  &.flex-grow   .wall-tile {flex:1 0 auto;}
  &.flex-shrink .wall-tile {flex:0 1 auto;}
  //------------------------------------------
}