.web-shelf-scroller {
  position: relative;
  min-height: SZ(40);
  //-----------------------------------------
  &.is-draggable {
    cursor: move;
    img {
      cursor: move;
    }
  }
  //-----------------------------------------
  $btnSZ: SZ(50);
  //-----------------------------------------
  .scroll-btn {
    @include pos-abs($t: 0, $b: 0, $w: $btnSZ);
    @include flex-center;
    padding: 0;
    font-size: SZ(24);
    //---------------------------------------
    &.at-left {
      left: $btnSZ * -1.2;
    }
    &.at-right {
      right: $btnSZ * -1.2;
    }
    //---------------------------------------
    > span {
      @include flex-center;
      width: 100%;
      height: $btnSZ;
      border-radius: SZ(4);
      &:hover {
        @include color($color-secondary, r, c);
      }
    }
    //---------------------------------------
    &.is-disabled > span {
      @include color($color-disable, r, c);
    }
    //---------------------------------------
    &.is-enabled > span {
      @include color($color-primary, r, c);
      cursor: pointer;
      &:hover {
        @include color($color-secondary, r, c);
      }
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &.btn-as-circle .scroll-btn {
    > span {
      border-radius: 50%;
      flex: 0 0 auto;
      width: SZ(42);
      height: SZ(42);
      font-size: SZ(28);
    }
  }
  //-----------------------------------------
  &.btn-at-inner .scroll-btn {
    z-index: $z-above;
    padding: 0 SZ(4);
    width: unset;
    //---------------------------------------
    &.at-left {
      left: 0;
    }
    &.at-right {
      right: 0;
    }
    //---------------------------------------
    > span {
      @include color($color-mask, r, thin);
      transition: 0.3s;
      opacity: 0;
    }
    //---------------------------------------
    &.is-enabled {
      &:hover > span {
        opacity: 1;
      }
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &.btn-at-outer {
    margin: SZ(10) SZ(60);
  }
  //-----------------------------------------
  &.btn-none .scroll-btn {
    display: none;
  }
  //-----------------------------------------
  .scroller-outer {
    width: 100%;
    overflow: hidden;
    &[ti-in-dragging="yes"] .scroller-inner {
      transition: unset;
    }
  }
  //-----------------------------------------
  .scroller-inner {
    @include flex(flex-start, stretch, nowrap, stretch);
    position: relative;
    transition: left 0.5s ease-in-out;
    flex: 0 0 auto;
  }
  //-----------------------------------------
  .scroller-tile {
    @include flex(center, stretch, nowrap, stretch);
    border: SZ(4) solid transparent;
    flex: 0 0 auto;
    position: relative;
    //---------------------------------------
    &.is-current {
      border-color: map-get($color-primary, c);
      &::after {
        @include pos-abs-full;
        @include flex-center;
        @include color($color-mask, r, bushy);
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: SZ(24);
        content: "\f077";
      }
    }
    // //---------------------------------------
    // &.is-current:hover {
    //   border-color: map-get($color-primary, c);
    // }
    // //---------------------------------------
    // &:hover {
    //   border-color: map-get($color-weaktip, c);
    // }
    //---------------------------------------
    > * {
      flex: 1 1 auto;
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &.no-border {
    .scroller-tile {
      border: 0;
    }
  }
  //-----------------------------------------
  &.hide-current-indicator {
    .scroller-tile.is-current::after {
      display: none;
    }
  }
  //-----------------------------------------
}
