<div class="web-shelf-list"
  :class="TopClass">
  <!--
    Loading
  -->
  <ti-loading
    v-if="isLoading"
      class="as-big"
      v-bind="loadingAs"/>
  <!--
    Blank
  -->
  <ti-loading
    v-else-if="isEmpty"
      class="as-big"
      v-bind="blankAs"/>
  <!--
    Each Items
  -->
  <template v-else>
    <transition-group
      tag="div"
      :name="ItemTransName"
      class="ti-trans">
      <div
        v-for="it in ItemList"
          class="list-item"
          :class="ItemTransSpeedClassName"
          :key="it.key">
          <component
            :is="it.comType"
            v-bind="it.comConf"/>    
      </div>
    </transition-group>
  </template>
</div>