<div class="ti-input-text full-field" 
  :class="topClass" 
  :style="topStyle"
  v-ti-activable>
  <!--
    Prefix
  -->
  <div class="as-bar is-prefix">
    <!--prefix:icon-->
    <div v-if="prefixIcon"
      class="as-icon at-prefix"
      :class="getHoverClass('prefixIcon')"
      @click.left.stop="onClickPrefixIcon"
      @mouseenter="pointerHover='prefixIcon'"
      @mouseleave="pointerHover=null">
      <ti-icon :value="thePrefixIcon"/>
    </div>
    <!--prefix:text-->
    <div v-if="prefixText" 
      class="as-text at-prefix"
      :class="getHoverClass('prefixText')"
      @click.left.stop="onClickPrefixText"
      @mouseenter="pointerHover='prefixText'"
      @mouseleave="pointerHover=null">
      <span>{{prefixText|i18n}}</span>
    </div>
  </div>
  <!--input-->
  <textarea ref="input"
    spellcheck="false" 
    :readonly="readonly"
    :value="theValue"
    :placeholder="placeholder | i18n"
    @compositionstart="onInputCompositionStart"
    @compositionend="onInputCompositionEnd"
    @input="onInputing"
    @keydown="onInputKeyDown"
    @change="onInputChanged"
    @focus="onInputFocus"
    @blur="onInputBlur"></textarea>
  <!--
    Suffox
  -->
  <div class="as-bar is-suffix">
    <!--suffix:text-->
    <div v-if="suffixText"
      class="as-text at-suffix"
      :class="getHoverClass('suffixText')"
      @click.left.stop="onClickSuffixIcon"
      @mouseenter="pointerHover='suffixText'"
      @mouseleave="pointerHover=null">
      <span>{{suffixText|i18n}}</span>
    </div>
    <!--suffix:icon-->
    <div v-if="suffixIcon"
      class="as-icon at-suffix"
      :class="getHoverClass('suffixIcon')"
      @click.left.stop="onClickSuffixIcon"
      @mouseenter="pointerHover='suffixIcon'"
      @mouseleave="pointerHover=null">
      <ti-icon :value="suffixIcon"/>
    </div>
  </div>
</div>