<div class="ti-crumb-piece" 
  :class="topClass"
  @mouseenter="mouseEnter='top'"
  @mouseleave="mouseEnter=null"
  @click.left="onClickTop">
  <!--
    Deleter
  -->
  <ti-icon v-if="removeIcon"
    class="as-del"
    :value="removeIcon"
    @mouseenter.native="mouseEnter='del'"
    @mouseleave.native="mouseEnter='top'"
    @click.native.stop="onClickDel"/>
  <!--
    Icon
  -->
  <ti-icon v-if="icon" 
    class="as-icon"
    :value="icon"/>
  <!--
    Text
  -->
  <template v-if="text">
    <a v-if="href"
      class="as-text"
      @click.prevent
      :href="href"
      :class="textClass">{{text|i18n}}</a>
    <span v-else
      class="as-text"
      :class="textClass">{{text|i18n}}</span>
  </template>
  <span v-if="asterisk"
    class="as-mark"
    >*</span>
  <!--
    Status Icon
  -->
  <ti-icon v-if="isShowStatusIcon"
    class="as-status"
    :value="theStatusIcon"/>
  <!--
    Drop & Mask
  -->
  <template v-if="'extended' == status">
    <div class="as-mask" @click.stop="closeDrop"></div>
    <div class="as-drop" ref="drop"
      @click.stop>
      <ti-icon-text v-for="it in theOptions"
        :key="it.index"
        v-bind="it"
        @click.native="onClickOption(it)"/>
    </div>
  </template>
</div>