<div class="web-tile-address"
  :class="TopClass"
  @click.left="OnClickTop">
  <!--
    Center
  -->
  <div class="at-center">
    <!--Has Value-->
    <template v-if="hasValue">
      <div class="is-info">
        <div
          v-if="Item.consignee">
            <span>{{'address-consignee'|i18n}}:</span>
            <em>{{Item.consignee}}</em></div>
        <div
          v-if="Item.phone">
            <span>{{'address-k-phone'|i18n}}:</span>
            <em>{{Item.phone}}</em></div>
        <div
          v-if="Item.email">
            <span>{{'address-k-email'|i18n}}:</span>
            <em>{{Item.email}}</em></div>
      </div>
      <div class="is-big">
        <span class="as-street">{{Item.street}}</span>
        <span class="as-door">{{Item.door}}</span>
      </div>
    </template>
    <!--Blank-->
    <ti-loading
      v-else 
        class="as-big ti-fill-parent"
        style="padding:0"
        v-bind="blankAs"/>
  </div>
  <!--
    Left top
  -->
  <div class="at-left-top is-float">
    <template v-if="title">
      <span class="is-bold">{{title | i18n}}</span>
    </template>
    <template v-else>
      <a 
        v-if="can.default && !Item.dftaddr"
          @click="OnSetDefault">{{'address-set-dft'|i18n}}</a>
      <span
        v-else-if="Item.dftaddr"
          class="is-bold">{{'address-is-dft'|i18n}}</span>
    </template>
  </div>
  <!--
    Left-bottom
  -->
  <div class="at-left-bottom is-float">
    <span
      v-if="Item.city">{{Item.city}}</span>
    <span
      v-if="Item.province">{{Item.province}}</span>
    <span
      v-if="showCountry && Item.countryName">{{Item.countryName}}</span>
  </div>
  <!--
    Right-top
  -->
  <div
    v-if="can.remove || can.edit || can.choose" 
      class="at-right-top is-float">
      <a v-if="can.remove" @click="OnRemove">{{'remove'|i18n}}</a>
      <a v-if="can.edit" @click="OnEdit">{{'edit'|i18n}}</a>
      <a v-if="can.choose" @click="OnChoose">{{'choose'|i18n}}</a>
  </div>  
</div>