<div
  class="ti-gui-cols"
  :class="topClass"
  v-ti-draggable="Draggable">
  <template v-if="hasBlocks">
    <template v-for="(block, index) in GuiBlocks">
      <ti-gui-block v-if="!block.hide"
        :key="block.key"
        embedIn="cols"
        v-bind="block"
        :schema="schema"
        :action-status="block.actionStatus || actionStatus"
        :size="getBlockSize(index)"
        :shown="shown"
        @bar:reset="OnBarReset"
        @bar:toggle:size="OnBarToggleSize"/>
      </template>
  </template>
</div>