<div class="hmaker-site-node-editing">
  <template v-if="hasNode">
    <!--
      Heading
    -->
    <div class="as-head">
      <!--Title Bar-->
      <div class="at-left">
        <ti-icon :value="node.icon"/>
        <span>{{node.title | i18n}}</span>
      </div>
      <!--Action Menu-->
      <div 
        v-if="hasActionMenu"
          class="at-right">
          <ti-menu v-bind="myActionMenu"/>
      </div>
    </div>
    <!--
      Editing
    -->
    <div class="as-edit">
      <component class="ti-fill-parent"
        :is="Com.comType"
        v-bind="Com.comConf"
        :on-init="OnChildInit"
        @change="OnChanged"
        @actions:updated="OnActionsUpdated"/>
    </div>
  </template>
  <!--
    Blank
  -->
  <template v-else>
    <ti-loading
      text="i18n:blank-to-edit"
      icon="zmdi-arrow-left"/>
  </template>
</div>