<div class="ti-gui">
  <!--
    Regular Layouts
  -->
  <ti-layout class="ti-fill-parent"
    :type="type"
    :border="border"
    :blocks="blocks"
    :adjustable="adjustable"
    :shown="shown"
    @block:show="$emit('block:show', $event)"
    @block:hide="$emit('block:hide', $event)"
    @block:event="$emit('block:event', $event)">
    <template v-if="'tabs'!=type">
      <ti-block v-for="b in formedBlockList"
        :key="b.name"
        v-bind="b.info"
        :shown="shown"
        @block:show="$emit('block:show', $event)"
        @block:hide="$emit('block:hide', $event)"
        @block:event="$emit('block:event', $event)">
        <component :is="b.comType"
          class="ti-fill-parent"
          v-bind="b.comConf"
          @block:show="$emit('block:show', $event)"
          @block:hide="$emit('block:hide', $event)"
          @block:event="$emit('block:event', $event)"/>
      </ti-block>
    </template>
  </ti-layout>
  <!--
    Float panels
  -->
  <template v-for="b in formedPanelList">
    <transition :name="b.transName">
      <div v-if="b.isShown"
        class="gui-panel"
        :class="b.className"
        :style="b.panelStyle"
        :key="b.name"
        @click="onClickPanel($event, b.name)">
        <ti-block 
          v-bind="b.info"
          :float="true"
          :shown="shown"
          @block:show="$emit('block:show', $event)"
          @block:hide="$emit('block:hide', $event)"
          @block:event="$emit('block:event', $event)">
          <component :is="b.comType"
            class="ti-fill-parent"
            v-bind="b.comConf"
            @block:show="$emit('block:show', $event)"
            @block:hide="$emit('block:hide', $event)"
            @block:event="$emit('block:event', $event)"/>
        </ti-block>
      </div>
    </transition>
  </template>
  <!--
    Loading
  -->
  <div v-if="isLoading"
    class="gui-loading">
    <ti-loading v-bind="showLoading"/>
  </div>
</div>