<div class="ti-gui" :class="topClass">
  <!--===========================================
    All normal layout
  -->
  <div class="gui-con">
    <!--
      Layout as rows
    -->
    <ti-gui-rows v-if="'rows' == type"
      class="ti-fill-parent"
      :blocks="blocks"
      :adjustable="adjustable"
      :border="border"
      :schema="schema"
      :action-status="actionStatus"
      :shown="shown"
      @block:show="$emit('block:show', $event)"
      @block:hide="$emit('block:hide', $event)"
      @block:event="$emit('block:event', $event)"/>
    <!--
      Layout as cols
    -->
    <ti-gui-cols v-else-if="'cols' == type"
      class="ti-fill-parent"
      :blocks="blocks"
      :adjustable="adjustable"
      :border="border"
      :schema="schema"
      :action-status="actionStatus"
      :shown="shown"
      @block:show="$emit('block:show', $event)"
      @block:hide="$emit('block:hide', $event)"
      @block:event="$emit('block:event', $event)"/>
    <!--
      Layout as tabs
    -->
    <ti-gui-tabs v-else-if="'tabs' == type"
      class="ti-fill-parent"
      :tab-at="tabAt"
      :blocks="blocks"
      :current-tab="theCurrentTabName"
      @tab:changed="onTabChanged"
      :schema="schema"
      :action-status="actionStatus"
      :shown="shown"
      @block:show="$emit('block:show', $event)"
      @block:hide="$emit('block:hide', $event)"
      @block:event="$emit('block:event', $event)"/>
  </div>
  <!--===========================================
    All float panels
  -->
  <template v-if="hasPanels">
    <ti-gui-panel v-for="(pan, index) in thePanels"
      :key="index"
      v-bind="pan"
      :schema="schema"
      :action-status="actionStatus"
      :shown="shown"
      @block:show="$emit('block:show', $event)"
      @block:hide="$emit('block:hide', $event)"
      @block:event="$emit('block:event', $event)"/>
  </template>
  <!--===========================================
    Loading
  -->
  <div v-if="isLoading"
    class="ti-mask-loading">
    <ti-loading v-bind="showLoading"/>
  </div>
</div>