<div class="ti-gui" :class="topClass">
  <!--===========================================
    All normal layout
  -->
  <div class="gui-con">
    <!--
      Layout as rows
    -->
    <ti-gui-rows v-if="isRowsLayout"
      class="ti-fill-parent"
      v-bind="theLayout"
      :schema="schema"
      :shown="myShown"
      :action-status="actionStatus"
      @block:show="onBlockShow"
      @block:hide="onBlockHide"
      @block:shown="onBlockShownUpdate"
      @block:event="onBlockEvent"/>
    <!--
      Layout as cols
    -->
    <ti-gui-cols v-else-if="isColsLayout"
      class="ti-fill-parent"
      v-bind="theLayout"
      :schema="schema"
      :shown="myShown"
      :action-status="actionStatus"
      @block:show="onBlockShow"
      @block:hide="onBlockHide"
      @block:shown="onBlockShownUpdate"
      @block:event="onBlockEvent"/>
    <!--
      Layout as tabs
    -->
    <ti-gui-tabs v-else-if="isTabsLayout"
      class="ti-fill-parent"
      v-bind="theLayout"
      :schema="schema"
      :shown="myShown"
      :action-status="actionStatus"
      @block:show="onBlockShow"
      @block:hide="onBlockHide"
      @block:shown="onBlockShownUpdate"
      @block:event="onBlockEvent"/>
  </div>
  <!--===========================================
    All float panels
  -->
  <template v-for="pan in thePanels">
    <transition :name="pan.transName">
      <ti-gui-panel
        v-if="pan.visible"
          :key="pan.key"
          v-bind="pan.panel"
          :viewport-width="myViewportWidth"
          :viewport-height="myViewportHeight"
          :schema="schema"
          :action-status="actionStatus"
          :shown="myShown"
          @block:show="onBlockShow"
          @block:hide="onBlockHide"
          @block:shown="onBlockShownUpdate"
          @block:event="onBlockEvent"/>
    </transition>
  </template>
  <!--===========================================
    Loading
  -->
  <div v-if="isLoading"
    class="ti-mask-loading">
    <ti-loading v-bind="showLoading"/>
  </div>
</div>