<div class="side-item" 
  :class="TopClass">
  <!--
    Self Info
  -->
  <div class="it-info"
    @click.left="OnClickItemInfo">
    <!--Icon-->
    <span
      v-if="icon"
        class="it-info-icon">
        <ti-icon :value="icon"/>
    </span>
    <!--Group-->
    <span
      v-if="isGroup"
        class="it-info-text">{{title|i18n}}</span>
    <!--Item-->
    <a
      v-else
        class="it-info-text"
        :href="href"
        @click.left="OnClickItemLink($event)">{{title|i18n}}</a>
    <!--
      Status icon
    -->
    <TiIcon 
      v-if="isGroup"
        class="it-status-icon"
          :value="OpenStatusIcon"/>
  </div>
  <!--
    Sub Container
  -->
  <transition name="ti-trans-folder"
    @before-enter="OnTransBeforeEnter"
    @enter="OnTransEnter"
    @after-enter="OnTransAfterEnter"

    @before-leave="OnTransBeforeLeave"
    @leave="OnTransLeave"
    @after-leave="OnTransAfterLeave">
    <div 
      v-if="hasSubItems && isOpened"
        class="it-con">
          <SideItem
            v-for="subIt in items"
              :key="subIt.id"
              v-bind="subIt"
              :opened-ids="openedIds"
              :opened-depth="openedDepth"
              :opened-icons="openedIcons"/>
    </div>
  </transition>
</div>