.wn-manager {
  width:100%; height:100%;
  //--------------------------------------------
  &.is-sky-colorized {
    //------------------------------------------
    .gui-block-sky {
      @include color($color-sky, r, c);
      //----------------------------------------
      a {color: map-get($color-sky, r);}
      //----------------------------------------
      .wn-session-badge .as-drop {
        a {color: map-get($color-primary, c);}
      }
      //----------------------------------------
      .ti-actionbar {
        //--------------------------------------
        .bar-item-info  {
          &.is-enabled:hover {
            @include color($color-secondary, r, c);
          }
        }
        //--------------------------------------
        .bar-item-switcher.is-top {
          .ti-switcher {
            .is-selected {
              @include color($color-boldtip, r, c);
            }
          }
        }
        //--------------------------------------
      }
      //----------------------------------------
    }
    //------------------------------------------
  }
  //--------------------------------------------
  .wn-top-menu {
    padding: 0 4px;
  }
  //--------------------------------------------
}