<div class="ti-lbs-map" 
  :class="TopClass"
  :style="TopStyle">
  <div class="map-con">
    <!--
      Map Main
    -->
    <div class="as-main">
      <component 
        :is="MapComType"
          v-bind="MapComConf"
          @center:change="OnCenterChange"
          @zoom:change="OnZoomChange"/>
    </div>
    <!--
      Wait cooling
    -->
    <div
      v-if="CoolingIcon"
        class="as-wait-cooling"><ti-icon :value="CoolingIcon"/></div>
    <!--
      Map Info
    -->
    <div
      v-if="MapCenter"
        class="as-info">
        <div class="as-toggle" @click="fullScreen=!fullScreen">
          <ti-icon :value="ToggleIcon"/>
        </div>
        <ul class="as-laln">
          <li><span>{{'lat'|i18n}}:</span><em>{{MapCenter.lat|float(8)}}</em></li>
          <li><span>{{'lng'|i18n}}:</span><em>{{MapCenter.lng|float(8)}}</em></li>
          <li><span>ZOOM</span><em>{{myZoom || zoom}}</em></li>
        </ul>
      </div> <!--as-info-->
  </div>
</div>