<div class="test-app-modal" style="padding:.2rem; font-size:.14rem;">
  <pre :style="PreStyle">{{result}}</pre>
  <hr>
  <!--Basice-->
  <h2>Basice Modal</h2>
  <template v-for="mt of ModalsForTest">
    | <a @click="testBasicModal(mt)">{{mt.position}}</a>
  </template>

  
  <!--Alert-->
  <hr>
  <h2>Alert</h2>
  <template v-for="mt of ModalsForTest">
    | <a @click="testAlert(mt)">{{mt.position}}</a>
  </template>

  <!--Confirm-->
  <hr>
  <h2>Confirm</h2>
  <template v-for="mt of ModalsForTest">
    | <a @click="testConfirm(mt)">{{mt.position}}</a>
  </template>

  <!--Prompt-->
  <hr>
  <h2>Prompt</h2>
  <template v-for="mt of ModalsForTest">
    | <a @click="testPrompt(mt)">{{mt.position}}</a>
  </template>
  
  <!--Try a thing set-->
  <hr>
  <h2>Thing Set</h2>
  | <a @click="testOpenThingSet('~/articles')">Articles</a>
  | <a @click="testOpenThingSet('~/accounts')">Accounts</a>
</div>