<div class="ti-input"
  :class="topClass">
  <!--
    Multi-line textarea
  -->
  <template v-if="multi">
    <textarea
      spellcheck="false" 
      :class="textClass"
      :value="theValue"
      :placeholder="placeholder"
      @change="onChanged"></textarea>
  </template>
  <!--
    Single-line input
  -->
  <template v-else>
    <input 
      spellcheck="false" 
      :class="inputClass"
      :value="theValue"
      :placeholder="placeholder"
      @change="onChanged">
    <div v-if="suffix"
      class="input-suffix">{{suffix}}</div>
  </template>
</div>