<div class="ti-input" :class="topClass" :style="topStyle">
  <!--prefix:icon-->
  <div v-if="prefixIcon"
    class="as-icon at-prefix"
    :class="getHoverClass('prefixIcon')"
    @click.left="onClickPrefixIcon"
    @mouseenter="pointerHoverPrefixIcon=true"
    @mouseleave="pointerHoverPrefixIcon=false">
    <ti-icon :value="thePrefixIcon"/>
  </div>
  <!--prefix:text-->
  <div v-if="prefixText" 
    class="as-text at-prefix"
    :class="getHoverClass('prefixText')"
    @click.left="onClickPrefixText">
    <span>{{prefixText|i18n}}</span>
  </div>
  <!--input-->
  <input ref="input"
    spellcheck="false" 
    :readonly="readonly"
    :value="theValue"
    :placeholder="placeholder"
    @click.stop
    @compositionstart="onInputCompositionStart"
    @compositionend="onInputCompositionEnd"
    @input="onInputing"
    @keydown="onInputKeyDown"
    @change="onInputChanged"
    @focus="onInputFocus"
    @blur="onInputBlur">
  <!--suffix:text-->
  <div v-if="suffixText"
    class="as-text at-suffix"
    :class="getHoverClass('suffixText')"
    @click.left="onClickSuffixIcon">
    <span>{{suffixText|i18n}}</span>
  </div>
  <!--suffix:icon-->
  <div v-if="suffixIcon"
    class="as-icon at-suffix"
    :class="getHoverClass('suffixIcon')"
    @click.left="onClickSuffixIcon">
    <ti-icon :value="suffixIcon"/>
  </div>
</div>