<div class="wn-thing-filter"
  :class="TopClass">
  <!--
    Icon: Recycle Bin
  -->
  <div
    v-if="isInRecycleBin"
      class="as-recyclebin"
      @click="OnLeaveRecycleBin"><div>
        <!--Icon-->
        <div class="it-icon">
          <ti-icon value="fas-recycle"/>
          <ti-icon value="far-arrow-alt-circle-left"/>
        </div>
        <!--text-->
        <div class="it-text">{{'i18n:thing-recycle-bin'|i18n}}</div>
  </div></div>
  <!--
    Keyword
  -->
  <TiComboFilter
    class="as-filter"
    v-bind="filter"
    :placeholder="placeholder"
    :value="value.filter"
    @change="OnFilterChange"/>
  <!--
    Sorter
  -->
  <TiComboSorter
    v-if="hasSorter"
      class="as-sorter"
      v-bind="sorter"
      :value="value.sorter"
      @change="OnSorterChange"/>
</div>