<div class="ti-input-tags"
  :class="topClass"
  :style="topStyle"
  @click.left="onClickTop">
  <!--prefix:icon-->
  <div v-if="prefixIcon"
    class="tit-icon at-prefix"
    :class="getHoverClass('prefixIcon')"
    @click.left.stop="onClickPrefixIcon"
    @mouseenter="pointerHover='prefixIcon'"
    @mouseleave="pointerHover=null">
    <ti-icon :value="thePrefixIcon"/>
  </div>
  <!--prefix:text-->
  <div v-if="prefixText" 
    class="tit-text at-prefix"
    :class="getHoverClass('prefixText')"
    @click.left.stop="onClickPrefixText"
    @mouseenter="pointerHover='prefixText'"
    @mouseleave="pointerHover=null">
    <span>{{prefixText|i18n}}</span>
  </div>
  <!--
    Tag List
  -->
  <div v-if="hasTags"
    class="as-tags">
    <ti-tags
      :data="theTags"
      :option-icon="tagIcon"
      :cancel-item-bubble="cancelTagBubble"
      @changed="onTagChanged"/>
  </div>
  <!--
    Input Box
  -->
  <div class="as-input">
    <!--Input-->
    <input v-if="canInput"
      ref="input" spellcheck="false" :style="inputStyle"
      :value="theInputValue"
      :placeholder="placeholder"
      @compositionstart="onInputCompositionStart"
      @compositionend="onInputCompositionEnd"
      @input="onInputing"
      @keydown.stop="onInputKeyDown"
      @changed="onInputChanged"
      @focus="onInputFocus"
      @blur="onInputBlur">
    <!--suffix:text-->
    <div v-if="suffixText"
      class="tit-text at-suffix"
      :class="getHoverClass('suffixText')"
      @click.left.stop="onClickSuffixIcon"
      @mouseenter="pointerHover='suffixText'"
      @mouseleave="pointerHover=null">
      <span>{{suffixText|i18n}}</span>
    </div>
    <!--suffix:icon-->
    <div v-if="suffixIcon"
      class="tit-icon at-suffix"
      :class="getHoverClass('suffixIcon')"
      @click.left.stop="onClickSuffixIcon"
      @mouseenter="pointerHover='suffixIcon'"
      @mouseleave="pointerHover=null">
      <ti-icon :value="suffixIcon"/>
    </div>
  </div>
</div>