<div class="ti-input-tags"
  :class="topClass"
  :style="topStyle">
  <!--
    Tag List
  -->
  <div v-if="hasTags"
    class="as-tags">
    <ti-crumb
      :data="theTags"
      :option-icon="tagIcon"
      @changed="onTagChanged"/>
  </div>
  <!--
    Input Box
  -->
  <div class="as-input">
    <!--Input-->
    <input ref="input" spellcheck="false" :style="inputStyle"
      :value="theInputValue"
      :placeholder="placeholder"
      @click.stop
      @compositionstart="onInputCompositionStart"
      @compositionend="onInputCompositionEnd"
      @input="onInputing"
      @keydown.stop="onInputKeyDown"
      @changed="onInputChanged"
      @focus="onInputFocus"
      @blur="onInputBlur">
    <!--Status Icon-->
    <div v-if="suffixIcon"
      class="as-suffix-icon"
      @click.left="onClickSuffixIcon">
      <ti-icon :value="suffixIcon"/>
    </div>
  </div>
</div>