<div class="ti-gui-block" 
  :class="TopClass"
  :style="TopStyle">
  <!--
    Header
  -->
  <div class="block-head" v-if="isShowHeader">
    <!--Icon-->
    <div class="as-icon" v-if="icon">
      <ti-icon :value="icon"/>
    </div>
    <!--Title-->
    <div class="as-title">
      <span v-if="title">{{title|i18n}}</span>
    </div>
    <!--Actions-->
    <div class="as-actions" v-if="hasActions">
      <ti-actionbar 
        :items="actions"
        :status="actionStatus"/>
    </div>
  </div>
  <!--
    Content
  -->
  <div class="block-main" v-if="TheCom">
    <div class="block-main-con"
      :class="MainConClass">
      <component 
        :class="MainComponentClass"
        :is="TheCom.comType"
        v-bind="TheCom.comConf"/>
    </div>
  </div>
  <!--Blank-->
  </div>