<div class="hm-react-actions">
  <!--
    Empty
  -->
  <TiLoading
    v-if="isEmpty"
      v-bind="blankAs"/>
  <!--
    List each action items in loop
  -->
  <div
    v-for="it in myDisplayList"
      class="as-action-item"
      :class="it.className">
      <!--
        Item head
      -->
      <div class="as-item-head">
        <!--Action Icon-->
        <TiIcon :value="it.icon"/>
        <!--Action Type-->
        <div class="as-type-text">{{it.typeText|i18n}}</div>
        <!--Action Menu-->
        <div class="as-item-menu">
          <a
            v-if="!it.atFirst"
              @click.left="OnMovePrev(it)">
              <i class="fas fa-long-arrow-alt-up"></i></a>
          <a
            v-if="!it.atLast"
              @click.left="OnMoveNext(it)">
              <i class="fas fa-long-arrow-alt-down"></i></a>
          <a @click.left="OnRemoveAction(it)"><i class="fas fa-trash-alt"></i></a>
          <a @click.left="OnEditAction(it)">{{'i18n:edit'|i18n}}</a>
        </div>
      </div>
      <!--
        Item fields
      -->
      <div class="as-item-fields">
        <div
          v-for="fld in it.fields"
            class="as-field">
            <div class="as-name">{{fld.name|i18n}}</div>
            <div class="as-text">{{fld.text}}</div>
        </div>
      </div>
  </div>
  <!--
    Actions
  -->
  <TiButton
    class="is-tiny btn-r4"
    :setup="ActionSetup"/>
</div>