<div class="ti-bullet-list"
  :class="TopClass"
  :style="TopStyle">
  <!--
    Blank
  -->
  <ti-loading 
    v-if="!hasItems || isBlank"
      v-bind="BlankLoadingConf"/>
  <!--
    Show Items
  -->
  <template v-else>
    <div
      v-for="grp of ItemGroups"
        :key="grp.key"
        class="as-bullet-group" :style="BulletGroupStyle">
        <!-- Group Title -->
        <div 
          v-if="grp.title"
            class="as-group-title">{{grp.title}}</div>
        <!-- Group Items -->
        <div class="as-group-items" :style="BulletItemsStyle">
          <div
            v-for="it of grp.items"
              class="as-bullet-item"
              :class="it.className"
              @click.left="OnClickItem(it)">
              <!--
                Bullet
              -->
              <ti-icon 
                v-if="'Option' == it.type"
                  class="as-bullet"
                  :value="it.bullet"/>
              <!--
                Icon
              -->
              <ti-icon 
                v-if="it.icon"
                  class="as-icon"
                    :value="it.icon"/>
              <!--
                Text
              -->
              <div class="as-text">{{it.text}}</div>
              <!--
                Tip
              -->
              <div class="as-tip" v-if="it.tip">{{it.tip}}</div>
          </div>
          <!-- Other option -->
          <div
            v-if="otherEnabled"
              class="as-bullet-item as-option"
              :class="OtherClassName"
              @click.left="OnClickOther">
              <ti-icon class="as-bullet" :value="OtherBulletIcon"/>
              <div class="as-text">
                <span>{{otherText | i18n}}</span>
                <input 
                  ref="other"
                  :style="OtherInputStyle"
                  :value="OtherValue" 
                  :placeholder="otherPlaceholder|i18n"
                  @change="OnOtherInputChange"/>
              </div>
          </div>
        </div>
      </div>
  </template>
</div>