<div class="ti-wall" 
  :class="TopClass"
  @click="OnClickTop"
  v-ti-actived="__set_actived">
  <!--
    Blank
  -->
  <div
    v-if="isDataEmpty"
      class="ti-blank is-big">
      <ti-loading v-bind="blankAs"/>
  </div>
  <!--
    Show tiles
  -->
  <template v-else>
    <!--tiles-->
    <wall-tile
      v-for="row in TheData"
        :key="row.id"
        :row-id="row.id"
        :index="row.index"
        :display="ItemDisplay"
        :data="row.rawData"
        :current-id="theCurrentId"
        :checked-ids="theCheckedIds"
        :changed-id="changedId"
        :checkable="checkable"
        :selectable="selectable"
        :openable="openable"
        :class-name="itemClassName"
        :width="itemWidth"
        :height="itemHeight"
        @select="OnRowSelect"
        @open="OnRowOpen"/>
    <!--Blank Tile-->
    <div v-for="bc in BlankCols"
      class="wall-tile"
      :style="bc">
    </div>
  </template>
</div>