<div class="ti-tree-node"
  :class="topClass">
  <!--===================================
    Node Info
  -->
  <div class="nd-self"
    @click.left="onClickSelf">
    <!--
      Handle Or Indent
    -->
    <div v-if="isLeaf"
      class="nd-handle as-leaf">
    </div>
    <div v-else
      class="nd-handle as-node"
      @click.left.stop="onClickHandle">
      <ti-icon :value="theHandleIcon"/>
    </div>
    <!--
      Handle Or Indent
    -->
    <div class="nd-box">
      <!--
        Info
      -->
      <div class="nd-info">
        <!--Icons-->
        <span v-for="theIcon in theIconList"
          class="nd-icon">
          <ti-icon :value="theIcon"/>
        </span>
        <!--Text-->
        <template v-if="text">
          <a v-if="theHref"
            class="nd-text"
            @click.prevent
            :href="theHref">{{text|i18n}}</a>
          <span v-else
            class="nd-text"
            :href="theHref">{{text|i18n}}</span>
        </template>
      </div>
      <!--
        Tip
      -->
      <div class="nd-tip" v-if="tip">
        <span>{{tip|i18n}}</span>
      </div>
    </div>
  </div>
  <!--===================================
    Node Children
  -->
  <div v-if="!isLeaf && opened"
    class="nd-children">
    <ti-tree-node
      v-for="nd in children"
      :key="nd.name"
      v-bind="nd"
      @select="$emit('select', $event)"
      @open="$emit('open', $event)"
      @close="$emit('close', $event)"/>
  </div>
  <!--===================================-->
</div>