<div 
  class="ti-upload-multi-files-box full-field"
  :class="TopClass">
  <!--
    Hidden input file to choose files
  -->
  <input 
    type="file" 
    ref="file" 
    class="ti-hide"
    multiple
    @change.stop.seft="OnSelectLocalFilesToUpload">
  <!--
    Main container
  -->
  <div class="as-main" v-drop-files.mask="OnDropFiles" ref="itemsCon">
    <!--
      Show items (Uploaded and Uploading)
    -->
    <div
      v-for="(it,index) in FileItems"
        :key="it.key || it.id || index"
        class="file-item as-item"
        :class="it.className">
        <!------------Prefix icon------------>
        <div class="box-item-icon">
          <TiIcon  :value="it.thumb"/>
        </div>
        <!------------box content------------>
        <div class="box-item-text">
          <a v-if="it.href" :href="it.href" @click.left.prevent>{{it.text}}</a>
          <span v-else>{{it.text}}</span>
        </div>
        <!------------Suffix Menu------------>
        <div class="box-item-menu">
          <a
            v-for="a in ItemActions"
              :key="a.name"
              :data-ti-tip="a.tip"
              data-ti-tip-mode="V">
              <i :class="a.icon"></i>
          </a>
        </div>
        <!-------------- <end> -------------->
      </div>
  </div>
</div>