<div class="ti-label"
  :class="topClass"
  @dblclick.left="onDblClick">
  <!--prefix:icon-->
  <div v-if="prefixIcon"
    class="as-icon at-prefix">
    <ti-icon :value="prefixIcon"/>
  </div>
  <!--prefix:text-->
  <div v-if="prefixText" 
    class="as-text at-prefix">
    <span>{{prefixText|i18n}}</span>
  </div>
  <!--Text-->
  <div class="as-value">
    <!--Link-->
    <a v-if="hasHref"
        :href="href"
        :taget="theLinkTarget"
        @click.left.prevent>{{theDisplayValue}}</a>
    <!--Normal Text-->
    <span v-else>{{theDisplayValue}}</span>
  </div>
  <!--suffix:text-->
  <div v-if="suffixText"
    class="as-text at-suffix">
    <span>{{suffixText|i18n}}</span>
  </div>
  <!--suffix:icon-->
  <div v-if="suffixIcon"
    class="as-icon at-suffix">
    <ti-icon :value="suffixIcon"/>
  </div>
</div>