<div class="ti-label"
  :class="TopClass"
  :style="TopStyle"
  @click.left="OnClick"
  @dblclick.left="OnDblClick"
  @mouseenter="OnMouseEnter"
  @mouseleave="OnMouseLeave"
  v-bind="LabelValueTip">
  <!--Hover copy indicator-->
  <div
    v-if="isHoverCopy"
      class="as-hover-copy"
      @click.left.stop="copyValueToClipboard">
      <i class="fas fa-copy"></i>
  </div>
  <!--prefix:icon-->
  <div v-if="ThePrefixIcon"
    class="as-icon at-prefix"
    :class="getHoverClass('prefixIcon')"
    @click.left="OnClickPrefixIcon">
    <ti-icon :value="ThePrefixIcon"/>
  </div>
  <!--prefix:text-->
  <div v-if="ThePrefixText" 
    class="as-text at-prefix"
    :class="getHoverClass('prefixText')"
    @click.left="OnClickPrefixText">
    <span>{{ThePrefixText|i18nTxt}}</span>
  </div>
  <!--Text-->
  <div class="as-value" ref="value"
    :style="ValueStyle"
    @click.left="OnClickValue">
    <!--Link-->
    <template v-if="TheHref || valueClickable">
      <a
        v-if="editable"
          class="as-value-edit"
          :title="'i18n:edit'|i18n"
          @click.left.prevent="OnDblClick">
            <i class="far fa-edit"></i></a>
      <a 
        :href="TheHref"
        :target="newTab ? '_blank' : undefined"
        @click.left="OnClickLink">{{myDisplayText}}</a>
    </template>
    <!--Normal Text-->
    <span v-else>{{myDisplayText}}</span>
  </div>
  <!--suffix:text-->
  <div v-if="TheSuffixText"
    class="as-text at-suffix"
    :class="getHoverClass('suffixText')"
    @click.left="OnClickSuffixText">
    <span>{{TheSuffixText|i18nTxt}}</span>
  </div>
  <!--suffix:icon-->
  <div v-if="TheSuffixIcon"
    class="as-icon at-suffix"
    :class="getHoverClass('suffixIcon')"
    @click.left="OnClickSuffixIcon">
    <ti-icon :value="TheSuffixIcon"/>
  </div>
</div>