<div class="it-is-action as-info"
     :item-disabled="isDisabled"
     :item-enabled="isEnabled"
     :data-tip="TheTip"
     @click="onClickTop">
  <!--
    Icon
  -->
  <span v-if="isTop || showIcon"
    class="as-icon">
    <ti-icon v-if="hasIcon" 
      size=".16rem"
      :value="TheIcon"/>
  </span>
  <!--
    Text
  -->
  <span v-if="hasText"
    class="as-text">{{TheText|i18n}}</span>
  <!--
    Shortcut
  -->
  <span v-if="!isTop && hasShortcut"
    class="as-tip">{{ShortcutText}}</span>
  <!--
    Mask
  -->
  <div v-if="isProcessing && isCaptureWhenAltDisplay" class="ti-mask"></div>
</div>