<div class="web-shelf-carousel"
  :class="TopClass"
  :style="TopStyle">
  <!--
    Main
  -->
  <main>
    <ul :style="MainUlStyle" ref="ul">
      <li
        v-for="it in ItemList"
          :key="it.key"
          :data-index="it.index"
          :style="MainLiStyle">
          <component :is="it.comType" v-bind="it.comConf"/>
      </li>
    </ul>
  </main>
  <!--
    Btn: Prev
  -->
  <div class="as-btn is-prev" @click.left="prevItem" v-if="hasMultiItems">
    <b><TiIcon :value="iconLeft"/></b>
  </div>
  <!--
    Btn: Next
  -->
  <div class="as-btn is-next" @click.left="nextItem" v-if="hasMultiItems">
    <b><TiIcon :value="iconRight"/></b>
  </div>
</div>