html {
  height:100%; font-size:100px;
}
//...................................................
body {
  @include color($color-body, r, c);
  @include font-nice(.14rem);
  height: 100%; margin:0;
}
//...................................................
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
//...................................................
::-webkit-input-placeholder { /* WebKit browsers */
  @include color($color-disable, c);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  @include color($color-disable, c);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  @include color($color-disable, c);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  @include color($color-disable, c);
}
//...................................................
::-webkit-scrollbar {
  width: 8px; height: 8px;
}
::-webkit-scrollbar-track {
  @include color($color-line, null, shallow);
}
::-webkit-scrollbar-thumb {
  @include color($color-line, null, dark);
}
::-webkit-scrollbar-thumb:hover {
  @include color($color-line, null, highlight);
}
* {
  scrollbar-width: thin;
  scrollbar-color: map-get($color-line, dark) map-get($color-line, shallow);
}
//...................................................
pre {
  @include font-fixed;
  tab-size: 4; -moz-tab-size:4;
  padding:.2rem; margin:0;
}
//...................................................
hr {
  height:0px; border:0;
  @include border(1px, solid, shallow, top);
  margin:.1rem 0;
  &.no-space {margin:0;}
  &.as-dashed {border-top-style:dashed;}
  &.as-dotted {border-top-style:dotted;}
}
//...................................................
ul {
  @include raw-list;
}
//...................................................
a {
  @include color($color-primary, c);
  text-decoration: none;
  cursor:pointer;
}
a:hover {
  @include color($color-secondary, c);
  text-decoration: underline;
}
a:focus {
  outline: none;
}
//...................................................
@include font-sizes("body > *");
//...................................................
.app-loading {
  @include flex-full-center;
  @include color($color-secondary, c);
  overflow: hidden;
  padding:2rem 0 0 0;
  font-size: .5rem;
}