html {
  height:100%; font-size:100px;
}
//...................................................
body {
  height: 100%; margin:0;
  font-family: $f_nice;
  font-size:.18rem; 
  line-height:2.4em;
  letter-spacing:.015em;
  @include color($color-body, r, c);
}
//...................................................
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
//...................................................
a {
  @include color($color-primary, c);
  text-decoration: none;
}
a:hover {
  @include color($color-secondary, c);
  text-decoration: underline;
}
//...................................................
@each $key, $value in $screen-min-widths {
  @media (min-width:$value) {
    body {
      font-size:map-get($body-font-sizes, $key)
    }
  }
}
//...................................................