@mixin noselect(){
  user-select:none;
}
@mixin text-overflow(){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
//-------------------------------------------------------------
@mixin flex($jc:flex-start,$ai:flex-start,$wp:wrap,$ac:stretch) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  align-content: $ac;
  flex-wrap: $wp;
}
@mixin flex-center($jc:center,$ai:center,$wp:wrap,$ac:center) {
  @include flex($jc,$ai,$wp,$ac);
}
@mixin flex-full($fx:1 1 auto, $jc:center,$ai:stretch,$wp:nowrap,$ac:stretch) {
  @include flex($jc,$ai,$wp,$ac);
  flex: $fx;
}
@mixin flex-full-center($fx:1 1 auto) {
  @include flex-center;
  flex: $fx;
}
@mixin flex-align($jc:flex-start,$ai:stretch,$wp:wrap,$ac:stretch) {
  @include flex($jc,$ai,$wp,$ac);
}
@mixin flex-align-v($jc:flex-start,$ai:stretch,$wp:wrap,$ac:stretch) {
  @include flex($jc,$ai,$wp,$ac);
  flex-direction: column;
}
//-------------------------------------------------------------
@mixin ul($align:null, $padding:0, $margin:0) {
  list-style:none;
  padding:$padding;
  margin:$margin;
  @if $align == left {
    @include flex-align($jc:flex-start,$wp:nowrap);
  }
  @else if $align == center {
    @include flex-align($jc:center,$wp:nowrap);
  }
  @else if $align == right {
    @include flex-align($jc:flex-end,$wp:nowrap);
  }
}
//-------------------------------------------------------------
@mixin raw-list($padding:0,$margin:0) {
  list-style:none;
  padding:$padding;
  margin:$margin;
}
//-------------------------------------------------------------
@mixin fireable() {
  cursor:pointer;
  &:hover {
    @include color($color-primary, r, c)
  }
}
//-------------------------------------------------------------
@mixin disabled() {
  cursor: default; opacity:0.4;
}
//-------------------------------------------------------------
@mixin pos($l:null,$t:null,$w:null,$h:null,$r:null,$b:null) {
  @if $l != null {left  : $l;}
  @if $t != null {top   : $t;}
  @if $w != null {width : $w;}
  @if $h != null {height: $h;}
  @if $r != null {right : $r;}
  @if $b != null {bottom: $b;}
}
@mixin pos-abs($l:null,$t:null,$w:null,$h:null,$r:null,$b:null) {
  position:absolute;
  @include pos($l,$t,$w,$h,$r,$b)
}
@mixin pos-fixed($l:null,$t:null,$w:null,$h:null,$r:null,$b:null) {
  position:fixed;
  @include pos($l,$t,$w,$h,$r,$b)
}
@mixin pos-abs-full($l:null,$t:null,$w:null,$h:null,$r:null,$b:null) {
  @include pos-abs($l:0,$r:0,$t:0,$b:0);
}
@mixin pos-fixed-full($l:null,$t:null,$w:null,$h:null,$r:null,$b:null) {
  @include pos-fixed($l:0,$r:0,$t:0,$b:0);
}

