$screen-min-widths: (
  xs: 0,       // Extra small screen / phone
  sm: 576px,   // Small screen / phone
  md: 768px,   // Medium screen / tablet
  lg: 992px,   // Large screen / desktop
  xl: 1200px   // Extra large screen / wide desktop
);
//-----------------------------------------------------
$screen-max-widths: (
  sm: 540px,   // Small screen / phone
  md: 720px,   // Medium screen / tablet
  lg: 960px,   // Large screen / desktop
  xl: 1140px   // Extra large screen / wide desktop
);
//-----------------------------------------------------
// Define font size
$body-font-sizes: (
  xs: SZ(14),    // Extra small
  sm: SZ(14),    // Small
  md: SZ(14),    // Medium
  lg: SZ(14),    // Large
  xl: SZ(14)     // Extra large
);