.main-body {
  overflow:hidden;
}
//...................................................
.ti-ul-reset {@include ul;}
.ti-ul-align-left   {@include ul(left);}
.ti-ul-align-center {@include ul(center);}
.ti-ul-align-right  {@include ul(right);}
//...................................................
// make children fit full area
.ti-flex-fit {
  @include flex(center,stretch,nowrap);
  > * {flex:1 1 auto;}
}
.ti-flex-left   {@include flex-center($jc:flex-start,$wp:nowrap);}
.ti-flex-center {@include flex-center;}
.ti-flex-right  {@include flex-center($jc:flex-end,$wp:nowrap);}
//...................................................
.ti-fill-parent {
  width:100%; height:100%;
}
.ti-scroll-v {
  overflow:hidden auto;
}
//...................................................
.ti-mask {
  @include pos-fixed-full;
  background-color:rgba(0,0,0,0);
  z-index: $z-mask;
}
//...................................................
// Loading
.ti-mask-loading {
  @include pos-abs-full;
  @include flex-center;
  @include color($color-mask, r, weak);
  color:map-get($color-secondary, c);
  padding-bottom: 20%;
  z-index: $z-top;
}
//...................................................
.ti-blank {
  padding:.2rem; 
  &.is-big {
    @include color($color-track, c);
    text-align: center; font-size:.16rem;
    > .ti-icon {font-size:3em;padding:.2rem;}
  }
}
//...................................................
.ti-box-relative {
  position: relative;
  .ti-box-mask {
    @include pos-abs-full;
    background:rgba(0,0,0,0);
    &.as-heavy {@include color($color-mask, r, heavy);}
    &.as-bushy {@include color($color-mask, r, bushy);}
    &.as-thin  {@include color($color-mask, r, thin);}
  }
}
//...................................................
.ti-num {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:map-get($color-secondary, c);
  font-style: normal;
  &.is-xs {font-size:.8em;}
  &.is-sm {font-size:1em;}
  &.is-md {font-size:1.2em;}
  &.is-lg {font-size:1.6em;}
  &.is-xl {font-size:2em;}
}
//...................................................
.ti-btn {
  @include noselect;
  @include fireable; display:inline-block;
  @include border(1px, solid, dark);
  @include flex-align-nowrap;
  text-align:center; text-decoration: none;
  white-space: nowrap; padding:0 .1rem;
  .ti-icon {
    margin:0 .06rem 0 0;
  }
  &:hover {text-decoration: none;}
  &.is-big {
    font-size:1.3em; padding:.1rem;
    min-width:2rem; 
  }
}
//...................................................
.ti-padding-5  {padding:.05rem;}
.ti-padding-10 {padding:.1rem;}
.ti-padding-20 {padding:.2rem;}
.ti-padding-40 {padding:.4rem;}
//...................................................
.ti-hide {display:none;}
//...................................................
[ti-is-drag] {
  position:relative;
  > .ti-drag-mask {
    @include pos-abs-full;
    @include flex-center;
    @include color($color-mask, null, thin);
    @include color($color-secondary, c); 
    @include border(.04rem, dashed, hightlight);
    z-index: $z-top;
    font-size:2em; line-height: 1.1em;
    padding:.2rem .2rem 20% .2rem;
  }
}
//...................................................
.ti-mark-changed {
  @include color($color-secondary, c);
  margin:0 .02rem;
  font-style:normal; font-weight: bold;
}
//...................................................
.ti-progress-bar {
  .bar-tip {
    display:block; text-align:center;
    padding:0.04rem; line-height:1em;
    white-space: nowrap;
    font-size:.1rem;
    @include color($color-mask, r, thin);
  }
  .bar-outer {
    display:block; border:1px solid map-get($color-line, shallow);
    @include color($color-success, c, r);
  }
  .bar-inner {
    display:block; 
    background: map-get($color-success, c);
    min-height:2px;
  }
}
//...................................................
.ti-simple-form {
  @include flex-align-v-nowrap;
  //-------------------------------------
  a {cursor: pointer;}
  //-------------------------------------
  header {
    padding: .2rem; text-align: center;
    font-size:2em;
  }
  //-------------------------------------
  section {
    padding:.2rem;
    //---------------------------------
    div {
      @include flex-align-nowrap;
      &.as-input {
        @include color($color-input,c,r); 
        margin:.02rem .04rem;
        border:1px solid map-get($color-line, dark);
        &.is-invalid {
          border-color:map-get($color-error, c);
        }
      }
      &.as-btn {
        margin:.04rem .04rem;
      }
      input {
        flex:1 1 auto;
        padding: .1rem;
        font-size: 14px;
        outline:none; border:0;
      }
      span {
        @include flex-center;
        display: block; padding:.1rem;
        white-space: nowrap;
        > em {
          font-style:normal;
        }
      }
      button {
        @include fireable;
        flex:1 1 auto;
        padding:.1rem; width:100%;
        font-size: 14px;
        outline:none; border:0; 
      }
    }
    //---------------------------------
    ul.as-links {
      @include raw-list;
      @include flex-align-nowrap;
      padding:.08rem .04rem;
      li {
        &.at-left  {
          flex:0 0 auto;
        }
        &.at-right {
          flex:1 1 auto; text-align: right;
          a {color:map-get($color-track, c);}
        }
      }
    }
    //---------------------------------
  } // section {
}
//...................................................