.main-body {
  overflow:hidden;
}
//...................................................
.ti-ul-reset {@include ul;}
.ti-ul-align-left   {@include ul(left);}
.ti-ul-align-center {@include ul(center);}
.ti-ul-align-right  {@include ul(right);}
//...................................................
.ti-flex-cols-3 {
  @include flex-align($wp:nowrap);
  > * {flex:0 0 auto;}
  > *:nth-child(2) {flex:1 1 auto;}
}
// make children fit full area
.ti-flex-fit {
  @include flex(center,stretch,nowrap);
  > * {flex:1 1 auto;}
}
.ti-flex-left   {@include flex-center($jc:flex-start,$wp:nowrap);}
.ti-flex-center {@include flex-center;}
.ti-flex-right  {@include flex-center($jc:flex-end,$wp:nowrap);}
//...................................................
.ti-fill-parent {
  width:100%; height:100%;
}
//...................................................
.ti-mask {
  @include pos-fixed-full;
  background-color:rgba(0,0,0,0);
  z-index: $z-mask;
}
//...................................................
.ti-hide {display:none;}
//...................................................
[ti-is-drag] {
  position:relative;
  > .ti-drag-mask {
    @include pos-abs-full;
    @include flex-center;
    z-index: $z-top;
    font-size:2em; padding-bottom:20%;
    @include color($color-mask, null, thin);
    @include color($color-secondary, c); 
    @include border(.04rem, dashed, hightlight);
  }
}
//...................................................
.ti-mark-changed {
  @include color($color-secondary, c);
  margin:0 .02rem;
  font-style:normal; font-weight: bold;
}