//-------------------------- zIndex
$z-above : 1;
$z-over  : 100;
$z-mask  : 1000;
$z-menu  : 10000;
$z-top   : 999999;
//-------------------------- radius
$r-box : .04rem;
//-------------------------- font
$f_fixed : Monaco, Consolas, Courier New;
$f_nice  : "PingHei", "Microsoft YaHei",
           "Helvetica Neue", "Helvetica",
           "Arial","Verdana","sans-serif";
