//-------------------------- zIndex
$z-over : 100;
$z-mask : 1000;
$z-menu : 10000;
$z-top  : 999999;

//-------------------------- font
$f_fixed : Monaco, Consolas, Courier New;
$f_nice  : "Microsoft YaHei", Vendana, Calibri, Driod Sans, Arial;
