//-------------------------- zIndex
$z-over : 1;
$z-mask : 10;
$z-menu : 100;
$z-top  : 1000;

//-------------------------- font
$f_fixed : Monaco, Consolas, Courier New;
$f_nice  : "Microsoft YaHei", Vendana, Calibri, Driod Sans, Arial;
