//-----------------------------------------------------
// Define color variables
$color-primary   : (c:#eecc22, r:#444);
$color-secondary : (c:#f591b2, r:#222);
$color-success: (c:#080, r:#FFF);
$color-warn   : (c:#FE0, r:#620);
$color-info   : (c:#08F, r:#FFF);
$color-error  : (c:#F20, r:#FFF);
$color-track  : (c:rgba(200,200,200,.38), r:#CCC);
$color-disable: (c:rgba(255,255,255,.38), r:rgba(0,0,0,.38));
$color-hint   : (c:#eee, r:#888);
//...........................................
$color-paper : (c:#444, r:#FFF);
$color-chip  : (c:#666, r:#E0E0E0);
$color-cloak : (c:rgba(20,20,20,0.95), r:#DDD);
$color-body  : (c:#444, r:#DDD);
$color-h1    : (c:rgba(255,255,255,0.08), r:#EEE);
$color-h2    : (c:rgba(255,255,255,0.04), r:#EEE);
$color-shadow : (c:rgba(0,0,0,0.8), r:#888);
//...........................................
$color-selected  : (c:rgba(255,255,0,0.6), r:#000);
//...........................................
$color-mask: (
  heavy : rgba(0,0,0,0.95),
  bushy : rgba(50,50,50,0.8),
  thin  : rgba(50,50,50,0.4),
  r : #e0e0e0
);
//...........................................
$color-line: (
  dark      : rgba(200,200,200,0.2),
  shallow   : rgba(200,200,200,0.1),
  primary   : map-get($color-primary, c),
  highlight : map-get($color-secondary, c)
);
//-----------------------------------------------------
// Utility mixins
@import "_vars.scss";
@import "_sizing.scss";
@import "_mixins.scss";
@import "_default.scss";
@import "_utility.scss";
//-----------------------------------------------------
// Include coms
@import "com/_ti-crumb.scss";
@import "com/_ti-icon.scss";
@import "com/_ti-list-tiles.scss";
@import "com/_ti-loading.scss";
@import "com/_ti-menu.scss";
@import "com/_ti-modal.scss";
@import "com/_ti-obj-binary.scss";
@import "com/_ti-obj-creation.scss";
@import "com/_ti-obj-image.scss";
@import "com/_ti-obj-meta.scss";
@import "com/_ti-obj-thumb.scss";
@import "com/_ti-obj-video.scss";
@import "com/_ti-text-raw.scss";
//-----------------------------------------------------
// Include ex-coms
@import "com/_wn-list-adaptview.scss";
@import "com/_wn-obj-preview.scss";
//-----------------------------------------------------
// Include apps
@import "com/_wn-manager.scss";
//-----------------------------------------------------


