//-----------------------------------------------------
// Define color variables
$color-primary   : (c:#FC4, r:#444);
$color-secondary : (c:#08F, r:#FFF);
$color-success: (c:#080, r:#FFF);
$color-warn   : (c:#FE0, r:#620);
$color-info   : (c:#08F, r:#FFF);
$color-error  : (c:#F20, r:#FFF);
$color-track  : (c:rgba(200,200,200,.5), r:#888);
$color-disable: (c:rgba(200,200,200,.38), r:rgba(0,0,0,.38));
//...........................................
$color-paper : (c:#444, r:#FFF);
$color-chip  : (c:#666, r:#E0E0E0);
$color-cloak : (c:rgba(20,20,20,0.95), r:#DDD);
$color-body  : (c:#444, r:#DDD);
$color-bar   : (c:rgba(50,50,50,0.6), r:#EEE);
$color-func  : (c:rgba(80,80,80,0.4), r:#EEE);
$color-shadow : (c:rgba(0,0,0,0.8), r:#888);
$color-light  : (c:rgba(255,255,10,0.6), r:#444);
$color-input  : (c:#CCC, r:rgba(50,50,50,0.8));
//...........................................
$color-selected  : (c:rgba(230, 195, 101, .6), r:#000);
//...........................................
$color-mask: (
  heavy : rgba(0,0,0,0.95),
  bushy : rgba(50,50,50,0.8),
  thin  : rgba(50,50,50,0.4),
  weak  : rgba(100,100,100,0.4),
  r : #e0e0e0
);
//...........................................
$color-line: (
  dark      : rgba(200,200,200,0.2),
  shallow   : rgba(200,200,200,0.1),
  highlight : map-get($color-primary, c)
);
//-----------------------------------------------------
// Utility mixins
@import "_vars.scss";
@import "_sizing.scss";
@import "_mixins.scss";
@import "_default.scss";
@import "_utility.scss";
//-----------------------------------------------------
// AUTO-INCLUDE-COM-STUB
@import "com/_ti-box.scss";
@import "com/_ti-button.scss";
@import "com/_ti-calendar.scss";
@import "com/_ti-chart-simple.scss";
@import "com/_ti-col-data.scss";
@import "com/_ti-color.scss";
@import "com/_ti-combo-auth.scss";
@import "com/_ti-combo-box.scss";
@import "com/_ti-crumb.scss";
@import "com/_ti-datetime.scss";
@import "com/_ti-form.scss";
@import "com/_ti-gui.scss";
@import "com/_ti-icon.scss";
@import "com/_ti-image.scss";
@import "com/_ti-imgfile.scss";
@import "com/_ti-input-color.scss";
@import "com/_ti-input-num.scss";
@import "com/_ti-input-tags.scss";
@import "com/_ti-input-text.scss";
@import "com/_ti-input.scss";
@import "com/_ti-label.scss";
@import "com/_ti-layout.scss";
@import "com/_ti-lbs-map.scss";
@import "com/_ti-list.scss";
@import "com/_ti-loading.scss";
@import "com/_ti-media-binary.scss";
@import "com/_ti-media-image.scss";
@import "com/_ti-media-video.scss";
@import "com/_ti-menu.scss";
@import "com/_ti-modal.scss";
@import "com/_ti-nav-links.scss";
@import "com/_ti-obj-creation.scss";
@import "com/_ti-obj-meta.scss";
@import "com/_ti-obj-thumb.scss";
@import "com/_ti-obj-tile.scss";
@import "com/_ti-paging.scss";
@import "com/_ti-switcher.scss";
@import "com/_ti-table.scss";
@import "com/_ti-tabs.scss";
@import "com/_ti-text-raw.scss";
@import "com/_ti-tiles.scss";
@import "com/_ti-toast.scss";
@import "com/_ti-toggle.scss";
@import "com/_ti-wall.scss";
@import "com/_ti-web.scss";
@import "com/_ti-wizard.scss";
@import "com/_wn-adaptlist.scss";
@import "com/_wn-explorer.scss";
@import "com/_wn-manager.scss";
@import "com/_wn-obj-preview.scss";
@import "com/_wn-thing.scss";