html {
  height: 100%;
  font-size: 100px; }

body {
  height: 100%;
  margin: 0;
  font-size: .18rem;
  line-height: 2.4em;
  letter-spacing: .015em;
  color: rgba(0, 0, 0, 0.87);
  background: #fafafa; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #2196f3;
  text-decoration: none; }

a:hover {
  color: #ff4081;
  text-decoration: underline; }

@media (min-width: 0) {
  body {
    font-size: 12px; } }
@media (min-width: 576px) {
  body {
    font-size: 12px; } }
@media (min-width: 768px) {
  body {
    font-size: 13px; } }
@media (min-width: 992px) {
  body {
    font-size: 14px; } }
@media (min-width: 1200px) {
  body {
    font-size: 14px; } }
.main-body {
  overflow: hidden; }

.ti-ul-reset {
  list-style: none;
  padding: 0;
  margin: 0; }

.ti-ul-align-left {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap; }

.ti-ul-align-center {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap; }

.ti-ul-align-right {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap; }

.ti-flex-cols-3 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap; }
  .ti-flex-cols-3 > * {
    flex: 0 0 auto; }
  .ti-flex-cols-3 > *:nth-child(2) {
    flex: 1 1 auto; }

.ti-flex-fit {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap; }
  .ti-flex-fit > * {
    flex: 1 1 auto; }

.ti-flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap; }

.ti-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap; }

.ti-flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap; }

.ti-fill-parent {
  width: 100%;
  height: 100%; }

.ti-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1; }

.ti-hide {
  display: none; }

[ti-is-drag] {
  position: relative; }
  [ti-is-drag] > .ti-drag-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 1000;
    font-size: 2em;
    padding-bottom: 20%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ff4081;
    border: 0.04rem dashed #ff4081; }

.ti-mark-changed {
  color: #ff4081;
  margin: 0 .02rem;
  font-style: normal;
  font-weight: bold; }

.ti-menu {
  user-select: none; }
  .ti-menu > .menu-top > li .ti-menu-item-btnlike {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;
    border-radius: .02rem;
    padding: 0 .06rem; }
    .ti-menu > .menu-top > li .ti-menu-item-btnlike[item-disabled] {
      cursor: pointer;
      opacity: 0.4; }
    .ti-menu > .menu-top > li .ti-menu-item-btnlike[item-enabled] {
      cursor: pointer; }
      .ti-menu > .menu-top > li .ti-menu-item-btnlike[item-enabled]:hover {
        color: #FFF;
        background: #2196f3; }
  .ti-menu > .menu-top > li .ti-icon > i {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: .18rem;
    width: .24rem; }
  .ti-menu .mi-group-con.mi-group-closed {
    display: none; }
  .ti-menu .mi-group-con.mi-group-opened {
    display: block; }
  .ti-menu .mi-group-con:before {
    display: block;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1; }
  .ti-menu .mi-group-con > .menu-sub {
    position: fixed;
    min-width: 1.5rem;
    z-index: 100;
    color: rgba(0, 0, 0, 0.87);
    background-color: #e0e0e0;
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, 0.12); }

.ti-icon.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap; }
.ti-icon > i {
  font-size: 1em; }

.ti-crumb {
  list-style: none;
  padding: 0.1rem;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap; }
  .ti-crumb > li {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    white-space: nowrap; }
    .ti-crumb > li .ti-icon i {
      color: rgba(0, 0, 0, 0.38);
      font-size: 1em; }
    .ti-crumb > li > b {
      color: rgba(0, 0, 0, 0.87); }

.ti-set-tiles > .ti-obj-tiles-con {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap; }
  .ti-set-tiles > .ti-obj-tiles-con > .ti-obj-tiles-item {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap; }
    .ti-set-tiles > .ti-obj-tiles-con > .ti-obj-tiles-item > * {
      flex: 1 1 auto; }
  .ti-set-tiles > .ti-obj-tiles-con.ti-spacing-xs {
    padding: 1px; }
    .ti-set-tiles > .ti-obj-tiles-con.ti-spacing-xs > * {
      margin: 0; }
  .ti-set-tiles > .ti-obj-tiles-con.ti-spacing-sm {
    padding: .08rem; }
    .ti-set-tiles > .ti-obj-tiles-con.ti-spacing-sm > * {
      margin: .08rem; }
  .ti-set-tiles > .ti-obj-tiles-con.ti-spacing-md {
    padding: .16rem; }
    .ti-set-tiles > .ti-obj-tiles-con.ti-spacing-md > * {
      margin: .16rem; }
  .ti-set-tiles > .ti-obj-tiles-con.ti-spacing-lg {
    padding: .24rem; }
    .ti-set-tiles > .ti-obj-tiles-con.ti-spacing-lg > * {
      margin: .24rem; }
  .ti-set-tiles > .ti-obj-tiles-con.ti-spacing-xl {
    padding: .32rem; }
    .ti-set-tiles > .ti-obj-tiles-con.ti-spacing-xl > * {
      margin: .32rem; }

.ti-obj-thumb {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  user-select: none;
  width: 1rem; }
  .ti-obj-thumb > header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    padding: .06rem 0 .02rem 0; }
    .ti-obj-thumb > header > [as-preview] {
      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: nowrap;
      flex: 1 1 auto;
      width: .64rem;
      height: .64rem; }
      .ti-obj-thumb > header > [as-preview] > img {
        object-fit: contain;
        width: 100%;
        height: 100%; }
      .ti-obj-thumb > header > [as-preview] > .ti-icon i {
        font-size: .52rem; }
  .ti-obj-thumb > footer {
    flex: 1 1 auto;
    padding: .04rem;
    text-align: center;
    font-size: 12px; }
    .ti-obj-thumb > footer > [as-title] {
      height: 3.3em;
      line-height: 1.1em;
      overflow: hidden;
      word-break: break-all;
      font-size: 1em;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      -moz-box-orient: vertical;
      -moz-line-clamp: 3; }
  .ti-obj-thumb.is-highlight {
    background: #2196f3;
    color: #fff; }

.ti-text-raw {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: column; }
  .ti-text-raw .te-head {
    flex: 0 0 auto;
    padding: .04rem .12rem 0 .12rem;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap; }
    .ti-text-raw .te-head.content-changed {
      color: #ff4081; }
    .ti-text-raw .te-head > .ti-icon {
      padding: 0 .08rem 0 0;
      font-size: 1.4em; }
    .ti-text-raw .te-head > b {
      font-weight: normal; }
  .ti-text-raw .te-main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    padding: .04rem; }
    .ti-text-raw .te-main textarea {
      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: nowrap;
      flex: 1 1 auto;
      resize: none;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.12);
      padding: .1rem;
      font-family: Monaco, Consolas, Courier New;
      font-size: .16rem;
      line-height: .2rem; }
      .ti-text-raw .te-main textarea:focus {
        border-color: #ff4081; }

.wn-list-adaptview {
  position: relative; }
  .wn-list-adaptview > .wla-uploading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    overflow-y: auto;
    padding: .1rem;
    background: rgba(0, 0, 0, 0.4); }

.wn-manager .wnm-sky {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
.wn-manager .wnm-aside {
  border-right: 1px solid rgba(0, 0, 0, 0.12); }
.wn-manager .wnm-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12); }
.wn-manager .wnm-action .wnm-action-menu {
  border-left: 1px solid rgba(0, 0, 0, 0.12); }

.wn-manager .wnm-logo {
  padding: 0 .12rem; }
.wn-manager .wnm-action {
  padding: 0 .12rem; }
  .wn-manager .wnm-action > * {
    padding: 0 .08rem; }
  .wn-manager .wnm-action > *:first-child {
    padding-left: 0; }
  .wn-manager .wnm-action > *:last-child {
    padding-right: 0; }
.wn-manager .wnm-aside {
  padding: .01rem; }
.wn-manager .wnm-footer > * {
  padding: 0 .1rem; }

.wn-manager .wnm-sky,
.wn-manager .wnm-aside,
.wn-manager .wnm-footer {
  background: rgba(0, 0, 0, 0.08); }

.wn-manager .wnm-title {
  overflow: hidden; }
.wn-manager .wnm-footer {
  font-size: .12em;
  color: rgba(0, 0, 0, 0.38); }
  .wn-manager .wnm-footer .ti-icon {
    font-size: 1.2em;
    margin: 0 .06rem 0 0; }

.wn-manager {
  width: 100%;
  height: 100%;
  position: relative; }
  .wn-manager > * {
    position: absolute; }
  .wn-manager > .wnm-sky {
    left: 0;
    top: 0;
    width: 100%;
    height: 0.48rem; }
  .wn-manager > .wnm-aside {
    left: 0;
    top: 0.48rem;
    width: 1.8rem;
    bottom: 0.32rem; }
  .wn-manager > .wnm-arena {
    left: 1.8rem;
    top: 0.48rem;
    right: 0;
    bottom: 0.32rem; }
  .wn-manager > .wnm-footer {
    left: 0;
    height: 0.32rem;
    right: 0;
    bottom: 0; }
  .wn-manager .wnm-loading-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0); }

.wnm-aside {
  overflow-x: hidden;
  overflow-y: auto; }
  .wnm-aside .sidebar-item .it-info {
    user-select: none;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 .5em;
    cursor: pointer; }
    .wnm-aside .sidebar-item .it-info > span.ti-icon {
      flex: 0 0 auto;
      width: .2rem; }
    .wnm-aside .sidebar-item .it-info > .it-info-text {
      flex: 1 1 auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .wnm-aside .sidebar-item .it-con {
    padding-left: 1em; }
  .wnm-aside .sidebar-item.is-highlight > .it-info {
    color: #FFF;
    background: #2196f3; }
    .wnm-aside .sidebar-item.is-highlight > .it-info a {
      color: unset; }
    .wnm-aside .sidebar-item.is-highlight > .it-info a:hover {
      text-decoration: none;
      color: unset; }
  .wnm-aside .sidebar-item.is-group > .it-info {
    font-size: .8em; }
  .wnm-aside .sidebar-item.is-collapse.is-group > .it-info {
    color: #2196f3;
    background-color: #fff; }
    .wnm-aside .sidebar-item.is-collapse.is-group > .it-info:after {
      display: block;
      flex: 0 0 auto;
      content: "...";
      padding: 0 .1em; }
  .wnm-aside .sidebar-item.is-collapse > .it-con {
    height: 0;
    overflow: hidden; }
