//-----------------------------------------------------
// Define color variables
$color-primary   : (c:#2196f3, r:#FFF);
$color-secondary : (c:#ff4081, r:#FFF);
$color-success: (c:#4caf50, r:#FFF);
$color-warn   : (c:#fdd835, r:#620);
$color-info   : (c:rgba(0,0,0,.9), r:#DDD);
$color-error  : (c:#f44336, r:#FFF);
$color-track  : (c:#888, r:#FFF);
$color-disable: (c:rgba(0,0,0,.38), r:rgba(255,255,255,.38));
//...........................................
$color-paper : (c:#F0F0F0,    r:#444);
$color-chip  : (c:#e8e8e8,    r:#666);
$color-cloak : (c:rgba(230,230,230,0.8), r:#666);
$color-body  : (c:#FAFAFA, r:#444);
$color-bar   : (c:#f0f0f0, r:#888);
$color-func  : (c:#F0F0F0, r:#666);
$color-shadow : (c:rgba(0,0,0,0.6), r:#AAA);
$color-light  : (c:rgba(255,255,255,0.6), r:#444);
$color-input  : (c:#444, r:#FFF);
//...........................................
$color-selected  : (c:#cce8ff, r:#2196f3);
//...........................................
$color-mask: (
  heavy : rgba(0,0,0,0.95),
  bushy : rgba(50,50,50,0.8),
  thin  : rgba(50,50,50,0.3),
  weak  : rgba(230,230,230,0.4),
  r : #e0e0e0
);
//...........................................
$color-line: (
  dark      : rgba(0,0,0,0.2),
  shallow   : rgba(20,20,20,0.1),
  primary   : map-get($color-primary, c),
  highlight : map-get($color-secondary, c)
);
//-----------------------------------------------------
// Utility mixins
@import "_vars.scss";
@import "_sizing.scss";
@import "_mixins.scss";
@import "_default.scss";
@import "_utility.scss";
//-----------------------------------------------------
// Include coms
@import "com/_ti-chart-simple.scss";
@import "com/_ti-gui.scss";
@import "com/_ti-table.scss";
@import "com/_ti-tabs.scss";
@import "com/_ti-crumb.scss";
@import "com/_ti-imgfile.scss";
@import "com/_ti-icon.scss";
@import "com/_ti-button.scss";
@import "com/_ti-tiles.scss";
@import "com/_ti-wall.scss";
@import "com/_ti-layout.scss";
@import "com/_ti-loading.scss";
@import "com/_ti-menu.scss";
@import "com/_ti-modal.scss";
@import "com/_ti-toast.scss";
@import "com/_ti-obj-creation.scss";
@import "com/_ti-obj-meta.scss";
@import "com/_ti-obj-thumb.scss";
@import "com/_ti-media-binary.scss";
@import "com/_ti-media-image.scss";
@import "com/_ti-media-video.scss";
@import "com/_ti-text-raw.scss";
@import "com/_ti-paging.scss";
//-----------------------------------------------------
// Include form
@import "com/_ti-form.scss";
@import "com/_ti-box.scss";
@import "com/_ti-list.scss";
@import "com/_ti-label.scss";
@import "com/_ti-input.scss";
@import "com/_ti-input-num.scss";
@import "com/_ti-droplist.scss";
@import "com/_ti-toggle.scss";
@import "com/_ti-switcher.scss";
@import "com/_ti-image.scss";
//-----------------------------------------------------
// Include combo
@import "com/_ti-combo-auth.scss";
//-----------------------------------------------------
// Include www
@import "com/_ti-nav-links.scss";
//-----------------------------------------------------
// Include ex-coms
@import "com/_wn-explorer.scss";
@import "com/_wn-adaptlist.scss";
@import "com/_wn-obj-preview.scss";
@import "com/_wn-thing.scss";
//-----------------------------------------------------
// Include apps
@import "com/_wn-manager.scss";
