html {
  height: 100%;
  font-size: 100px; }

body {
  color: #444;
  background-color: #FAFAFA;
  font-size: .14rem;
  height: 100%;
  margin: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(0, 0, 0, 0.38); }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(0, 0, 0, 0.38); }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(0, 0, 0, 0.38); }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(0, 0, 0, 0.38); }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:hover {
  background-color: #ff4081; }

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1); }

pre {
  tab-size: 4;
  -moz-tab-size: 4; }

a {
  color: #2196f3;
  text-decoration: none; }

a:hover {
  color: #ff4081;
  text-decoration: underline; }

@media (min-width: 0) {
  body > * {
    font-size: 12px; } }
@media (min-width: 576px) {
  body > * {
    font-size: 12px; } }
@media (min-width: 768px) {
  body > * {
    font-size: 13px; } }
@media (min-width: 992px) {
  body > * {
    font-size: 14px; } }
@media (min-width: 1200px) {
  body > * {
    font-size: 14px; } }
.app-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex: 1 1 auto;
  color: #ff4081;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: .2rem .2rem 20%;
  font-size: .5rem; }

.main-body {
  overflow: hidden; }

.ti-ul-reset {
  list-style: none;
  padding: 0;
  margin: 0; }

.ti-ul-align-left {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap; }

.ti-ul-align-center {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap; }

.ti-ul-align-right {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap; }

.ti-flex-cols-3 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap; }
  .ti-flex-cols-3 > * {
    flex: 0 0 auto; }
  .ti-flex-cols-3 > *:nth-child(2) {
    flex: 1 1 auto; }

.ti-flex-fit {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap; }
  .ti-flex-fit > * {
    flex: 1 1 auto; }

.ti-flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap; }

.ti-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap; }

.ti-flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap; }

.ti-fill-parent {
  width: 100%;
  height: 100%; }

.ti-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1; }

.ti-hide {
  display: none; }

[ti-is-drag] {
  position: relative; }
  [ti-is-drag] > .ti-drag-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 1000;
    font-size: 2em;
    padding-bottom: 20%;
    background-color: rgba(50, 50, 50, 0.4);
    color: #ff4081;
    border: 0.04rem dashed; }

.ti-mark-changed {
  color: #ff4081;
  margin: 0 .02rem;
  font-style: normal;
  font-weight: bold; }

.ti-progress-bar .bar-tip {
  display: block;
  text-align: center;
  padding: 0.04rem;
  line-height: 1em;
  white-space: nowrap;
  font-size: .1rem;
  color: #e0e0e0;
  background-color: rgba(50, 50, 50, 0.4); }
.ti-progress-bar .bar-outer {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #4caf50;
  background-color: #FFF; }
.ti-progress-bar .bar-inner {
  display: block;
  background: #4caf50;
  min-height: 2px; }

.ti-crumb {
  list-style: none;
  padding: 0.1rem;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap; }
  .ti-crumb > li {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    white-space: nowrap; }
    .ti-crumb > li .ti-icon i {
      font-size: 1em; }

.ti-icon {
  display: inline-block;
  vertical-align: middle;
  dbackground: red; }
  .ti-icon .tii-con {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap; }
    .ti-icon .tii-con > i {
      font-size: 1em; }

.ti-list-tiles {
  overflow: auto; }
  .ti-list-tiles > .list-con {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap; }
    .ti-list-tiles > .list-con > .ti-obj-tiles-item {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: wrap; }
      .ti-list-tiles > .list-con > .ti-obj-tiles-item > * {
        flex: 1 1 auto; }
    .ti-list-tiles > .list-con.ti-spacing-xs {
      padding: 1px; }
      .ti-list-tiles > .list-con.ti-spacing-xs > * {
        margin: 0; }
    .ti-list-tiles > .list-con.ti-spacing-sm {
      padding: .08rem; }
      .ti-list-tiles > .list-con.ti-spacing-sm > * {
        margin: .08rem; }
    .ti-list-tiles > .list-con.ti-spacing-md {
      padding: .16rem; }
      .ti-list-tiles > .list-con.ti-spacing-md > * {
        margin: .16rem; }
    .ti-list-tiles > .list-con.ti-spacing-lg {
      padding: .24rem; }
      .ti-list-tiles > .list-con.ti-spacing-lg > * {
        margin: .24rem; }
    .ti-list-tiles > .list-con.ti-spacing-xl {
      padding: .32rem; }
      .ti-list-tiles > .list-con.ti-spacing-xl > * {
        margin: .32rem; }
    .ti-list-tiles > .list-con > .is-empty {
      color: #888;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: wrap;
      padding: .3rem;
      font-size: 1.2em; }
      .ti-list-tiles > .list-con > .is-empty .ti-icon {
        font-size: 2em;
        margin-right: .06rem; }

.ti-loading {
  color: #666; }
  .ti-loading > .tl-con {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;
    font-size: 1.2em;
    padding: .3rem; }
    .ti-loading > .tl-con > .ti-icon {
      font-size: 1.2em;
      margin-right: .06rem; }

.ti-menu {
  user-select: none; }
  .ti-menu > .menu-top > li {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap; }
    .ti-menu > .menu-top > li .ti-menu-item-btnlike {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: stretch;
      flex-wrap: nowrap;
      border-radius: .02rem;
      padding: 0 .06rem; }
      .ti-menu > .menu-top > li .ti-menu-item-btnlike[item-disabled] {
        cursor: default;
        opacity: 0.4; }
      .ti-menu > .menu-top > li .ti-menu-item-btnlike[item-enabled] {
        cursor: pointer; }
        .ti-menu > .menu-top > li .ti-menu-item-btnlike[item-enabled]:hover {
          color: #FFF;
          background-color: #2196f3; }
    .ti-menu > .menu-top > li .ti-icon {
      margin-right: .04rem; }
    .ti-menu > .menu-top > li > .mi-line {
      background-color: rgba(0, 0, 0, 0.1);
      width: 1px;
      height: .2rem;
      overflow: hidden;
      margin: 0 .02rem; }
  .ti-menu .mi-group:hover > .ti-menu-item-btnlike {
    color: #FFF;
    background-color: #2196f3; }
  .ti-menu .mi-group-con.mi-group-closed {
    display: none; }
  .ti-menu .mi-group-con.mi-group-opened {
    display: block; }
  .ti-menu .mi-group-con:before {
    display: block;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1; }
  .ti-menu .mi-group-con > .menu-sub {
    position: fixed;
    min-width: 1.5rem;
    z-index: 100;
    padding: 1px;
    color: #444;
    background-color: rgba(220, 220, 220, 0.95);
    border: 1px solid #2196f3; }
    .ti-menu .mi-group-con > .menu-sub .mi-line {
      background-color: rgba(0, 0, 0, 0.1);
      height: 1px;
      overflow: hidden;
      margin: .04rem 0; }

.ti-modal > .mdl-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #e0e0e0;
  background-color: rgba(50, 50, 50, 0.8);
  z-index: 1000; }
.ti-modal > .mdl-con {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: .2rem .2rem 2rem .2rem;
  z-index: 1000; }
  .ti-modal > .mdl-con > .mdl-main {
    color: #666;
    background-color: #e0e0e0;
    position: relative;
    min-width: 3.2rem;
    min-height: 1.8rem; }
    .ti-modal > .mdl-con > .mdl-main > .mdl-closer {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: nowrap;
      flex: 1 1 auto;
      cursor: pointer;
      width: 0.32rem;
      height: 0.32rem;
      line-height: 0.32rem;
      margin-right: -0.16rem;
      margin-top: -0.16rem; }
      .ti-modal > .mdl-con > .mdl-main > .mdl-closer > span {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex: 1 1 auto;
        color: #e0e0e0;
        background-color: rgba(50, 50, 50, 0.8);
        border: 2px solid;
        border-radius: 50%;
        overflow: hidden;
        font-size: .16rem;
        transition: transform 0.3s; }
      .ti-modal > .mdl-con > .mdl-main > .mdl-closer:hover > span {
        color: #FFF;
        background-color: #ff4081;
        border-width: 0;
        transform: scale(1.2) rotate(180deg);
        font-size: .24rem; }
    .ti-modal > .mdl-con > .mdl-main > .mdl-title {
      position: absolute;
      left: 0;
      top: 0;
      height: 0.32rem;
      right: 0;
      user-select: none;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: wrap;
      color: rgba(200, 200, 200, 0.4);
      background-color: rgba(20, 20, 20, 0.4);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: .04rem .1rem;
      font-size: .12rem;
      line-height: 2em; }
      .ti-modal > .mdl-con > .mdl-main > .mdl-title > .mdl-title-icon {
        font-size: 1.3em;
        padding: 0 .06rem 0 0;
        opacity: 0.4; }
    .ti-modal > .mdl-con > .mdl-main > .mdl-body {
      position: absolute;
      left: 0;
      top: 0.32rem;
      right: 0;
      bottom: 0.48rem;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: nowrap;
      flex: 1 1 auto; }
    .ti-modal > .mdl-con > .mdl-main > .mdl-actions {
      position: absolute;
      left: 0;
      height: 0.48rem;
      right: 0;
      bottom: 0;
      user-select: none;
      color: rgba(200, 200, 200, 0.2);
      background-color: rgba(20, 20, 20, 0.2);
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
      .ti-modal > .mdl-con > .mdl-main > .mdl-actions > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        align-content: stretch;
        flex-wrap: wrap;
        padding: .04rem; }
        .ti-modal > .mdl-con > .mdl-main > .mdl-actions > ul > li {
          color: #666;
          background-color: #e0e0e0;
          cursor: pointer;
          border: 1px solid rgba(0, 0, 0, 0.2);
          margin: .02rem;
          padding: 0 .12rem;
          font-size: .12rem;
          line-height: 2.4em;
          min-width: 1rem;
          text-align: center;
          letter-spacing: .1em; }
          .ti-modal > .mdl-con > .mdl-main > .mdl-actions > ul > li:hover {
            color: #FFF;
            background-color: #2196f3; }
          .ti-modal > .mdl-con > .mdl-main > .mdl-actions > ul > li .mdl-btn-icon {
            margin-right: .05rem; }
.ti-modal.ti-success > .mdl-con > .mdl-main > .mdl-title {
  color: #FFF;
  background-color: #4caf50; }
.ti-modal.ti-warn > .mdl-con > .mdl-main > .mdl-title {
  color: #620;
  background-color: #fdd835; }
.ti-modal.ti-info > .mdl-con > .mdl-main > .mdl-title {
  color: #FFF;
  background-color: #4e9abd; }
.ti-modal.ti-error > .mdl-con > .mdl-main > .mdl-title {
  color: #FFF;
  background-color: #f44336; }
.ti-modal.ti-track > .mdl-con > .mdl-main > .mdl-title {
  color: #FFF;
  background-color: #888; }

.ti-modal-noti {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;
  padding: .12rem .2rem;
  flex: 1 1 auto; }
  .ti-modal-noti > .ti-modal-noti-icon {
    flex: 0 0 auto;
    padding: 0 .24rem 0 .12rem;
    font-size: .64rem; }
  .ti-modal-noti > .ti-modal-noti-text {
    flex: 1 1 auto; }

.ti-modal-noti.as-alert .ti-modal-noti-text, .ti-modal-noti.as-confirm .ti-modal-noti-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  flex-wrap: wrap;
  padding-right: .32rem;
  padding-bottom: .2rem; }
.ti-modal-noti.as-prompt .ti-modal-noti-text {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: column; }
  .ti-modal-noti.as-prompt .ti-modal-noti-text .prompt-tip {
    flex: 1 1 auto;
    padding: .06rem 0; }
  .ti-modal-noti.as-prompt .ti-modal-noti-text .prompt-input {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
    flex: 0 0 auto; }
    .ti-modal-noti.as-prompt .ti-modal-noti-text .prompt-input input {
      border: 1px solid rgba(0, 0, 0, 0.2);
      font-family: Monaco, Consolas, Courier New;
      flex: 1 1 auto;
      padding: .12rem;
      font-size: 1.2em;
      outline: none; }
      .ti-modal-noti.as-prompt .ti-modal-noti-text .prompt-input input:focus {
        border-color: #ff4081; }

.ti-obj-binary {
  color: #444;
  background-color: #F0F0F0;
  padding: .2rem .2rem 1rem .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: column; }
  .ti-obj-binary .tob-icon {
    padding: 0.2rem; }
  .ti-obj-binary .tob-title {
    font-family: Monaco, Consolas, Courier New;
    font-size: 1.4em;
    padding: .2rem; }

.ti-obj-creation {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%; }
  .ti-obj-creation > * {
    height: 100%; }
  .ti-obj-creation > .toc-types {
    flex: 0 0 auto; }
    .ti-obj-creation > .toc-types ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%;
      overflow-y: scroll; }
      .ti-obj-creation > .toc-types ul li {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        flex-wrap: nowrap;
        cursor: pointer;
        padding: .08rem;
        font-size: 0.8em; }
        .ti-obj-creation > .toc-types ul li:hover {
          color: rgba(200, 200, 200, 0.2);
          background-color: rgba(20, 20, 20, 0.2); }
        .ti-obj-creation > .toc-types ul li.as-current {
          color: #FFF;
          background-color: #2196f3; }
        .ti-obj-creation > .toc-types ul li > .ti-icon {
          width: .32rem;
          margin-right: .02rem;
          text-align: center;
          font-size: 1.2em; }
        .ti-obj-creation > .toc-types ul li > em {
          font-family: Monaco, Consolas, Courier New;
          font-size: 0.8em;
          color: rgba(0, 0, 0, 0.38);
          font-style: normal;
          margin-left: .06rem; }
  .ti-obj-creation > .toc-main {
    flex: 1 1 auto;
    padding: .12rem;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column; }
    .ti-obj-creation > .toc-main > .toc-info {
      flex: 1 1 auto;
      text-align: center;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: wrap;
      flex-direction: column; }
      .ti-obj-creation > .toc-main > .toc-info > * {
        padding: .08rem; }
      .ti-obj-creation > .toc-main > .toc-info > .toc-thumb {
        font-size: .8rem; }
      .ti-obj-creation > .toc-main > .toc-info > .toc-name {
        font-family: Monaco, Consolas, Courier New;
        font-size: 1.1em;
        color: #ccca42; }
      .ti-obj-creation > .toc-main > .toc-info > .toc-brief {
        color: rgba(200, 200, 200, 0.2);
        background-color: rgba(20, 20, 20, 0.2);
        border: 1px dashed rgba(0, 0, 0, 0.1);
        text-align: left;
        font-size: .8em;
        padding: .1rem; }
    .ti-obj-creation > .toc-main > .toc-free {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      flex: 1 1 auto; }
    .ti-obj-creation > .toc-main > .toc-input {
      flex: 0 0 auto; }
      .ti-obj-creation > .toc-main > .toc-input input {
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-family: Monaco, Consolas, Courier New;
        padding: .12rem;
        font-size: 1.2em;
        outline: none;
        width: 100%; }
        .ti-obj-creation > .toc-main > .toc-input input:focus {
          border-color: #ff4081; }

.ti-obj-image {
  user-select: none; }
  .ti-obj-image.as-none {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap; }
    .ti-obj-image.as-none img {
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); }
  .ti-obj-image.as-contain {
    padding: .06rem; }
    .ti-obj-image.as-contain img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .ti-obj-image.as-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.ti-obj-thumb {
  user-select: none;
  width: 1rem;
  border: 1px solid transparent;
  position: relative; }
  .ti-obj-thumb > header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: .05rem; }
    .ti-obj-thumb > header > .as-preview {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      flex: 1 1 auto;
      position: relative;
      width: .8rem;
      height: .8rem;
      padding: .04rem;
      border-radius: .04rem; }
      .ti-obj-thumb > header > .as-preview > img {
        object-fit: contain;
        width: 100%;
        height: 100%; }
    .ti-obj-thumb > header > .as-progress {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; }
  .ti-obj-thumb > section.as-status {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: #e0e0e0;
    background-color: rgba(50, 50, 50, 0.8);
    font-size: .2rem; }
  .ti-obj-thumb > footer {
    padding: .04rem;
    text-align: center; }
    .ti-obj-thumb > footer > .as-title {
      height: 3.3em;
      line-height: 1.1em;
      overflow: hidden;
      word-break: break-all;
      font-size: 1em;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      -moz-box-orient: vertical;
      -moz-line-clamp: 3; }
  .ti-obj-thumb.is-selected {
    color: #2196f3;
    background-color: #cce8ff; }
  .ti-obj-thumb.is-current {
    border-style: dotted;
    border-color: #2196f3; }
  .ti-obj-thumb.is-removed {
    opacity: 0.4; }
  .ti-obj-thumb.is-weak {
    opacity: 0.4; }
  .ti-obj-thumb.is-hide {
    display: none; }

.ti-obj-video {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background: #000; }
  .ti-obj-video.as-none video {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); }
  .ti-obj-video.as-contain {
    padding: .02rem; }
    .ti-obj-video.as-contain video {
      max-width: 100%;
      max-height: 100%; }
  .ti-obj-video.as-loading {
    position: relative; }
    .ti-obj-video.as-loading video {
      visibility: hidden; }
    .ti-obj-video.as-loading .tov-loading {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap; }

.ti-text-raw {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: column; }
  .ti-text-raw .te-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    font-family: Monaco, Consolas, Courier New;
    color: rgba(0, 0, 0, 0.38);
    flex: 0 0 auto;
    padding: .1rem .18rem; }
    .ti-text-raw .te-head.content-changed {
      color: #ff4081; }
    .ti-text-raw .te-head > .ti-icon {
      padding: 0 .1rem 0 0;
      font-size: 1.4em; }
    .ti-text-raw .te-head > b {
      font-weight: normal; }
  .ti-text-raw .te-main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    padding: 0; }
    .ti-text-raw .te-main textarea {
      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: nowrap;
      flex: 1 1 auto;
      border: 1px solid rgba(0, 0, 0, 0.2);
      font-family: Monaco, Consolas, Courier New;
      border-width: 0;
      border-top-style: dashed;
      border-top-width: 1px;
      resize: none;
      outline: none;
      padding: .1rem;
      font-size: .16rem;
      line-height: .2rem; }
      .ti-text-raw .te-main textarea:focus {
        border-color: #ff4081; }

.ti-form {
  padding: .1rem; }

.wn-list-adaptview {
  position: relative; }
  .wn-list-adaptview > .wla-uploading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #444;
    background-color: rgba(220, 220, 220, 0.95);
    max-height: 100%;
    overflow-y: auto;
    transition: 0.5s; }
    .wn-list-adaptview > .wla-uploading.up-show {
      opacity: 1;
      bottom: 0; }
    .wn-list-adaptview > .wla-uploading.up-hide {
      opacity: 0;
      bottom: -100%; }
    .wn-list-adaptview > .wla-uploading > header {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: wrap;
      color: #620;
      background-color: #fdd835;
      padding: .04rem .1rem; }
      .wn-list-adaptview > .wla-uploading > header > span {
        margin-right: .06rem; }
    .wn-list-adaptview > .wla-uploading > section {
      padding: .1rem; }

.wn-obj-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex: 1 1 auto;
  color: #e0e0e0;
  background-color: rgba(50, 50, 50, 0.4); }
  .wn-obj-preview > .my-closer {
    display: none; }
  .wn-obj-preview.as-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 1; }
    .wn-obj-preview.as-fullscreen > .my-closer {
      user-select: none;
      position: fixed;
      top: 0.02rem;
      right: 0.02rem;
      color: #e0e0e0;
      background-color: rgba(50, 50, 50, 0.4);
      cursor: pointer;
      z-index: 2;
      font-size: 2em;
      display: block;
      padding: .06rem; }
      .wn-obj-preview.as-fullscreen > .my-closer:hover {
        color: #FFF;
        background-color: #2196f3; }

.wn-manager {
  font-family: "Microsoft YaHei", Vendana, Calibri, Driod Sans, Arial;
  line-height: 2.2em;
  letter-spacing: 0.015em; }
  .wn-manager .wnm-sky {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .wn-manager .wnm-aside {
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
  .wn-manager .wnm-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .wn-manager .wnm-action .wnm-action-menu {
    border-left: 1px solid rgba(0, 0, 0, 0.1); }

.wn-manager .wnm-logo {
  padding: 0 .02rem 0 .12rem; }
.wn-manager .wnm-action {
  padding: 0 .12rem; }
  .wn-manager .wnm-action > * {
    padding: 0 .08rem; }
  .wn-manager .wnm-action > *:first-child {
    padding-left: 0; }
  .wn-manager .wnm-action > *:last-child {
    padding-right: 0; }
.wn-manager .wnm-aside {
  padding: .01rem; }
.wn-manager .wnm-footer > * {
  padding: 0 .1rem; }

.wn-manager .wnm-sky,
.wn-manager .wnm-aside,
.wn-manager .wnm-footer {
  background-color: #F0F0F0; }

.wn-manager .wnm-title {
  overflow: hidden; }
.wn-manager .wnm-footer {
  color: rgba(0, 0, 0, 0.38);
  font-family: "Microsoft YaHei", Vendana, Calibri, Driod Sans, Arial;
  font-size: 0.12rem; }
  .wn-manager .wnm-footer .ti-icon {
    font-size: 1.2em;
    margin: 0 .06rem 0 0; }
  .wn-manager .wnm-footer > .wnm-log {
    white-space: nowrap; }

.wn-manager {
  width: 100%;
  height: 100%;
  position: relative; }
  .wn-manager > * {
    position: absolute; }
  .wn-manager > .wnm-sky {
    left: 0;
    top: 0;
    width: 100%;
    height: 0.48rem; }
  .wn-manager > .wnm-aside {
    left: 0;
    top: 0.48rem;
    width: 1.8rem;
    bottom: 0.32rem; }
  .wn-manager > .wnm-arena {
    left: 1.8rem;
    top: 0.48rem;
    right: 0;
    bottom: 0.32rem; }
  .wn-manager > .wnm-footer {
    left: 0;
    height: 0.32rem;
    right: 0;
    bottom: 0; }
  .wn-manager .wnm-loading-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0); }

.wnm-aside {
  overflow-x: hidden;
  overflow-y: auto; }
  .wnm-aside .sidebar-item .it-info {
    user-select: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 .5em;
    cursor: pointer; }
    .wnm-aside .sidebar-item .it-info > span.ti-icon {
      margin-right: .06rem; }
    .wnm-aside .sidebar-item .it-info > .it-info-text {
      flex: 1 1 auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .wnm-aside .sidebar-item .it-con {
    padding-left: 1em; }
  .wnm-aside .sidebar-item.is-highlight > .it-info {
    color: #FFF;
    background-color: #2196f3; }
    .wnm-aside .sidebar-item.is-highlight > .it-info a {
      color: unset; }
    .wnm-aside .sidebar-item.is-highlight > .it-info a:hover {
      text-decoration: none;
      color: unset; }
  .wnm-aside .sidebar-item.is-group > .it-info {
    font-size: .8em; }
  .wnm-aside .sidebar-item.is-collapse.is-group > .it-info {
    color: #666;
    background-color: #ccca42; }
    .wnm-aside .sidebar-item.is-collapse.is-group > .it-info:after {
      display: block;
      flex: 0 0 auto;
      content: "...";
      padding: 0 .1em; }
  .wnm-aside .sidebar-item.is-collapse > .it-con {
    height: 0;
    overflow: hidden; }
