<div class="it-is-group"
  :class="classObject.top"
  @mouseenter="onMouseEnter"
  @mouseleave="onMouseLeave">
  <!--
    Group Info
  -->
  <div class="as-info"
      :item-disabled="isDisabled"
      :item-enabled="isEnabled"
      :tip="theTip"
      @click.stop="showChildren">
    <!--Icon-->
    <span v-if="isTop || showIcon"
      class="as-icon">
      <ti-icon v-if="hasIcon" 
        size=".16rem"
        :value="theIcon"/>
    </span>
    <!--Text-->
    <span v-if="hasText"
      class="as-text">{{theText|i18n}}</span>
    <!--Tip Icon-->
    <span v-if="!isTop"
      class="as-more-icon">
      <ti-icon value="fas-caret-right" size=".16rem"/>
    </span>
  </div>
  <!--
    Group Children
  -->
  <div class="as-children" 
       :class="classObject.groupCon"
       @click.stop="hideChildren">
    <ul class="menu-sub ti-ul-reset" ref="sub">
      <li v-for="it in items" 
        :key="it.key"
        class="menu-sub-item">
        <component :is="it.comType"
            v-bind="it"
            :show-icon="itemsHasIcon"
            :status="status"
            :status-key="it.statusKey || it.key"
            @action="$emit('action', $event)"/>
      </li>
    </ul>
  </div>
</div>