<div class="ti-button"
  :class="TopClass">
  <ul :style="mainStyle">
    <li v-for="it in ButtonItems"
      :key="it.name"
      :class="it.buttonClass"
      :style="it.style"
      @click="OnClickItem(it)">
      <!--
        Icon
      -->
      <ti-icon v-if="it.icon"
        :value="it.icon"/>
      <!--
        Text
      -->
      <template v-if="it.text">
        <a :href="href" v-if="href" class="it-text">{{it.text|i18n}}</a>
        <span v-else class="it-text">{{it.text|i18n}}</span>
      </template>
    </li>
  </ul>
</div>