<div class="ti-upload-file full-field"
  :class="TopClass">
  <!--
    Hidden input file to choose files
  -->
  <input 
    type="file" 
    ref="file" 
    class="ti-hide"
    @change.stop.seft="OnSelectLocalFilesToUpload">
  <!--
    Major preview zone
  -->
  <div ref="thumb"
    class="thumb-con"
    :style="ThumbStyle"
    @mouseleave="showMoreActions=false"
    @click="OnClickToEdit"
    v-drop-files.mask="OnDropFiles">
    <!--
      Preview
    -->
    <ti-obj-thumb 
      :preview="PreviewIcon"
      :progress="progress"
      :show-footer="false"/>
    <!--
      Preview type badge
    -->
    <div
      v-if="hasPreview"
        class="as-preview-type">
          <i v-if="'link'==previewType" class="fas fa-link"></i>
          <i v-else-if="'obj'==previewType" class="fas fa-save"></i>
    </div>
    <!--
      Actions
    -->
    <div ref="actions"
      v-if="isShowActions"
        class="thumb-actions"
        :style="ActionsStyle">
        <div
          v-for="it in TopActionItems"
            class="thumb-opt"
            :class="it.className"
            @click.left.stop="it.handler()"
            @mouseenter.left="OnMouseEnter(it)">
            <ti-icon :value="it.icon"/>
            <span class="it-text">{{it.text|i18n}}</span>
        </div>
    </div>
    <!--
      More Actions
    -->
    <div ref="more"
      v-if="MoreActionItems && showMoreActions"
        class="more-actions">
        <div
          v-for="it in MoreActionItems"
            class="thumb-opt"
            :class="it.className"
            @click.left.stop="it.handler()">
            <ti-icon :value="it.icon"/>
            <span class="it-text">{{it.text|i18n}}</span>
        </div>
    </div>
    <!--//////-->
  </div>
</div>