<div class="ti-upload-file full-field"
  :class="TopClass">
  <!--
    Hidden input file to choose files
  -->
  <input 
    type="file" 
    ref="file" 
    class="ti-hide"
    @change.stop.seft="OnSelectLocalFilesToUpload">
  <!--
    Major preview zone
  -->
  <div ref="thumb"
    class="thumb-con"
    :style="ThumbStyle"
    @click="OnClickToEdit"
    v-drop-files.mask="OnDropFiles">
    <!--
      Preview
    -->
    <ti-obj-thumb 
      :preview="PreviewIcon"
      :progress="progress"
      :show-footer="false"/>
    <!--
      Remove
    -->
    <div ref="actions"
      v-if="isShowRemoveIcon || exlink"
        class="thumb-actions"
        :style="ActionsStyle">
        <!--remove-->
        <div
          v-if="isShowRemoveIcon"
            class="thumb-opt as-del"
            @click.left.stop="OnRemove">
            <ti-icon value="zmdi-delete"/>
            <span class="it-text">{{'clear'|i18n}}</span>
        </div>
        <!--open-->
        <div
          v-if="isShowRemoveIcon"
            class="thumb-opt as-open"
            @click.left.stop="OnOpen">
            <ti-icon value="zmdi-open-in-new"/>
            <span class="it-text">{{'open'|i18n}}</span>
        </div>
        <!--exlink-->
        <div
          v-if="exlink"
            class="thumb-opt as-exlink"
            @click.left.stop="OnExlink">
            <ti-icon value="fas-link"/>
            <span class="it-text">{{'link'|i18n}}</span>
        </div>
    </div>
    <!--//////-->
  </div>
</div>