<div class="ti-markdown-richeditor2"
  :class="TopClass"
  v-ti-activable>
  <!--
    Toolbar
  -->
  <ti-actionbar 
  v-if="hasToolbar"
    class="as-toolbar"
    :items="ToolbarMenuData" 
    :align="toolbarAlign"
    :status="myToolbarStatus"
    @change="OnToolbarChange"/>
  <!--
    Stage
  -->
  <div ref="stage" class="as-stage">
    <!--
      Editor
    -->
    <div ref="editing"
      class="as-editing"
      spellcheck="false"
      :class="ThemeClass"></div>
    <!--
      Side
    -->
    <div ref="aside"
      class="as-aside"
      @dblclick.left="OnClickPre">abc<br><pre>{{myDelta}}</pre></div>
  </div>
  <!--
    Show loading
  -->
  <TiLoading
    v-if="isContentLoading"
      class="as-nil-mask as-big-mask"
      v-bind="loadingAs"/>
  <!--
    Show blank
  -->
  <component
    v-else-if="isContentNil"
      :style="BlankComStyle"
      :is="blankAs.comType"
      v-bind="blankAs.comConf"/>
</div>