.ti-bullet-list {
  overflow: auto;
  padding: 1px;
  //-------------------------------------
  .as-group-title {
    padding: 0.5em;
    font-size: 0.9em;
  }
  //-------------------------------------
  .as-bullet-item {
    @include flex-align-nowrap($ai: flex-start);
    //-----------------------------------
    &.as-label {
      @include color($color-bar, r, c);
      padding: SZ(6) SZ(12);
    }
    //-----------------------------------
    &.as-option {
      cursor: pointer;
      line-height: 1.8em;
      padding: 0.3em 0.6em;
      opacity: 0.8;
      //---------------------------------
      &:hover {
        @include color($color-weaktip, r, c);
        opacity: 1;
        .ti-icon.as-bullet i {
          transform: scale(1.2);
        }
      }
      //---------------------------------
      &.is-checked {
        font-weight: bold;
        opacity: 1;
      }
      //---------------------------------
    }
    //-----------------------------------
    // bullet and icon
    > .ti-icon {
      width: SZ(24);
      height: 1.8em;
      text-align: center;
      > i {
        transition: transform 0.5s;
      }
      &.is-image .icon-icon {
        height: 100%;
        img {
          width: 1.8em;
        }
      }
    }
    //-----------------------------------
    > .as-text {
      flex: 1 1 auto; margin-left: SZ(8);
    }
    //-----------------------------------
    > .as-tip {
      color: map-get($color-track, c);
      flex: 0 0 auto;
    }
    //-----------------------------------
  }
  //-------------------------------------

  //-------------------------------------
}
