.ti-filterlist {
  @include flex-align-v-nowrap;
  //-------------------------------------
  > .as-filter {
    flex: 0 0 auto;
    padding: SZ(4);
    
  }
  //-------------------------------------
  > .as-list {
    flex: 1 1 auto;
    overflow: auto;
  }
  //-------------------------------------
}
