#ti-tip-wrapper {
  position: fixed;
  top: -400px;
  left: -500px;
  opacity: 0;
  transition: opacity 0.5s, transform 0.3s;
  z-index: $z-top;
  box-shadow: SZ(10) SZ(10) SZ(20) rgba(0, 0, 0, 0.2);
  //-----------------------------------------
  &[tip-ready="no"] {
    &[tip-at="top"] {
      transform: translateY(20px);
    }
    &[tip-at="bottom"] {
      transform: translateY(-20px);
    }
    &[tip-at="left"] {
      transform: translateX(10px);
    }
    &[tip-at="right"] {
      transform: translateX(10px);
    }
  }
  //-----------------------------------------
  &[tip-ready="yes"] {
    opacity: 1;
  }
  //-----------------------------------------
  > .ti-tip-box {
    position: relative;
    width: 100%;
    height: 100%;
    > main {
      width: 100%;
      height: 100%;
      padding: 1px;
      min-height: SZ(40);
      border-radius: SZ(6);
      overflow: auto;
    }
  }
  //-----------------------------------------
  //
  //               Measure
  //
  //-----------------------------------------
  &[tip-size="auto"] {
    min-width: SZ(100);
  }
  //-----------------------------------------
  &[tip-size="small"] {
    width: SZ(100);
  }
  //-----------------------------------------
  &[tip-size="normal"] {
    width: SZ(200);
  }
  //-----------------------------------------
  &[tip-size="big"] {
    width: SZ(400);
  }
  //-----------------------------------------
  //
  //               Color
  //
  //-----------------------------------------
  &[tip-type="info"] > .ti-tip-box {
    > main {
      @include color($color-info, r, c);
    }
    .tip-arrow {
      border-color: map-get($color-info, c);
    }
  }
  &[tip-type="error"] > .ti-tip-box {
    > main {
      @include color($color-error, r, c);
    }
    .tip-arrow {
      border-color: map-get($color-error, c);
    }
  }
  &[tip-type="warn"] > .ti-tip-box {
    > main {
      @include color($color-warn, r, c);
    }
    .tip-arrow {
      border-color: map-get($color-warn, c);
    }
  }
  &[tip-type="success"] > .ti-tip-box {
    > main {
      @include color($color-success, r, c);
    }
    .tip-arrow {
      border-color: map-get($color-success, c);
    }
  }
  &[tip-type="paper"] > .ti-tip-box {
    > main {
      @include color($color-paper, c, r);
    }
    .tip-arrow {
      border-color: map-get($color-paper, r);
    }
  }
  //-----------------------------------------
  $AS: SZ(10);
  //-----------------------------------------
  > .ti-tip-box > footer {
    position: absolute;
    > .tip-arrow {
      display: block;
      width: 0;
      height: 0;
      overflow: hidden;
      border: $AS solid #ccc;
    }
  }
  //-----------------------------------------
  &[tip-at="top"] > .ti-tip-box > footer {
    left: 0;
    right: 0;
    bottom: $AS * -2;
    > .tip-arrow {
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }
  &[tip-at="bottom"] > .ti-tip-box > footer {
    left: 0;
    right: 0;
    top: $AS * -2;
    > .tip-arrow {
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }
  &[tip-at="left"] > .ti-tip-box > footer {
    top: 0;
    bottom: 0;
    right: $AS * -2;
    > .tip-arrow {
      border-right-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
  }
  &[tip-at="right"] > .ti-tip-box > footer {
    top: 0;
    bottom: 0;
    left: $AS * -2;
    > .tip-arrow {
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
  }
  //-----------------------------------------
}
.ti-article.is-theme-tipbox {
  padding: SZ(6);
  font-size: 14px;
  line-height: 1.5em;
  //-----------------------------------------
  hr {
    height: 0px;
    border: 0;
    @include border(1px, dotted, shallow, top);
    margin: SZ(10) 0;
  }
  //---------------------------------------
  // Heading
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    line-height: 1.6em;
    margin: 1em SZ(20);
    padding: 0;
  }
  h1 {
    text-align: center;
    font-size: 1.6em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.3em;
  }
  h5 {
    font-size: 1.3em;
  }
  h6 {
    font-size: 1.3em;
  }
  //-----------------------------------------
  p {
    margin: 1em SZ(20);
  }
  blockquote {
    margin: 0;
    padding: 1em;
  }
  //-----------------------------------------
}
