.ti-obj-pair {
  //-----------------------------------
  table {
    border:0;
    margin:0;
    border-collapse:collapse;
    border-spacing:0;
  }
  //-----------------------------------
  td, th {
    @include border(1px, solid, shallow, bottom);
    padding: .2em .4em;
    //---------------------------------
    &.as-name {@include border(1px, solid, shallow, right);}
    //---------------------------------
  }
  //-----------------------------------
  th {
    @include border(1px, solid, shallow, bottom);
  }
  //-----------------------------------
  &.as-comfy { td, th {padding: .5em .8em;}}
  //-----------------------------------
}