.ti-input-pair {
  //-------------------------------------------------
  > .pair-grid-con {
    @include border(1px, solid, shallow);
    background-color: map-get($color-line, shallow);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    justify-items: stretch;
    align-items: stretch;
    grid-gap: 1px;
    //-------------------------------------------
    .pair-grid-item {
      @include flex-align-nowrap($ai: stretch);
      &.as-name {
        @include color($color-chip, r, c);
      }
      &.as-value {
        @include color($color-input, c, r);
      }
    }
    //-------------------------------------------
    .cell-con {
      @include flex-align-nowrap($ai: stretch);
      flex: 1 1 auto;
      //-----------------------------------------
      > .as-deleter {
        @include flex-center;
        @include color($color-chip, r, c);
        width: SZ(24);
        font-size: SZ(10);
        cursor: pointer;
        > i {
          transition: transform 0.3s;
          opacity: 0.4;
        }
        &:hover {
          @include color($color-secondary, r, c);
          > i {
            transform: rotate(180deg) scale(1.2);
            opacity: 1;
          }
        }
      }
      //-----------------------------------------
      > .as-com {
        width: 100%;
      }
      //-----------------------------------------
    } // > .cell-con
    //-------------------------------------------
  } // > .pair-grid-con {
  //-------------------------------------------------
  > .ti-button {
    padding-top: SZ(6);
  }
  //-------------------------------------------------
  &.is-empty > .ti-button {
    @include border(1px, dashed, shallow);
    @include color($color-bar, r, c);
    padding: 1em;
    border-radius: .5em;
  }
  //-------------------------------------------------
}
