.ti-slide-stack {
  width:100%; 
  //-------------------------------------------------
  // Horizontal mode
  //
  &.is-mode-H {
    //-----------------------------------------------
    & > .as-main{
      @include flex-align-nowrap($ai:stretch);
      @include border(1px, solid, shallow);
      width:100%; height: SZ(40);
      border-radius: SZ(10);
      overflow: hidden;
    }
    //-----------------------------------------------
    &.is-stack-single > .as-main {
      background-color: map-get($color-bar, c);  
    }
    //-----------------------------------------------
    &.is-stack-multi > .as-main {
    }
    //-----------------------------------------------
  }
  //-------------------------------------------------
  // Vertical mode
  //
  &.is-mode-V {
    & > .as-main{
      @include flex-align-v-nowrap;
      width: SZ(100); height: SZ(300); 
    }
  }
  //-------------------------------------------------
  .as-main {
    //-----------------------------------------------
    .stack-item {
      @include flex-center;
      flex:0 0 auto;
    }
    //-----------------------------------------------
    .stack-item-text {
      @include font-fixed;
      font-size: SZ(12); 
    }
    //-----------------------------------------------
  }
  //-------------------------------------------------
  .as-legend {
    padding: SZ(10);
    table {
      border: 0;
    }
    .legend-name > div {
      @include flex-align-nowrap($ai:center);
      .as-dot {
        display: block; border-radius: SZ(4);
        width: SZ(16); height: SZ(16);
      }
      .as-txt {
        white-space: nowrap;
        padding: 0 SZ(6);
      }
    }
    input {
      @include text-input;
      font-size: SZ(12); 
      padding: SZ(4);
      width: SZ(80);
    }
    .legend-tip {
      @include font-fixed($sz:SZ(12));
      @include color($color-track, c);
      white-space: nowrap;
    }
  }
  //------------------------------------------------- 
}