.ti-bullet-list {
  overflow: auto;
  padding: 1px;
  width: 100%;
  //-------------------------------------
  &.as-grid {
    > .as-bullet-group > .as-group-items {
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-rows: auto;
      grid-auto-flow: row;
      justify-items: stretch;
      align-items: stretch;
      grid-gap: 1px;
      > .as-bullet-item.as-label {
        grid-column-start: 1;
        grid-column-end: -1;
      }
    }
  }
  //-------------------------------------
  &.item-noselect {
    .as-bullet-item.as-option {
      user-select: none;
    }
  }
  //-------------------------------------
  .as-group-title {
    @include flex-align-nowrap;
    > .as-grp-text {
      font-weight: bold;
      line-height: 2em;
      padding: .2em;
    }
    > .as-grp-checker {
      @include flex-center;
      width: 2.4em;
      height: 2.4em;
      align-self: stretch;
      cursor: pointer;
      &:hover {
        @include color($color-secondary, r, c);
      }
    }
  }
  //-------------------------------------
  .as-bullet-item {
    @include flex-align-nowrap;
    //-----------------------------------
    &.as-label {
      @include color($color-bar, r, c);
      padding: 1px;
      > .as-text {
        line-height: 2em;
        padding: .2em 1em;
      }
      > .as-checker {
        @include flex-center;
        width: 2.4em;
        height: 2.4em;
        align-self: stretch;
        cursor: pointer;
        &:hover {
          @include color($color-secondary, r, c);
        }
      }
    }
    //-----------------------------------
    &.as-option {
      cursor: pointer;
      line-height: 1.8em;
      padding: 0.3em 0.6em;
      opacity: 0.8;
      //---------------------------------
      &:hover {
        @include color($color-weaktip, r, c);
        opacity: 1;
        .ti-icon.as-bullet i {
          transform: scale(1.2);
        }
      }
      //---------------------------------
      &.is-checked {
        font-weight: bold;
        opacity: 1;
      }
      //---------------------------------
    }
    //-----------------------------------
    // bullet and icon
    > .ti-icon {
      width: SZ(24);
      height: 1.8em;
      text-align: center;
      margin-right: SZ(8);
      > i {
        transition: transform 0.5s;
      }
      &.is-image .icon-icon {
        height: 100%;
        img {
          width: 1.8em;
        }
      }
    }
    //-----------------------------------
    > .as-text {
      flex: 1 1 auto;
      input {
        @include text-input;
        padding: 0.6em;
        margin: 0 SZ(8);
      }
    }
    //-----------------------------------
    > .as-tip {
      color: map-get($color-track, c);
      flex: 0 0 auto;
    }
    //-----------------------------------
  }
  //-------------------------------------

  //-------------------------------------
}
