.ti-loading {
  @include noselect;
  @include flex-center;
  @include color($color-track, c);
  font-size:SZ(24);
  //------------------------------------------
  .as-icon {
    font-size:1.2em;
    margin:0 .5em;
  }
  //------------------------------------------
  .as-text {
    @include flex-align($ai:center);
  }
  //------------------------------------------
  &.as-hug {
    padding: 3em 1em;
    > .as-icon{font-size: SZ(128);}
    > .as-text{
      display:block; padding:.5em;
      font-size:SZ(20);
      width:100%;
      text-align:center;
    }
  }
  //------------------------------------------
  &.as-big {
    padding: 3em;
    > .as-icon{font-size: SZ(64);}
    > .as-text{
      display:block; padding:.5em;
      font-size:SZ(16);
      width:100%;
      text-align:center;
    }
  }
  //------------------------------------------
  &.as-big-mask {
    @include pos-abs-full;
    @include color($color-bar, r, c);
    @include flex-center;
    > .as-icon{font-size: SZ(64);}
    > .as-text{
      display:block; padding:.5em;
      font-size:SZ(16);
      width:100%;
      text-align:center;
    }
  }
  //------------------------------------------
  &.as-mid-tip {
    @include flex-align;
    @include color($color-track, c);
    font-size: SZ(14);
    justify-content: flex-start;
    padding: 2em;
  }
  //------------------------------------------
  &.as-mid-tip-mask {
    @include pos-abs-full;
    @include color($color-bar, r, c);
    @include flex-align;
    font-size: SZ(14);
    justify-content: flex-start;
    padding: 2em;
  }
}