.ti-input-color {
  @include flex-align-nowrap;
  //---------------------------------
  > .as-box {
    @include flex-align-nowrap($ai:stretch);
    @include border(1px, solid, dark);
    //-------------------------------
    > .as-color {
      @include flex-center;
      width:SZ(24); height:SZ(24); cursor:pointer;
      padding:SZ(1);
      overflow: hidden; position: relative;
      //-----------------------------
      .as-bg {
        display:block; flex:0 0 auto;
        width:100%; height:100%;
        transition: .3s;
      }
      //-----------------------------
      .as-fr {
        @include pos-abs-full(SZ(1)); 
      }
      //-----------------------------
    }
    //-------------------------------
    > .as-clear {
      @include flex-center;
      @include border(1px, solid, dark, left);
      cursor:pointer;
      padding:0 SZ(4); margin-left:1px;
      font-size:SZ(10);
      &:hover {
        @include color($color-secondary, r, c);
      }
    }
    //-------------------------------
    &:hover {
      border-color:map-get($color-secondary, c);
    }
    //-------------------------------
  } // > .as-box
  //---------------------------------
  &.is-empty > .as-box {
    //-------------------------------
    > .as-color {
      background-color:#FFF;
      u.as-bg {
        background-color:red; 
        height:SZ(3); width:200px;
        transform:rotate(45deg);
      }
      u.as-fr {display: none;}
    }
    //-------------------------------
    //> .as-clear {display: none;}
    //-------------------------------
    &:hover {
      > .as-color {
        u.as-bg {
          transform: rotate(360deg); width:SZ(8); height:SZ(8);
        }
      }
    }
    //-------------------------------
  }
  //---------------------------------
  &.is-valued > .as-box {
    > .as-color {
      u.as-bg {@include bg-chessboard(#888, SZ(11), #FFF);}
    }
    > .as-color:hover {
      u.as-bg {@include bg-chessboard(#888, SZ(9), #FFF);}
    }
  }
  //---------------------------------
  > .as-mask {
    @include pos-fixed-full;
  }
  //---------------------------------
  > .as-drop {
    @include color($color-body, r, c);
    @include border(1px, solid, dark);
    position: fixed;
    
  }
  //---------------------------------
}