.ti-form-grid {
  @include flex-align-v-nowrap($ai: stretch);
  position: relative;
  //--------------------------------------
  //
  //               ASIDE
  //            .form-setup
  //
  //--------------------------------------
  // No footer, then give a
  &.has-aside {
    // make sure spacing : bottom
    &.nil-footer {
      &.setup-menu-at-bottom-left,
      &.setup-menu-at-bottom-right {
        padding-bottom: SZ(36);
      }
    }
    // make sure spacing : bottom
    &.has-footer {
      &.setup-menu-at-bottom-left,
      &.setup-menu-at-bottom-right {
        > aside.form-setup[spacing="comfy"] {
          padding: SZ(12) SZ(4);
        }
      }
    }
  }
  //--------------------------------------
  > aside.form-setup {
    position: absolute;
    //------------------------------------
    &[at="top-left"] {
      top: 0;
      left: 0;
    }
    &[at="top-right"] {
      top: 0;
      right: 0;
    }
    &[at="bottom-left"] {
      bottom: 0;
      left: 0;
    }
    &[at="bottom-right"] {
      bottom: 0;
      right: 0;
    }
    //------------------------------------
    &[spacing="tiny"] {
      padding: SZ(3);
    }
    &[spacing="comfy"] {
      padding: SZ(4);
    }
    //------------------------------------
  }
  //--------------------------------------
  //
  //               HEADER
  //            .form-title
  //
  //--------------------------------------
  > header.form-title {
    @include flex-center;
    user-select: none;
    //------------------------------------
    &[spacing="tiny"] {
      font-size: 1.2em;
      padding: SZ(6);
      margin: SZ(6) 0 0 0;
      .title-icon {
        margin-right: SZ(6);
      }
    }
    //------------------------------------
    &[spacing="comfy"] {
      font-size: 1.4em;
      padding: SZ(12);
      margin: SZ(12) 0 0 0;
      .title-icon {
        margin-right: SZ(10);
      }
    }
    //------------------------------------
  }
  //--------------------------------------
  //
  //               MAIN
  //            .form-main
  //
  //--------------------------------------
  > main.form-main {
    flex: 1 1 auto;
    padding: 1px;
    //------------------------------------
    > section > .group-title {
      @include flex-align($ai: center, $ac: center);
      @include color($color-chip, r, c);
      border-left: 4px solid map-get($color-primary, c);
    }
    //------------------------------------
    &[spacing="tiny"] {
      > section {
        padding: SZ(4);
        > .group-title {
          padding: SZ(4) SZ(6);
          margin-bottom: SZ(4);
          .title-icon {
            margin-right: SZ(6);
          }
        }
      }
    }
    //------------------------------------
    &[spacing="comfy"] {
      > section {
        padding: SZ(10);
        > .group-title {
          padding: SZ(8) SZ(12);
          margin-bottom: SZ(8);
          .title-icon {
            margin-right: SZ(8);
          }
        }
      }
    }
    //------------------------------------
    &[mode="tab"] {
      @include flex-align-v-nowrap;
      //----------------------------------
      &[spacing="tiny"],
      &[spacing="comfy"] {
        padding: 0;
      }
      //----------------------------------
      > .tab-head {
        @include flex-align-nowrap($ai: stretch);
        user-select: none;
        //--------------------------------
        .tab-head-item {
          @include flex-align-nowrap($jc: center);
          @include border(1px, solid, shallow);
          @include color($color-track, c, r);
          border-collapse: collapse;
          cursor: pointer;
          //------------------------------
          &.is-current {
            @include color($color-primary, r, c);
            border-color: map-get($color-primary, c);
            cursor: default;
          }
          //------------------------------
        } // > .tab-head-item
        //--------------------------------
        &[spacing="tiny"] {
          padding: SZ(2);
          .tab-head-item {
            padding: SZ(4) SZ(8);
            .tab-icon {
              margin-right: SZ(6);
            }
          }
        }
        //--------------------------------
        &[spacing="comfy"] {
          padding: SZ(6);
          .tab-head-item {
            padding: SZ(6) SZ(12);
            .tab-icon {
              margin-right: SZ(8);
            }
          }
        }
        //--------------------------------
      } // > .tab-head
      //----------------------------------
      > .tab-body {
        overflow: auto;
        &.com-value-fit-parent {
          padding: 0;
          > .ti-form-grid-con,
          > .ti-form-grid-con > .field-value,
          > .ti-form-grid-con > .field-value > .field-value-com {
            height: 100%;
            padding: 0;
            overflow: hidden;
          }
        }
      }
      //----------------------------------
      &.tab-at-left > .tab-head {
        justify-content: flex-start;
      }
      &.tab-at-center > .tab-head {
        justify-content: center;
      }
      &.tab-at-right > .tab-head {
        justify-content: flex-end;
      }
      //----------------------------------
      &.tab-at-top > .tab-head {
        order: -1;
        @include border(1px, solid, shallow, bottom);
      }
      &.tab-at-bottom > .tab-head {
        order: 1;
        @include border(1px, solid, shallow, top);
      }
    }
    //------------------------------------
  } // > main.form-main {
  //--------------------------------------
  //
  //              FOOTER
  //           .form-actions
  //
  //--------------------------------------
  > footer.form-actions {
    @include border(1px, solid, shallow, top);
    //------------------------------------
    &[spacing="tiny"] {
      padding: SZ(6);
    }
    //------------------------------------
    &[spacing="comfy"] {
      padding: SZ(12);
    }
    //------------------------------------
  }
  //--------------------------------------
  //
  //              Scrolling
  //
  //--------------------------------------
  &[mode="flat"] {
    > main {
      flex: 1 1 auto;
      overflow: auto;
    }
  }
  //--------------------------------------
  &[mode="group"] {
    > main {
      flex: 1 1 auto;
      overflow: auto;
    }
  }
  //--------------------------------------
  &[mode="tab"] {
    > main {
      height: SZ(100); // Give a init value, then flex will extend it
      flex: 1 1 auto;
      //----------------------------------
      > section.tab-head {
        flex: 0 0 auto;
      }
      //----------------------------------
      > section.tab-body {
        flex: 1 1 auto;
        overflow: auto;
      }
      //----------------------------------
    }
  }
  //--------------------------------------
  //
  //         Color
  //
  //--------------------------------------
  &.is-paper {
    @include color($color-paper, r, c);
  }
  &.is-chip {
    @include color($color-chip, r, c);
  }
  &.is-cloak {
    @include color($color-cloak, r, c);
  }
  &.is-body {
    @include color($color-body, r, c);
  }
  &.is-bar {
    @include color($color-bar, r, c);
  }
  &.is-func {
    @include color($color-func, r, c);
  }
  &.is-ground-glass {
    @include color($color-ground-glass, r, c);
  }
  &.is-light {
    @include color($color-ground-glass, r, c);
  }
  //--------------------------------------
}
