.ti-form-grid {
  @include flex-align-v-nowrap($ai: stretch);
  //--------------------------------------
  //
  //               HEADER
  //            .form-title
  //
  //--------------------------------------
  > header.form-title {
    @include flex-center;
    user-select: none;
    //------------------------------------
    &[spacing="tiny"] {
      font-size: 1.2em;
      padding: SZ(6);
      margin: SZ(6) 0 0 0;
      .title-icon {
        margin-right: SZ(6);
      }
    }
    //------------------------------------
    &[spacing="comfy"] {
      font-size: 1.4em;
      padding: SZ(12);
      margin: SZ(12) 0 0 0;
      .title-icon {
        margin-right: SZ(10);
      }
    }
    //------------------------------------
  }
  //--------------------------------------
  //
  //               MAIN
  //            .form-main
  //
  //--------------------------------------
  > main.form-main {
    //------------------------------------
    > section > .group-title {
      @include flex-align($ai: center, $ac: center);
      @include color($color-chip, r, c);
    }
    //------------------------------------
    &[spacing="tiny"] {
      padding: SZ(4);
      > section {
        padding: SZ(4);
        > .group-title {
          padding: SZ(4) SZ(6);
          .title-icon {
            margin-right: SZ(6);
          }
        }
      }
    }
    //------------------------------------
    &[spacing="comfy"] {
      padding: SZ(10);
      > section {
        padding: SZ(10);
        > .group-title {
          padding: SZ(8) SZ(12);
          font-size: 1.2em;
          .title-icon {
            margin-right: SZ(8);
          }
        }
      }
    }
    //------------------------------------
    &[mode="tab"] {
      @include flex-align-v-nowrap;
      //----------------------------------
      &[spacing="tiny"],
      &[spacing="comfy"] {
        padding: 0;
      }
      //----------------------------------
      > .tab-head {
        @include flex-align-nowrap($ai: stretch);
        user-select: none;
        //--------------------------------
        .tab-head-item {
          @include flex-align-nowrap($jc: center);
          @include border(1px, solid, shallow);
          @include color($color-track, c, r);
          border-collapse: collapse;
          cursor: pointer;
          //------------------------------
          &.is-current {
            @include color($color-primary, r, c);
            border-color: map-get($color-primary, c);
            cursor: default;
          }
          //------------------------------
        } // > .tab-head-item
        //--------------------------------
        &[spacing="tiny"] {
          padding: SZ(2);
          .tab-head-item {
            padding: SZ(4) SZ(8);
            .tab-icon {
              margin-right: SZ(6);
            }
          }
        }
        //--------------------------------
        &[spacing="comfy"] {
          padding: SZ(6);
          .tab-head-item {
            padding: SZ(6) SZ(12);
            .tab-icon {
              margin-right: SZ(8);
            }
          }
        }
        //--------------------------------
      } // > .tab-head
      //----------------------------------
      > .tab-body {
        overflow: auto;
      }
      //----------------------------------
      &.tab-at-left > .tab-head {
        justify-content: flex-start;
      }
      &.tab-at-center > .tab-head {
        justify-content: center;
      }
      &.tab-at-right > .tab-head {
        justify-content: flex-end;
      }
      //----------------------------------
      &.tab-at-top > .tab-head {
        order: -1;
        @include border(1px, solid, shallow, bottom);
      }
      &.tab-at-bottom > .tab-head {
        order: 1;
        @include border(1px, solid, shallow, top);
      }
    }
    //------------------------------------
  } // > main.form-main {
  //--------------------------------------
  //
  //              FOOTER
  //           .form-actions
  //
  //--------------------------------------
  > footer.form-actions {
    @include border(1px, solid, shallow, top);
    //------------------------------------
    &[spacing="tiny"] {
      padding: SZ(6);
    }
    //------------------------------------
    &[spacing="comfy"] {
      padding: SZ(12);
    }
    //------------------------------------
  }
  //--------------------------------------
  //
  //              Scrolling
  //
  //--------------------------------------
  &[mode="flat"] {
    > main {
      flex: 1 1 auto;
      overflow: auto;
    }
  }
  //--------------------------------------
  &[mode="group"] {
    > main {
      flex: 1 1 auto;
      overflow: auto;
    }
  }
  //--------------------------------------
  &[mode="tab"] {
    > main {
      height: SZ(100); // Give a init value, then flex will extend it
      flex: 1 1 auto;
      //----------------------------------
      > section.tab-head {
        flex: 0 0 auto;
      }
      //----------------------------------
      > section.tab-body {
        flex: 1 1 auto;
        overflow: auto;
      }
      //----------------------------------
    }
  }
  //--------------------------------------
}
