/////////////////////////////////////////////////////
// Jumper
/////////////////////////////////////////////////////
.ti-paging-jumper {
  @include flex-center;
  @include noselect;
  padding:SZ(6); font-size:SZ(12);
  //-------------------------------------
  .pj-btn {
    @include border(1px, solid, dark);
    @include flex-align-nowrap;
    padding:0 SZ(6); margin:0 4px;
    line-height: 2em;
    &.is-disabled {
      opacity: 0.2; cursor: default;
    }
    &.is-enabled {
      @include fireable;
    }
    > .it-text {margin:0 SZ(4);}
  }
  //-------------------------------------
  .pj-current {
    min-width: 4em; padding:0 SZ(2);
    text-align: center;
    &.is-disabled {
      opacity: 0.2; cursor: default;
    }
    &.is-enabled {
      cursor:pointer;
      &:hover {
        @include color($color-primary, c);
        text-decoration: underline;
      }
    }
  }
  //-------------------------------------
  .pj-sum {
    @include color($color-track, c);
    font-size:.9em; padding:0 SZ(4);
    white-space: nowrap;
    &.is-disabled {
      opacity: 0.2; cursor: default;
    }
    &.is-enabled {
      cursor:pointer;
      &:hover {
        @include color($color-primary, c);
        text-decoration: underline;
      }
    }
  }
  //-------------------------------------
}
/////////////////////////////////////////////////////
// Buttons
/////////////////////////////////////////////////////
.ti-paging-button {
  @include noselect;
  @include flex-center;
  padding: .5em;
  //-------------------------------------
  .as-pg-btn {
    @include color($color-primary, r, c);
    cursor: pointer; padding: .5em .6em;
    margin:0 .2em;
    &:hover {
      @include color($color-secondary, r, c);
    }
    &.is-current {
      @include color($color-primary, c, r);
      cursor: default;
      font-weight: bold; font-size: 1.2em;
    }
  }
  //-------------------------------------
  .as-ellipsis {
    margin:0 1em;
  }
  //-------------------------------------
  &.is-first .as-pg-btn.is-prev {
    @include color($color-disable, r, c); cursor: default;
  }
  //-------------------------------------
  &.is-last .as-pg-btn.is-next {
    @include color($color-disable, r, c); cursor: default;
  }
  //-------------------------------------
}
/////////////////////////////////////////////////////