.ti-obj-thumb {
  //----------------------------------------------
  @include noselect();
  width:SZ(100); border:1px solid transparent;
  position:relative;
  //----------------------------------------------
  > header {
    @include flex-center;
    position:relative;
    padding-bottom:SZ(5);
    //--------------------------------------------
    > .as-preview {
      @include flex-full-center;
      position:relative;
      width:SZ(80); height:SZ(80);
      padding:SZ(4); border-radius:SZ(4);
      //------------------------------------------
      > img {
        object-fit: contain;
        width:100%; height:100%;
        display:block;
      }
      //------------------------------------------
      > .as-badge {
        font-size: SZ(12); opacity: 0.6;
        //----------------------------------------
        $bdgPad : SZ(6);
        //----------------------------------------
        &.at-nw {@include pos-abs($t:$bdgPad, $l:$bdgPad);}
        &.at-ne {@include pos-abs($t:$bdgPad, $r:$bdgPad);}
        &.at-sw {@include pos-abs($b:$bdgPad, $l:$bdgPad);}
        &.at-se {@include pos-abs($b:$bdgPad, $r:$bdgPad);}
        //----------------------------------------
      }
      //------------------------------------------
    }
    //--------------------------------------------
    > .as-progress {
      @include pos-abs($l:0,$r:0,$b:0);
    }
    //--------------------------------------------
  }
  //----------------------------------------------
  > .as-status {
    @include pos-abs-full;
    @include flex-center;
    @include color($color-mask, r, thin);
    opacity: 0.8;
  }
  //----------------------------------------------
  &.is-status-done       > .as-status{@include color($color-success, r, c);}
  &.is-status-loading    > .as-status{@include color($color-primary, r, c);}
  &.is-status-processing > .as-status{@include color($color-secondary, r, c);}
  &.is-status-error      > .as-status{@include color($color-error, r, c);}
  &.is-status-warn       > .as-status{@include color($color-warn, r, c);}
  &.is-status-removed    > .as-status{@include color($color-text, r, c);}
  &.is-status-ok         > .as-status{@include color($color-info, r, c);}
  //----------------------------------------------
  > footer {
    padding:SZ(4);
    text-align:center;
    //--------------------------------------------
    > .as-title {
      height:3.3em; line-height:1.1em;
      overflow:hidden; word-break: break-all;
      font-size:1em;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      -moz-box-orient: vertical;
      -moz-line-clamp: 3;
      //------------------------------------------
      // zozoh: Maybe I need read:
      // https://css-tricks.com/almanac/properties/l/line-clamp/
      // for more detail to support the Firefox
      > a {
        @include color($color-body, r);
        &:hover {
          @include color($color-primary, c);
        }
      }
      //------------------------------------------
    }
    //--------------------------------------------
  }
  //----------------------------------------------
  &.is-removed {opacity:0.4;}
  &.is-weak {opacity:0.4;}
  &.is-hide {display:none;}
  //----------------------------------------------
  $ICONSZ : SZ(24);
  > .as-remove {
    @include pos-abs($t:$ICONSZ/-2,$r:$ICONSZ/-2,$w:$ICONSZ,$h:$ICONSZ);
    @include color($color-primary, r, c);
    @include flex-center;
    cursor:pointer; font-size:SZ(8);
    border-radius: 50%; opacity: 0.6;
    //--------------------------------------------
    .ti-icon {transition: 0.3s;}
    //--------------------------------------------
    &:hover {
      @include color($color-error, r, c);
      opacity: 1;
      .ti-icon {transform: rotate(180deg) scale(1.2);}
    }
    //--------------------------------------------
  }
  //----------------------------------------------
}
//------------------------------------------------
// For selected
.is-selected .ti-obj-thumb {
  > footer > .as-title > a {
    @include color($color-weaktip, r);
  }
}
//------------------------------------------------