.ti-button {
  @include noselect;
  //---------------------------------------------
  ul {
    @include raw-list;
    @include flex-align-nowrap;
    flex:1 1 auto;
  }
  //---------------------------------------------
  li {
    flex:0 0 auto; 
    padding:0 1em;
    height: 2.6em;
    @include flex-align-nowrap($jc:center); 
    //------------------------------
    &.min-width-2 {min-width: 2em;}
    &.min-width-3 {min-width: 3em;}
    &.min-width-4 {min-width: 4em;}
    &.min-width-5 {min-width: 5em;}
    &.min-width-6 {min-width: 6em;}
    &.min-width-7 {min-width: 7em;}
    &.min-width-8 {min-width: 8em;}
    &.min-width-9 {min-width: 9em;}
    //------------------------------
    > span {display: block;}
    //------------------------------
    margin-left:1px;
    &:first-child {margin-left:0;}
    //------------------------------
    &.is-invert-icon {
      .it-text {order:-1;}
    }
    //------------------------------
    &.is-enabled {@include fireable;}
    &.is-disabled {
      @include color($color-disable, r, c);
      opacity: 0.8; cursor: default;
    }
    //------------------------------
    .ti-icon .icon-icon > i {font-size:1.2em;}
    //------------------------------
    &.is-chip {@include color($color-chip, r, c);}
    &.is-func {@include color($color-func, r, c);}
    &.is-bar {@include color($color-bar, r, c);}
    //------------------------------
  }
  //---------------------------------------------
  &.flex-auto {
    li{flex:1 1 auto;}
  }
  //---------------------------------------------
  &.btn-r4  li {border-radius: SZ(4);}
  &.btn-r6  li {border-radius: SZ(6);}
  &.btn-r8  li {border-radius: SZ(8);}
  &.btn-r10 li {border-radius: SZ(10);}
  //---------------------------------------------
  &.as-vertical ul {
    align-items: stretch;
    flex-direction: column; 
    flex-wrap: nowrap;
    li {
      margin: SZ(10) 0;
    }
  }
  //---------------------------------------------
  &.is-big {
    li {
      font-size:1.6em;
      .it-text {padding:0 SZ(12);}
    }
  }
  //---------------------------------------------
  &.is-normal {
    li {
      font-size:1.2em;
      .it-text {padding:0 SZ(8);}
    }
  }
  //---------------------------------------------
  &.is-small {
    li {
      font-size:1em;
      .it-text {padding:0 SZ(4);}
    }
  }
  //---------------------------------------------
  &.is-tiny {
    li {
      font-size:.8em;
      .it-text {padding:0 SZ(4);}
    }
  }
  //---------------------------------------------
  &.at-center ul {@include flex-center;}
  &.at-left   ul {@include flex-center($jc:flex-start);}
  &.at-top    ul {@include flex-center($ac:flex-start);}
  &.at-bottom ul {@include flex-center($ac:flex-end);}
  &.at-right  ul {@include flex-center($jc:flex-end);}
  //---------------------------------------------
  &.at-left-top     ul {@include flex($jc:flex-start,$ac:flex-start);}
  &.at-right-top    ul {@include flex($jc:flex-end  ,$ac:flex-start);}
  &.at-bottom-left  ul {@include flex($jc:flex-start,$ac:flex-end);}
  &.at-bottom-right ul {@include flex($jc:flex-end  ,$ac:flex-end);}
  //---------------------------------------------
}