.ti-form {
  position: relative;
  overflow: auto; padding:1px;
  //////////////////////////////////////
  > .form-header {
    @include noselect;
    @include flex-center;
    @include border(1px, solid, shallow, bottom);
    text-align: center; white-space: nowrap;
    font-size:1.4em; line-height: 2.4em; font-weight: 400;
    > .it-icon {padding:0 .5em;}
  }
  //////////////////////////////////////
  > .form-tab {
    @include noselect;
    ul {
      @include flex-align-nowrap;
    }
    li {
      @include flex-align-nowrap;
      padding:SZ(6) SZ(12); cursor: pointer;
      white-space: nowrap; 
      > .tab-icon {
        padding:0 SZ(6) 0 0;
      }
      &:hover {
        @include color($color-weaktip, r, c);
      }
      &.is-current {
        @include color($color-primary, r, c);
      }
    }
  }
  //////////////////////////////////////
  > .form-body {
    //----------------------------------
    > .form-group {
      &:last-child {
        border:0
      }
      > .group-title {
        @include noselect;
        @include flex-align-nowrap;
        @include border(1px, solid, shallow);
        @include color($color-bar, r, c);
        > .ti-icon {margin-right:SZ(8); opacity: 0.4;}
      }
      // .group-fields {
      // }
      //--------------------------------
      &.as-columns {
        @include flex-align-nowrap($ai:stretch, $ac:stretch);
        > .group-title {
          span {writing-mode:vertical-lr;}
        }
        > .group-fields {
          @include flex-align-nowrap;
        }
      }
      //--------------------------------
    }
    //----------------------------------
    > .form-group > .group-fields > .form-field,
    > .form-field {
      position: relative;
      //--------------------------------
      transition: all .5s;
      //--------------------------------
      &.no-padding {padding:0;}
      //--------------------------------
      &.is-spinning {@include color($color-track,   r);}
      &.is-error    {@include color($color-error,   r);}
      &.is-warn     {@include color($color-warn,    r);}
      &.is-ok       {@include color($color-success, r);}
      //--------------------------------
      &.is-disabled {
        opacity: 0.4;
        position: relative;
        &:after {
          @include pos-abs-full;
          display:block; content:"";
          z-index:$z-mask;
          background:rgba(10,10,10,0.1);
        }
      }
      //--------------------------------
      > .field-value {
        @include flex-align;
        flex:1 1 auto;
        //------------------------------
        > .field-component {
          @include flex-align($ai:center);
          &.is-size-auto    {flex:0 0 auto;}
          &.is-size-stretch {flex:1 1 auto;}
          &.is-size-full    {width:100%;}
          &.is-size-fixed   {}
          > .full-field {width:100%;} 
        }
        //------------------------------
        > .field-tip {
          @include flex-align-center;
          padding:4px;
          font-size:12px; line-height: 1.2em;
          color:map-get($color-track, c);
        }
        //------------------------------
      }
      //--------------------------------
      &.as-desktop, &.as-tablet {
        @include flex-align-nowrap($ai:stretch,$ac:stretch);
        @include border(1px, dashed, shallow, top);
        &:first-child {border:0;}
        > .field-name  {
          @include flex-align-nowrap($ai:flex-start,$ac:flex-start);
          position: relative;
          flex:0 0 auto;
          line-height: 2.6em;
          padding:0 SZ(10) 0 SZ(26);
          > .name-status {
            @include pos-abs($l:0,$t:0,$w:SZ(24));
            @include flex-center;
            padding:SZ(2) SZ(2) 0 0;
            height: 2.6em;
          }
          > .name-icon {
            @include flex-align($jc:flex-end);
            padding:0 SZ(4) 0 SZ(4);
            height: 2.6em;
          }
          > .name-title {
            flex: 1 1 auto;
            white-space: nowrap;
            text-align: right;
          }
        }
        &.no-status-icon {
          > .field-name {padding-left:SZ(4);}
        }
      }
      //------------------------
      &.as-phone {
        > .field-name {
          @include flex-align-nowrap;
          @include border(1px, solid, shallow, bottom);
          > .name-icon   {order: 1; padding:0 SZ(6);}
          > .name-title  {order: 2;}
          > .name-status {order: 3;}
        }
        > .field-value {
          padding:SZ(10) 0;
        }
      }
      //------------------------
    } // ~.form-field {
  } // ~ .form-body
  //////////////////////////////////////
  &.as-spacing-comfy {
    padding:SZ(20);
    > .form-body {
      //------------------------------
      > .form-group {
        > .group-title {line-height:2.4em;padding:0 SZ(10);}
        > .group-fields {padding:SZ(8) 0 SZ(16) 0;}
      }
      //------------------------------
      .form-field {
        padding:SZ(8);
        &.no-padding {padding:0;}
      }
      //------------------------------
    }
  }
  //////////////////////////////////////
  &.as-spacing-tiny {
    padding:SZ(10);
    > .form-body {
      //------------------------------
      > .form-group {
        > .group-title {line-height:2em;padding:0 SZ(6);}
        > .group-fields {padding:SZ(4) 0 SZ(4) 0;}
      }
      //------------------------------
      .form-field {
        padding:SZ(4);
        &.no-padding {padding:0;}
      }
      //------------------------------
    }
  }
  //////////////////////////////////////
  &.is-tab-mode {
    @include flex-align-v-nowrap;
    width:100%; height:100%; padding:0;
    //----------------------------------
    &.tab-at-top > .form-tab {
      @include border(1px, solid, shallow, bottom);
      padding:SZ(4) SZ(10) 0 SZ(10);
    }
    &.tab-at-bottom > .form-tab {
      @include border(1px, solid, shallow, top);
      padding:0 SZ(10) SZ(4) SZ(10); order:2;
    }
    //----------------------------------
    &.tab-at-left   > .form-tab {@include flex($jc:flex-start);}
    &.tab-at-center > .form-tab {@include flex($jc:center);}
    &.tab-at-right  > .form-tab {@include flex($jc:fllex-end);}
    //----------------------------------
    > .form-body {
      flex:1 1 auto; height:100px;
      overflow: auto;
      padding:SZ(10);
    }
    //----------------------------------
  }
  //////////////////////////////////////
  &.is-tab-mode {
    //----------------------------------
    &.auto-fit-tab-field > .form-body.has-1-fields > .form-field {
      width: 100%; height:100%; padding:0; margin:0;
      overflow: hidden;
    }
    //----------------------------------
    &.no-pad-tab-body > .form-body.has-1-fields {
      padding: 0;
    }
    //----------------------------------
  }
  //////////////////////////////////////
}
