.ti-text-code-ace {
  user-select: text;
  //---------------------------------------------------------
  > .as-editor {
    width: 100%; height:100%; 
    font-size: 14px; 
  }
  //---------------------------------------------------------
}