.ti-list {
  @include noselect;
  overflow: auto;
  position: relative;
  //------------------------------------------
  &.show-border {
    > .list-row {
      @include border(1px, solid, shallow, top);
      &:first-child {
        border-top: 0;
      }
    }
  }
  //------------------------------------------
  &.is-hoverable {
    > .list-row.is-selectable:hover {
      @include color($color-weaktip, r, c);
      //--------------------------------------
      &.is-current {
        > .row-actived-indicator {
          @include color($color-weaktip, c, r);
          &:before {
            border-left-color: map-get($color-weaktip, c);
            border-right-color: map-get($color-weaktip, c);
            opacity: 1;
          }
        }
      }
      //--------------------------------------
      &.is-checked {
        @include color($color-primary, r, c);
      }
      //--------------------------------------
    }
  }
  //------------------------------------------
  > .list-row {
    @include flex-align-nowrap($ai: stretch);
    position: relative;
    //-----------------------------------------
    &.is-group {
      @include color($color-chip, r, c);
      padding: SZ(4) SZ(8);
    }
    //-----------------------------------------
    &.is-weak {
      opacity: 0.4;
    }
    //-----------------------------------------
    > .row-actived-indicator {
      @include flex-center;
      width: 8px;
      padding-right: 1px;
      opacity: 0;
      &:before {
        display: block;
        content: "";
        height: SZ(12);
        width: 1px;
        border-left: 1px dotted map-get($color-primary, r);
        border-right: 1px dotted map-get($color-primary, r);
      }
    }
    //-----------------------------------------
    > .row-changed-indicator {
      @include pos-abs($r: 0, $t: 0, $b: 0);
      @include flex-center;
      padding: 0.04rem 0.08rem;
      &:before {
        display: block;
        content: "";
        width: 0.04rem;
        height: 0.04rem;
        border-radius: 50%;
        background: map-get($color-error, c);
        border: 1px solid map-get($color-error, r);
        box-shadow: 0.02rem 0.02rem 0.06rem map-get($color-shadow, thin);
      }
    }
    //-----------------------------------------
    .row-indent,
    .row-icon {
      @include flex-center;
      width: SZ(16);
    }
    //-----------------------------------------
    .row-icon,
    .row-checker {
      cursor: pointer;
      &:hover {
        @include color($color-secondary, c);
      }
    }
    //-----------------------------------------
    .row-checker {
      margin: 0 SZ(6);
    }
    //----------------------------------------
    &.is-current {
      > .row-actived-indicator {
        color: map-get($color-primary, c);
        opacity: 1;
      }
    }
    //----------------------------------------
    &.is-checked {
      @include color($color-primary, r, c);
      a,
      a:hover {
        color: inherit;
      }
      //--------------------------------------
      &.is-current > .row-actived-indicator {
        color: map-get($color-primary, r);
        opacity: 1;
      }
      //--------------------------------------
    }
    //----------------------------------------
    > .row-number {
      @include flex-center;
      @include font-fixed;
      font-size: SZ(10);
      opacity: 0.6;
      padding: 0 SZ(2);
      &::after {
        display: inline;
        content: ".";
      }
    }
    //----------------------------------------
    > .row-con {
      @include flex-align-center($wp: nowrap);
      flex: 1 1 auto;
      line-height: 2.6em;
      min-height: 2.6em;
      //--------------------------------------
      .ti-icon {
        width: SZ(26);
        flex: 0 0 auto;
        &.is-image {
          height: SZ(26);
        }
        &.icon-w32 {
          width: SZ(32);
        }
        &.icon-w36 {
          width: SZ(36);
        }
        &.icon-w42 {
          width: SZ(42);
        }
        &.icon-w48 {
          width: SZ(48);
        }
      }
      //--------------------------------------
    }
    //-----------------------------------------
    @mixin row-status-color($color: null) {
      @include color($color, c);
      &.is-checked {
        @include color($color, r, c);
        > td {
          border-color: map-get($color, r);
        }
      }
    }
    @mixin row-status-color-r($color: null) {
      @include color($color, r, c);
      td a {
        color: inherit;
      }
      &.is-checked {
        font-weight: bold;
        background-color: map-get($color-page, r);
        color: map-get($color, c);
      }
    }
    @mixin row-status-color2($color: null) {
      @include color($color, r);
      &.is-checked {
        @include color($color-page, c, r);
        > td {
          border-color: map-get($color, c);
        }
      }
    }
    //-----------------------------------------
    //
    //               Status Color
    //
    //-----------------------------------------
    &.is-primary {
      @include row-status-color($color-primary);
    }
    &.is-primary-r {
      @include row-status-color-r($color-primary);
    }
    //-----------------------------------------
    &.is-secondary {
      @include row-status-color($color-secondary);
    }
    &.is-secondary-r {
      @include row-status-color-r($color-secondary);
    }
    //-----------------------------------------
    &.is-success {
      @include row-status-color($color-success);
    }
    &.is-success-r {
      @include row-status-color-r($color-success);
    }
    //-----------------------------------------
    &.is-warn {
      @include row-status-color($color-warn);
    }
    &.is-warn-r {
      @include row-status-color-r($color-warn);
    }
    //-----------------------------------------
    &.is-info {
      @include row-status-color($color-info);
    }
    &.is-info-r {
      @include row-status-color-r($color-info);
    }
    //-----------------------------------------
    &.is-error {
      @include row-status-color($color-error);
    }
    &.is-error-r {
      @include row-status-color-r($color-error);
    }
    //-----------------------------------------
    &.is-track {
      @include row-status-color($color-track);
    }
    &.is-track-r {
      @include row-status-color-r($color-track);
    }
    //-----------------------------------------
    &.is-disable {
      @include row-status-color($color-disable);
    }
    &.is-disable-r {
      @include row-status-color-r($color-disable);
    }
    //-----------------------------------------
    &.is-delete {
      text-decoration: line-through;
    }
    //-----------------------------------------
    &.is-italic {
      font-style: italic;
    }
    //-----------------------------------------
    &.is-text {
      @include row-status-color($color-text);
    }
    //-----------------------------------------
    &.is-number {
      @include row-status-color($color-number);
    }
    //-----------------------------------------
    &.is-paper {
      @include row-status-color2($color-paper);
    }
    //-----------------------------------------
    &.is-boldtip {
      @include row-status-color2($color-boldtip);
    }
    //-----------------------------------------
    &.is-boldtip-r {
      @include row-status-color-r($color-boldtip);
    }
    //----------------------------------------
  }
  //------------------------------------------
  //
  //  Grid View
  //
  //------------------------------------------
  &.as-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    justify-items: stretch;
    align-items: stretch;
    align-content: start;
    grid-gap: 1px;
    //----------------------------------------
    > .list-row.is-group {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    //----------------------------------------
    &.col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    //----------------------------------------
    &.col-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    //----------------------------------------
    &.col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    //----------------------------------------
    &.col-5 {
      grid-template-columns: repeat(5, 1fr);
    } //----------------------------------------
    &.col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  //------------------------------------------
}
