.ti-actionbar {
  //////////////////////////////////////////////////
  @include noselect;
  @include flex-align-nowrap;
  @include font-nice;
  &.align-left   {justify-content: flex-start;}
  &.align-center {justify-content: center;}
  &.align-right  {justify-content: flex-end;}
  //////////////////////////////////////////////////
  .bar-item-group {
    //----------------------------------------------
    // The top-bar items
    &.is-depth-0 {
      //--------------------------------------------
      > .as-children {
        @include flex-align-nowrap;
      }
      //--------------------------------------------
    }
    //----------------------------------------------
    // The sub-bar items
    &.is-depth-1 {
      //--------------------------------------------
      > .as-mask {
        @include pos-fixed-full;
        display:block; content:"";
        background-color:rgba(0,0,0,0);
        z-index: $z-mask;
      }
      //--------------------------------------------
      > .as-children {
        @include color($color-chip, r, c);
        border:1px solid map-get($color-primary, c);
        box-shadow: 4px 6px 10px map-get($color-shadow, c);
        z-index: $z-menu;
        padding:1px; min-width: SZ(150);
      }
      //--------------------------------------------
    }
    //----------------------------------------------
    &.is-extended {
      > .bar-item-info {
        @include color($color-primary, r, c);
      }
    }
    //----------------------------------------------
  }
  //////////////////////////////////////////////////
  .bar-item-line {
    @include color($color-line, null, shallow);
    &.is-top {
      width:1px; height:SZ(20); overflow:hidden;
      margin:0 SZ(2);
    }
    &.is-sub {
      height:1px; overflow:hidden;
      margin:SZ(4) 0;
    }
  }
  //////////////////////////////////////////////////
  .bar-item-info {
    @include flex-align-nowrap;
    //----------------------------------------------
    &.is-disabled {@include disabled;}
    &.is-enabled  {@include fireable(null, $color-primary);}
    &.is-highlight {@include color($color-weaktip, r, c);}
    //----------------------------------------------
    .as-icon {
      @include flex-center;
    }
    //----------------------------------------------
    .as-text {
      white-space: nowrap;
    }
    //---------------------------------------
    .as-shortcut {
      flex:1 1 auto;
      padding-left:2em;
      text-align:right;
      font-size:.8em; opacity: 0.6;
    }
    //----------------------------------------------
    &.is-top {
      padding:0 .6em;
      height:2.4em; line-height:2.4em;
      &.has-icon > .as-text {margin-left:.4em;}
    }
    //----------------------------------------------
    &.is-sub {
      padding:0 1em 0 .5em;
      height:2.4em; line-height:2.4em;
      //--------------------------------------------
      &.no-icon.hide-icon {
        padding-left:1em;
      }
      //--------------------------------------------
      .as-icon {width:2.4em;}
      //--------------------------------------------
    }
    //----------------------------------------------
  }
  //////////////////////////////////////////////////
} // ~.ti-actionbar {