.ti-logging {
  width:100%; height:100%;

  pre {
    @include color($color-mask, r, heavy);
    @include font-fixed;
    line-height: 1.6em;
    padding: SZ(10); margin:0;
    width:100%; height:100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}