.ti-text-json-tree {
  //-----------------------------------------------
  // Reset table row contains
  &.ti-table > .table-body .table-cell > .cell-con {
    padding:0;
  }
  //-----------------------------------------------
  .json-value {
    @include font-fixed;
    @include flex-align-nowrap($ai:stretch);
    position: relative; flex:1 1 auto; 
    //---------------------------------------------
    > .as-actions {
      @include pos-abs($t:0,$b:0,$r:0);
      @include color($color-primary, r, c);
      padding:SZ(4) SZ(4);
      font-size:.8em; 
      .bar-item-info {
        &.is-enabled:hover {
          @include color($color-secondary, r, c);
        }
      }
    }
    //---------------------------------------------
    > .as-label {
      opacity: 0.4;  padding:0 SZ(4);
    }
    //---------------------------------------------
  }
  //-----------------------------------------------
  .ti-label {
    &.is-string {
      @include color($color-text, c);
    }
    &.is-integer,
    &.is-float,
    &.is-number {
      @include color($color-number, c);
    }
    &.is-index {
      @include color($color-secondary, c);
    }
  }
  //-----------------------------------------------
  // Highlight row style
  .table-row.is-checked {
    //---------------------------------------------
    .json-value {
      color:inherit; flex:1 1 auto; 
    }
    //---------------------------------------------
    .ti-label {
      color:inherit;
    }
    //---------------------------------------------
  }
  //-----------------------------------------------
}