.ti-tags {
  @include noselect;
  @include flex-align($ai:stretch,$ac:stretch);
  padding:SZ(2);
  //-------------------------------------------
  &.nil-items {
    @include flex-center;
    padding:0; font-size: 0.9em;
    opacity: 0.4;
  }
  //-------------------------------------------
}
//---------------------------------------------
.ti-tags-item {
  @include flex-align-nowrap($ai:stretch);
  @include color($color-primary, r, c);
  overflow: hidden; padding: 0; 
  border-radius: 6px; margin:SZ(2);
  line-height: 2em; 
  white-space: nowrap;
  //-------------------------------------------
  &.has-options {
    cursor: pointer;
  }
  //-------------------------------------------
  > .as-del {
    padding:0 SZ(4); cursor: pointer;
    .icon-icon {
      transition: .3s; opacity: .6;
    }
  }
  //-------------------------------------------
  > .as-icon {
    padding:0 SZ(6);
    &.ti-icon {
      img {
        height: SZ(20); border-radius: 50%;
      }
    }
  }
  //-------------------------------------------
  > .as-text {
    @include flex-center;
    color: inherit; text-decoration: inherit;
    padding:0;
    &:hover {text-decoration: inherit;}
    &.without-icon    {padding-left:SZ(8);}
    &.without-options {padding-right:SZ(8);}
  }
  //-------------------------------------------
  > .as-mark {
    @include color($color-secondary, c);
    @include flex-center;
    font-weight: bold;
    padding:0 SZ(2);
  }
  //-------------------------------------------
  > .as-status {
    padding:0 SZ(6);
  }
  //-------------------------------------------
  &.is-enter-top {
    @include color($color-secondary, r, c);
  }
  &.is-enter-del > .as-del {
    @include color($color-secondary, r, c);
    .icon-icon {
      transform: rotate(180deg);
      opacity: 1;
    }
  }
  //-------------------------------------------
  > .as-mask {
    @include pos-fixed-full;
    z-index:$z-mask + 2;
  }
  //-------------------------------------------
  > .as-drop {
    @include color($color-chip, r, c);
    position: fixed; z-index:$z-mask + 3;
    padding:1px; overflow: hidden;
    border-radius: 6px; 
    //-----------------------------------------
    > .ti-icon-text {
      @include border(1px, solid, shallow, top);
      &:first-child {border-top:0}
      padding:SZ(4) SZ(10);
      cursor: pointer;
      &:hover {
        @include color($color-secondary, r, c);
      }
    }
    //-----------------------------------------
  }
  //-------------------------------------------
}
//---------------------------------------------