.ti-form-grid-con {
  //--------------------------------------
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: stretch;
  grid-gap: 1px;
  //--------------------------------------
  &.is-field-border-dashed > .grid-item {
    border-bottom: 1px dashed map-get($color-line, shallow);
  }
  &.is-field-border-solid > .grid-item {
    border-bottom: 1px solid map-get($color-line, shallow);
  }
  &.is-field-border-dotted > .grid-item {
    border-bottom: 1px dotted map-get($color-line, shallow);
  }
  //--------------------------------------
  > .grid-item {
    display: flex;
    //------------------------------------
    &[name-wrap="nowrap"] {
      flex-wrap: nowrap;
      align-items: stretch;
      justify-content: flex-start;
      //----------------------------------
      > .field-name {
        flex: 0 0 auto;
      }
      > .field-value {
        flex: 1 1 auto;
      }
      //----------------------------------
    }
    //------------------------------------
    &[name-wrap="wrap"] {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      //----------------------------------
      > .field-name {
        flex: 0 0 auto;
      }
      > .field-value {
        flex: 0 0 auto;
      }
      //----------------------------------
    }
    //------------------------------------
    &[name-wrap="auto"] {
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: stretch;
      //----------------------------------
      > .field-name {
        flex: 0 0 auto;
      }
      > .field-value {
        flex: 1 1 auto;
      }
      //----------------------------------
    }
    //------------------------------------
    > .field-label {
      flex: 1 1 auto;
      @include flex-align-nowrap;
      @include color($color-bar, r, c);
      margin: SZ(4) 0;
    }
    //------------------------------------
    > .field-name {
      @include flex-align-nowrap;
      position: relative;
      //----------------------------------
      &.mark-weak {
        @include color($color-bar, r, c);
      }
      &.mark-bold {
        @include color($color-chip, r, c);
        font-weight: bold;
      }
      //----------------------------------
      &[name-align="left"] {
        justify-content: flex-start;
        > .field-status {
          right: 0;
        }
      }
      &[name-align="right"] {
        justify-content: flex-end;
        > .field-status {
          left: 0;
        }
      }
      &[name-align="center"] {
        justify-content: center;
        > .field-status {
          right: 0;
        }
      }
      //----------------------------------
      &[name-v-align="top"] {
        align-items: flex-start;
        > .field-name-con {
          margin-top: SZ(8);
        }
      }
      &[name-v-align="bottom"] {
        align-items: flex-end;
        > .field-name-con {
          margin-bottom: SZ(8);
        }
      }
      &[name-v-align="center"] {
        align-items: center;
      }
      //----------------------------------
      .field-name-con {
        @include flex-align-nowrap;
        //--------------------------------
        > .field-required {
          font-weight: bold;
          font-size: SZ(20);
          margin-right: SZ(4);
          text-align: left;
          color: map-get($color-secondary, c);
        }
        //--------------------------------
        &::after {
          display: inline;
          content: ":";
          opacity: 0.6;
        }
      }
      //----------------------------------
      > .field-status {
        @include flex-center;
        position: absolute;
        top: 0;
        bottom: 0;
        width: SZ(24);
      }
      //----------------------------------
    }
    //------------------------------------
    > .field-value {
      display: flex;
      position: relative;
      //------------------------------------
      &[value-wrap="nowrap"] {
        @include flex-align-nowrap;
        //----------------------------------
        > .field-value-com {
          flex: 1 1 auto;
        }
        > .field-value-tip {
          flex: 0 0 auto;
        }
        //----------------------------------
      }
      //------------------------------------
      &[value-wrap="wrap"] {
        @include flex-align-v-nowrap;
      }
      //------------------------------------
      &[value-wrap="auto"] {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        //----------------------------------
        > .field-value-com {
          flex: 1 1 auto;
        }
        > .field-value-tip {
          flex: 0 0 auto;
        }
        //----------------------------------
      }
      //------------------------------------
      > .field-value-com {
        @include flex-align-nowrap($jc: stretch);
        > .full-field {
          flex: 1 1 auto;
        }
      }
      //------------------------------------
      > .field-value-tip {
        font-size: 0.9em;
        opacity: 0.6;
        max-width: 100%;
        word-break: break-all;
        text-align: justify;
        padding: SZ(4);
      }
      //------------------------------------
      // Show status when .field-name is hidden
      > .field-status {
        @include flex-center;
        background-color: map-get($color-cloak, c);
        position: absolute;
        left: 0;
        top: 0;
        width: SZ(32);
        height: SZ(32);
      }
      //------------------------------------
    }
    //------------------------------------
    &.is-spinning {
      @include color($color-primary, c);
    }
    &.is-ok {
      @include color($color-success, c);
    }
    &.is-error {
      @include color($color-error, c);
    }
    &.is-warn {
      @include color($color-warn, c);
    }
    &.is-info {
      @include color($color-info, c);
    }
    &.is-track {
      @include color($color-track, c);
    }
    //------------------------------------
  } // ~ End of .grid-item
  //--------------------------------------
}
//----------------------------------------
//
//               SPACING
//
//----------------------------------------
.ti-form-grid[spacing="tiny"] > main > section > .ti-form-grid-con {
  > .grid-item {
    > .field-label,
    > .field-name {
      padding: SZ(3) SZ(6);
      .field-icon {
        margin-right: SZ(3);
      }
    }
    > .field-value {
      padding: SZ(2);
    }
  }
}
//----------------------------------------
.ti-form-grid[spacing="comfy"] > main > section > .ti-form-grid-con {
  > .grid-item {
    > .field-label,
    > .field-name {
      padding: SZ(12);
      .field-icon {
        margin-right: SZ(6);
      }
    }
    > .field-value {
      padding: SZ(6);
    }
  }
}
