.ti-upload-file-box {
  border-radius: SZ(4);
  overflow: hidden;
  //-----------------------------------------
  &.show-border {
    @include border(1px, solid, dark);
  }

  //-----------------------------------------
  &.is-readonly {
    @include color($color-bar, r, c);
  }

  //---------------------------------------------
  &.hover-prefix {
    > .box-item > .box-item-icon {
      @include color($color-primary, r, c);

      > .ti-icon {
        transform: rotate(360deg) scale(1.2);
      }
    }
  }

  //---------------------------------------------
  &.no-text {
    > .box-item > .box-item-text {
      @include color($color-track, c);
    }
  }

  //---------------------------------------------
  > .box-item {
    @include noselect;
    @include flex-align-nowrap($ai: stretch);
    min-width: SZ(50);
    position: relative;

    //-------------------------------------------
    > .box-item-icon {
      @include flex-center;
      width: 2.4em;
      height: 2.4em;
      overflow: hidden;
      cursor: pointer;

      > .ti-icon {
        transition: transform 0.3s;
      }
    }

    //-------------------------------------------
    > .box-item-text {
      line-height: 2.4em;
      width: 100px;
      flex: 1 1 auto;
      padding: 0 SZ(6);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    //-------------------------------------------
    > .as-progress {
      @include pos-abs-full;
      .bar-outer {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        .bar-inner {
          height: 100%;
        }
        .bar-tip {
          @include pos-abs-full;
          @include flex-center;
          text-align: center;
          font-style: normal;
          color: #fff;
        }
      }
    }
    //-------------------------------------------
  }

  //---------------------------------------------
}
