.ti-filterbar {
  $PP: SZ(1);
  padding: SZ(4);
  //-------------------------------------------
  > .as-majors.at-top {
    @include flex-align;
    > * {
      margin-bottom: SZ(4);
      flex: 1 1 auto;
    }
  }
  //-------------------------------------------
  .as-majors > .as-major-item {
    margin-right: $PP * 2;
  }
  //-------------------------------------------
  > main {
    @include flex-align-nowrap;
    //-------------------------------------------
    > .as-majors.at-side {
      @include flex-align-nowrap;
    }
    //-------------------------------------------
    > .as-filter {
      flex: 1 1 auto;
      //-----------------------------------------
      > .ti-input {
        flex-wrap: wrap;
        //---------------------------------------
        .ti-tags {
          overflow: hidden;
        }
        //---------------------------------------
        .as-input-icon,
        .as-input {
          min-height: SZ(32);
        }
        //---------------------------------------
      }
      //-----------------------------------------
    }
    //-------------------------------------------
    &.is-nowrap > .as-filter {
      //-----------------------------------------
      > .ti-input {
        flex-wrap: nowrap;
        //---------------------------------------
        .ti-tags {
          overflow: hidden;
          flex-wrap: nowrap;
          .ti-tags-item > .as-text {
            max-width: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        //---------------------------------------
        .as-input {
          min-width: SZ(120);
        }
        //---------------------------------------
      }
      //-----------------------------------------
    }
  }
  //-------------------------------------------
}
