.ti-combo-box {
  @include flex-align-nowrap($ai: stretch);
  //---------------------------------
  > .as-box {
    @include noselect;
    @include flex-align-nowrap($ai: stretch);
    flex: 1 1 auto;
    //-------------------------------
    > .full-field {
      flex: 1 1 auto;
    }
    //-------------------------------
  }
  //---------------------------------
  &.as-date {
    > .as-box {
      flex: 0 0 auto;
      width: 100%;
    }
  }
  //---------------------------------
  &.as-time,
  &.as-datetime,
  &.as-daterange {
    > .as-box > .ti-input {
      flex: 1 1 auto;
      width: 100%;
    }
  }
  //---------------------------------
  &.is-extended {
    > .as-box {
      z-index: $z-menu + 1;
    }
  }
  //---------------------------------
  > .as-mask {
    @include pos-fixed-full;
    z-index: $z-menu;
    //background:rgba(0,0,0,0.5);
  }
  //---------------------------------
  > .as-drop {
    @include noselect;
    @include color($color-body, r, c);
    box-shadow: 4px 6px 10px map-get($color-shadow, c);
    border: 1px solid map-get($color-line, shallow);
    z-index: $z-menu + 1;
    position: fixed;
    overflow: auto;
    border-radius: $r-box;
  }
  //---------------------------------
}

.ti-combo-box.as-daterange {
  color: red;
  > .as-drop > .as-range-pairs {
    @include color($color-bar, r, c);
    @include flex-align-nowrap;
    @include border(1px, solid, shallow, bottom);
    padding-bottom: SZ(8);
    > div {
      @include flex-center;
      flex: 1 1 auto;
      padding: SZ(6);
      width: 50%;
      h4 {
        text-align: center;
        width: 100%;
        flex: 0 0 auto;
        font-size: 1em;
        padding: SZ(6);
        margin: 0;
      }
    }
  }
}
