div.ti-input-tags {flex-wrap: wrap;}
.ti-input-tags {
  //-----------------------------------------
  // Tag Box
  > .as-tags {
    @include flex-center;
    padding:0 SZ(4); font-size:.8em;
    .ti-tags-item {
      min-height: SZ(24);
      > .as-del {
        margin-right: SZ(4);
      }
      > .as-icon {
        padding:0 SZ(4) 0 0;
      }
    }
  }
  //-----------------------------------------
  // Input Box
  > .as-input {
    @include flex-align-nowrap($jc:flex-end, $ai:stretch);
    flex:1 1 auto; min-height: SZ(35);
    > input {
      width:SZ(150); 
      outline:none;
      flex:1 0 auto;
      border:0; padding:0 SZ(10);
      font-family: inherit;
      font-size:inherit;
      background:transparent;
      color:inherit; 
    }
  }
  //-----------------------------------------
}