.ti-combo-sorter {
  @include noselect;
  @include flex($ai:stretch,$wp:nowrap);
  padding:SZ(4);
  //-------------------------------------
  .ti-combo-box.as-sorter {
    width:100%;
    > .as-box {
      > .as-sort-box {flex:1 1 auto;}
      > .as-sort-btn {flex:0 0 auto;}
    }
  }
  //-------------------------------------
  .as-sort-box {
    @include flex-align-nowrap;
    cursor: pointer; padding:0 SZ(2);
    //-----------------------------------
    &:hover {
      @include color($color-weaktip, r, c);
    }
    //-----------------------------------
    > .ti-icon {
      width: SZ(16); font-size:SZ(16); 
      opacity: 0.7;
    }
    > .as-title {padding: SZ(4); white-space: nowrap;}
    //-----------------------------------
  }
  //-------------------------------------
  .as-sort-btn {
    @include flex-center; width:SZ(24);
    cursor: pointer;
    &:hover {
      @include color($color-secondary, r, c);
    }
  }
  //-------------------------------------
}