<div class="hm-prop-css-rules full-field"
  :class="TopClass"
  v-ti-activable>
  <!--
    ActionBar
  -->
  <TiActionbar :items="ActionItems"/>
  <!--
    Empty
  -->
  <TiButton
    v-if="isEmpty"
      size="small"
      :setup="EmptyButtonSetup"/>
  <!--
    Value table
  -->
  <table
    v-else>
      <tr
        v-for="row in ValueTable">
          <td class="as-title-cell">
            <span class="as-title">{{row.title}}</span>
          </td>
          <td class="as-value-cell">
            <span class="as-value">{{row.value}}</span>
            <span class="as-remove" @click.left="OnRemoveValue(row)">
              <i class="zmdi zmdi-close"></i>
            </span>
          </td>
      </tr>
  </table>
</div>