<div class="sidebar-item" :class="itemClass">
  <div class="it-info" >
    <span v-if="icon" class="it-info-icon">
      <ti-icon :value="icon" size=".16rem"/>
    </span>
    <span v-if="isGroup"
      class="it-info-text"
      @click.stop.prevent="onClickGroupInfo">{{title|i18n}}</span>
    <a v-else
      :href="itemLink"
      class="it-info-text"
      @click.stop.prevent="onClickItemInfo">
      {{title|i18n}}
    </a>
  </div>
  <div class="it-con" v-if="items && items.length > 0">
      <wnm-sidebar-item v-for="subIt in items"
        :key="subIt.key"
        :group-status-store-key="subIt.key"
        :highlight-id="highlightId"
        :do-open-path="doOpenPath"
        :get-obj-link="getObjLink"
        v-bind="subIt"/>
  </div>
</div>