<div class="web-tile-article"
  :class="TopClass"
  :style="TopStyle"
  :title="title | i18n">
  <!--
    Title
  -->
  <a 
    v-if="title"
      class="as-header"
      :style="TheHeaderStyle"
      :target="LinkTarget"
      :href="href"><span>{{title | i18n}}</span></a>
  <!--
    Content
  -->
  <article
    v-if="hasContent"
      :style="articleStyle"
      v-html="HtmlContent"></article>
  <!--
    Button
  -->
  <footer
    v-if="hasButton"
      :style="footerStyle">
      <a class="as-btn" :href="href" :target="LinkTarget">
        <span v-if="btnText" class="as-text">{{btnText|i18n}}</span>
        <TiIcon v-if="btnIcon" :value="btnIcon"/>
      </a>
  </footer>
</div>