<div class="json-value"
  :class="TopClass"
  v-ti-activable>
  <!--
  //  - Label   : Readonly
  -->
  <span v-if="isLabel"
    class="as-editing as-label">{{theLabelDisplayText}}</span>
  <!--
  //  - Boolean : Editable boolean value
  -->
  <ti-toggle v-else-if="'Boolean' == valueType"
    class="as-editing"
    :value="value"
    @change="$notify('change', $event)"/>
  <!--
  //  - Integer : Editable integer value
  //  - Float   : Editable float value
  //  - String  : Editable string value
  //  - Nil     : Edtiable any value
  -->
  <ti-label v-else
    class="as-editing is-nowrap ti-fill-parent"
    :value="value"
    :class-name="theValueClassName"
    :format="theValueFormat"
    :editable="true"
    @change="$notify('change', $event)"/>
  <!--
    Action Menu
  -->
  <ti-actionbar
    v-if="showActions"
      class="as-actions"
      :items="theActionMenuData"
      :status="theActionMenuStatus"/>
</div>