//-----------------------------------------------------
// Define color variables
$color-primary   : (c:#FC4, r:#222);
$color-secondary : (c:#F48, r:#FFF);
$color-success: (c:#5A5, r:#CFC);
$color-warn   : (c:#FE0, r:#620);
$color-info   : (c:#44AAFF, r:#FFF);
$color-error  : (c:#F65, r:#FFF);
$color-track  : (c:rgba(220,220,220,.6), r:#666);
$color-disable: (c:rgba(160,160,160,.6), r:rgba(0,0,0,.38), t: #666);
$color-text   : (c:#00CC00, r:#FFF);
$color-number : (c:#44AAFF, r:#FFF);
//...........................................
$color-sky : (c:#110, r:#FFF);
//...........................................
$color-card : (c:#000,    r:#444);
$color-paper : (c:#444, r:#FFF);
$color-chip  : (c:#666, r:#E0E0E0);
$color-cloak : (c:rgba(20,20,20,0.95), r:#DDD);
$color-body  : (c:#444, r:#E0E0E0);
$color-page  : (c:#222, r:#888);
$color-bar   : (c:rgba(50,50,50,0.6), r:#EEE);
$color-func  : (c:rgba(80,80,80,0.4), r:#EEE);
$color-shadow : (
  c:rgba(0,0,0,0.8), r:#888,
  heavy : rgba(0,0,0,1.0),
  bushy : rgba(0,0,0,0.6),
  thin  : rgba(0,0,0,0.4),
  weak  : rgba(0,0,0,0.2)
);
$color-light  : (c:rgba(255,255,10,0.6), r:#444);
$color-input  : (c:#CCC, r:rgba(50,50,50,0.8));
$color-ground-glass : (c:rgba(0,0,0,0.85), r:#EEE);
//...........................................
$color-weaktip  : (c:rgba(100, 100, 100, .8), r:#DA2);
$color-boldtip  : (c:#aaffaa, r:#000);
//...........................................
$color-mask: (
  heavy : rgba(0,0,0,0.95),
  bushy : rgba(50,50,50,0.8),
  thin  : rgba(50,50,50,0.4),
  weak  : rgba(100,100,100,0.4),
  r : #AAA
);
//...........................................
$color-line: (
  dark      : rgba(210,210,210,0.3),
  shallow   : rgba(210,210,210,0.1),
  weak      : rgba(210,210,210,0.06),
  highlight : map-get($color-secondary, c)
);