//-----------------------------------------------------
// Define color variables
$color-primary   : (c:#2196f3, r:#d0e7fc);
$color-secondary : (c:#ff4081, r:#FFF);
$color-success: (c:#4caf50, r:#CFC);
$color-warn   : (c:#FF8800, r:#FFC);
$color-info   : (c:#2196f3, r:#FFF);
$color-error  : (c:#f44336, r:#FCC);
$color-track  : (c:#888, r:#FFF);
$color-disable: (c:#999, r:#CCC, t:#BBD);
$color-text   : (c:#080, r:#FFF);
$color-number : (c:#08F, r:#FFF);
//...........................................
$color-sky : (c:#2196f3, r:#FFF);
//...........................................
$color-card : (c:#FFF,    r:#f1f2f4);
$color-paper : (c:#F0F0F0,    r:#000);
$color-chip  : (c:#e8e8e8,    r:#222);
$color-cloak : (c:rgba(230,230,230,0.8), r:#666);
$color-body  : (c:#FFF, r:#000);
$color-page  : (c:#FFF, r:#000);
$color-bar   : (c:#F5F7FA, r:#222);
$color-func  : (c:#E0E0E0, r:#000);
$color-shadow : (
  c:rgba(20,20,20,0.3), r:#AAA,
  heavy : rgba(20,20,20,0.5),
  bushy : rgba(20,20,20,0.3),
  thin  : rgba(30,30,30,0.2),
  weak  : rgba(40,40,40,0.1)
);
$color-light  : (c:rgba(255,255,255,0.6), r:#444);
$color-input  : (c:#444, r:#FFF);
$color-ground-glass : (c:rgba(255,255,255,0.85), r:#444);
//...........................................
$color-weaktip  : (c:#cce8ff, r:#31a6ff);
$color-boldtip  : (c:#EECC00, r:#000);
//...........................................
$color-mask: (
  heavy : rgba(0,0,0,0.95),
  bushy : rgba(50,50,50,0.618),
  thin  : rgba(50,50,50,0.372),
  weak  : rgba(220,220,220,0.3),
  r : #cce8ff
);
//...........................................
$color-line: (
  dark      : rgba(0,0,0,0.2),
  shallow   : rgba(0,0,0,0.1),
  weak      : rgba(0,0,0,0.06),
  highlight : map-get($color-primary, c)
);