<div class="ti-form"
  :class="TopClass"
  :style="TopStyle"
  v-ti-activable>
  <template v-if="hasData || !isAutoShowBlank">
    <!--
      Form Header
    -->
    <header class="form-header" v-if="hasHeader">
      <span v-if="icon"
        class="it-icon"><ti-icon :value="icon"/></span>
      <span v-if="title"
        class="it-text">{{title}}</span>
    </header>
    <!--
      Tabs for display:"tab"
    -->
    <div class="form-tab" v-if="isTabMode">
      <ul>
        <li v-for="tab in TabItems" 
          :class="tab.className"
          @click.left="OnClickTab(tab)">
          <ti-icon 
            class="tab-icon" v-if="tab.icon" :value="tab.icon"/>
          <span 
            class="tab-text" v-if="tab.title">{{tab.title|i18n}}</span>
        </li>
      </ul>
    </div>
    <!--
      Form Fields
    -->
    <div class="form-body">
      <template v-for="fld in FieldsInCurrentTab">
        <!--
          For Group
        -->
        <form-group v-if="'Group' == fld.type"
          v-bind="fld"
          :data="data"
          :field-status="fieldStatus"
          :status-icons="statusIcons"
          @change="OnFieldChange"/>
        <!--
          For field
        -->
        <ti-form-field v-else
          :key="fld.key"
          v-bind="fld"
          :data="data"
          :field-status="fieldStatus"
          :status-icons="statusIcons"
          @change="OnFieldChange"/>
      </template>
    </div>
  </template>
  <!--
    Show Blank
  -->
  <ti-loading 
    v-else
      class="nil-data as-big-mask"
      v-bind="blankAs"/>
</div>