<div class="form-field"
  :class="topClass">
  <div class="field-name">
    <span v-if="statusIcons"
      class="name-status">
      <ti-icon
        v-if="show.status"
        :value="statusIcon"/>
    </span>
    <span
      v-if="show.title"
      class="name-title">{{fieldTitle|i18n}}</span>
    <span 
      v-if="show.icon" 
      class="name-icon">
      <ti-icon :value="icon"/>
    </span>
  </div>
  <div class="field-value">
    <div class="field-component"
      :class="fieldComClass"
      :style="fieldComStyle">
      <component :is="componentType"
        v-bind="componentOptions"
        :value="componentValue"
        @changed="onChanged"/>
    </div>
    <div 
      v-if="show.tip"
      class="field-tip">{{tip|i18n}}</div>
  </div>
</div>