html {
  font-size: 100px;
}
body {
  font-size: .16rem;
}
.main section header h2 {
  font-size: .3rem;
}
.main section article dl h4 {
  font-size: .2rem;
}
.main section article dl h4.name {
  padding: .1rem .14rem;
  margin: .1rem;
}
.main section article dl h4 .signature {
  font-size: .9em;
}
.lnb {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.lnb .logo {
  width: 80px;
  height: 80px;
}
.lnb h1 {
  font-size: .2rem;
  margin: 0;
}
.main section article table td.name,
.main section article table td.type,
.main section article table td.attributes,
.main section article table td.default {
  max-width: unset;
  padding: .06rem;
}
#resizer,
footer {
  background-color: #ba5603;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .12rem;
}
footer .logo {
  width: 24px;
  height: 24px;
}
