<div class="wn-manager">
  <!--
    For Desktop
  -->
  <wn-explorer v-if="isViewportModeDesktop"
    class="as-desktop"
    key="for-desktop"
    :loading="loading"
    :ancestors="obj.ancestors"
    :meta="obj.meta"
    :status="mainStatus"
    @main:open="onMainViewOpen">
    <template v-slot:logo>
      <div class="logo-icon">
        <ti-icon :value="logoIcon" size=".24rem"/>
      </div>
    </template>
    <template v-slot:action>
      <wn-user-info
        :name="me.name"
        :group="me.group"/>
      <div v-if="hasMainActions"
        class="sky-action-menu">
        <ti-menu 
          :data="mainActions"
          :status="mainStatus"/>
      </div>
    </template>
    <template v-slot:aside>
      <div class="wnm-aside">
          <wnm-sidebar-item v-for="it in sidebar"
            :key="it.key"
            :group-status-store-key="it.key"
            :highlight-id="theMetaId"
            :do-open-path="onMainViewOpen"
            :get-obj-link="getObjLink"
            v-bind="it"/>
        </div>
    </template>
    <template v-slot:arena>
      <component
        class="ti-fill-parent" 
        :is="mainComType"
        v-bind="mainComConf"
        @open="onMainViewOpen"
        @change="onMainDataChange"
        @actions:updated="onActionUpdated"/>
    </template>
    <template v-slot:footer>
      <div class="footer-info ti-flex-center">
        <ti-icon class="center" :value="mainComIcon"/>
        <span>{{mainComType|i18n}}</span>
      </div>
      <div class="footer-log">
        <span>{{mainLog}}</span>
      </div>
      <div class="footer-indicator ti-flex-center">
        {{mainStatusText}}
      </div>
    </template>
  </wn-explorer>
  <!--
    For Phone or Tablet
  -->
  <wn-explorer v-if="isViewportModePhoneOrTablet"
    class="as-phone"
    :class="currentIsHome?'is-home':'is-not-home'"
    key="for-phone"
    :loading="loading"
    :ancestors="obj.ancestors"
    :meta="obj.meta"
    :status="mainStatus"
    @main:open="onMainViewOpen">
    <template v-slot:logo>
      <div v-if="!currentIsHome"
        class="logo-icon sky-icon-backward"
        @click="onMainViewOpen(obj.parent)">
        <ti-icon value="backward" size=".24rem"/>
      </div>
      <div class="logo-icon">
        <ti-icon :value="logoIcon" size=".24rem"/>
      </div>
    </template>
    <template v-slot:title>
      <ul class="as-address-bar">
        <li><b>{{getObjTitle(obj.meta)}}</b></li>
      </ul>
    </template>
    <template v-slot:action>
      <ti-menu v-if="hasMainActions"
        class="sky-menu-icon"
        :align="'center'"
        :data="mainActions"
        :status="mainStatus"/>
    </template>
    <template v-slot:arena>
      <component
        class="ti-fill-parent" 
        :is="mainComType"
        v-bind="mainComConf"
        @open="onMainViewOpen"
        @change="onMainDataChange"
        @actions:updated="onActionUpdated"/>
    </template>
  </wn-explorer>
  <!--
    Loading Mask
  -->
  <div v-if="mainStatus.publishing"
    class="wnm-loading-mask">
    <ti-loading :text="mainStatusText"/>
  </div>
</div>