////////////////////////////////////////////////
// Thing filter
.wn-thing-filter {
  @include flex-align-nowrap($ai:stretch);
  //----------------------------------------
  &.in-recyclebin {
    @include color($color-secondary, r, c);
  }
  //----------------------------------------
  > .as-recyclebin {
    @include flex-center;
    padding:0 SZ(10); cursor: pointer;
    opacity: 0.6;
    //--------------------------------------
    .it-icon {
      font-size:1.2em;
      > .ti-icon {
        &:first-child {display:block;}
        &:last-child  {display:none;}
      }
    }
    //--------------------------------------
    .it-text {
      font-size:SZ(10); line-height: 1.1em; white-space: nowrap;
    }
    //--------------------------------------
    &:hover {
      opacity: 1;
      .it-icon > .ti-icon {
        &:first-child {display:none;}
        &:last-child  {display:block;}
      }
    }
    //--------------------------------------
  }
  //----------------------------------------
  > .as-filter {flex:1 1 auto}    
  //----------------------------------------
}
////////////////////////////////////////////////
// Thing filter
.wn-thing-files {
  position: relative;
  padding-top:SZ(40);
  //-------------------------------------
  // Sizing
  > .as-header {
    @include pos-abs($t:0,$l:0,$r:0,$h:SZ(43));
  }
  > .as-preview {height: 37.2%;}
  > .as-list {height: 61.8%;}
  //-------------------------------------
  // Styling
  > .as-header {
    @include flex-align-nowrap;
    @include color($color-bar, r, c);
    font-size:SZ(12);
    > .as-tip {
      @include color($color-track, c);
      flex:0 0 auto;
      padding:0 SZ(4) 0 SZ(10);
    }
    > .as-name  {
      flex:1 1 auto;
      padding-left:SZ(6);
      .ti-droplist {
        display: block; 
        line-height: 1.8em;
      }
    }
    > .as-menu {
      flex:0 0 auto;
      padding:0 SZ(6);
    }
  }
  //-------------------------------------
  > .as-preview {
    @include color($color-paper, r, c);
    @include border(1px, solid, shallow, bottom);
  }
  //-------------------------------------
  &.current-in-recyclebin > .as-header {
    @include color($color-secondary, r, c);
  }
  //-------------------------------------
}
////////////////////////////////////////////////