.wn-obj-icon {
  @include flex-center;
  width:SZ(36);height:SZ(36);
  font-size:SZ(18);
  .icon-icon {
    img {
      width:SZ(32); height:SZ(32);
      object-fit: cover;
      border:1px solid map-get($color-line, shallow);
      border-radius: 2px;
    }
  }
}