<div class="ti-gui-block" 
  :class="topClass"
  :style="topStyle">
  <!--
    Header
  -->
  <div class="block-head" v-if="isShowHeader">
    <!--Icon-->
    <div class="as-icon" v-if="icon">
      <ti-icon :value="icon"/>
    </div>
    <!--Title-->
    <div class="as-title">
      <span v-if="title">{{title|i18n}}</span>
    </div>
    <!--Actions-->
    <div class="as-actions" v-if="hasActions">
      <ti-menu 
        :data="actions"
        :status="actionStatus"/>
    </div>
  </div>
  <!--
    Content
  -->
  <div class="block-main" v-if="theCom">
    <component 
      class="ti-fill-parent"
      :is="theCom.comType"
      v-bind="theCom.comConf"/>
  </div>
  <!--Blank-->
  <div v-else>
    TiGuiBlock
  </div>
</div>