<nav class="web-nav-crumb"
  :class="TopClass">
  <!--=======================================-->
  <template 
    v-for="it in TheItems">
      <a
        :key="it.index"
        class="link-item"
        :class="it.className"
        :href="it.href"
        :target="it.target"
        @click.left="OnClickLink($event, it)">
        <!--Icon-->
        <ti-icon
          v-if="it.icon"
            :value="it.icon"/>
        <!--Text-->
        <span
          v-if="it.title"
            class="as-text">{{it.title}}</span>
      </a>
      <!--Sep-->
      <TiIcon :value="sep"/>
  </template>
  <!--=======================================-->
  <div 
    v-if="title"
      class="as-title">{{title|i18n}}</div>
  <!--=======================================-->
</nav>