<div class="ti-wizard ti-fill-parent"
  :class="topClass">
  <!--
    Header Indicators
  -->
  <div class="as-head">
    <ul>
      <li v-for="(step, index) in stepList"
        :key="step.stepKey"
        :class="step.className">
        <span class="as-indicator">
          <span class="as-line at-l"></span>
          <span class="as-dot">{{index+1}}</span>
          <span class="as-line at-r"></span>
        </span>
        <span class="as-text">{{step.title}}</span>
      </li>
    </ul>
  </div>
  <!--
    Current Step Component
  -->
  <div class="as-main">
    <wizard-step v-bind="currentStep"
      @step:changed="onStepChanged"/>
  </div>
  <!--
    Footer Default Buttons
  -->
  <div v-if="btnPrev || btnNext"
    class="as-foot">
    <ul>
      <!--
        Btn: Prev
      -->
      <li v-if="btnPrev" 
        :class="btnPrev.className"
        @click="onClickBtnPrev">
        <span v-if="btnPrev.icon"
          class="as-icon">
          <ti-icon :value="btnPrev.icon"/>
        </span>
        <span class="as-sep"></span>
        <span class="as-text">{{btnPrev.text|i18n}}</span>
      </li>
      <!--
        Btn: Next
      -->
      <li v-if="btnNext" 
        :class="btnNext.className"
        @click="onClickBtnNext">
        <span class="as-text">{{btnNext.text|i18n}}</span>
        <span class="as-sep"></span>
        <span v-if="btnNext.icon"
          class="as-icon">
          <ti-icon :value="btnNext.icon"/>
        </span>
      </li>
    </ul>
  </div>
</div>