<div class="ti-wizard ti-fill-parent"
  :class="TopClass">
  <!--
    Header Indicators
  -->
  <div class="as-head">
    <ul>
      <li v-for="(step, index) in StepHeads"
        :key="step.stepKey"
        :class="step.className"
        @click.left="OnClickHeadItem(index, step)">
        <span class="as-indicator">
          <span class="as-line at-l"></span>
          <span class="as-dot">{{index+1}}</span>
          <span class="as-line at-r"></span>
        </span>
        <span class="as-text">{{step.title}}</span>
      </li>
    </ul>
  </div>
  <!--
    Current Step Component
  -->
  <div class="as-main">
    <WizardStep 
      v-bind="CurrentStep"
      @data:change="OnDataChange"
      @step:change="OnStepChange"/>
  </div>
  <!--
    Footer Default Buttons
  -->
  <div v-if="BtnPrev || BtnNext"
    class="as-foot">
      <!--
        Btn: Prev
      -->
      <div
        v-if="BtnPrev" 
          class="as-btn is-prev"
          :class="BtnPrev.className"
          @click="OnClickBtnPrev">
          <span v-if="BtnPrev.icon"
            class="as-icon">
            <ti-icon :value="BtnPrev.icon"/>
          </span>
          <span class="as-sep"></span>
          <span class="as-text">{{BtnPrev.text|i18n}}</span>
      </div>
      <!--Sep-->
      <div class="as-space"></div>
      <!--
        Btn: Next
      -->
      <div
        v-if="BtnNext" 
          class="as-btn is-next"
          :class="BtnNext.className"
          @click="OnClickBtnNext">
          <span v-if="BtnNext.icon"
            class="as-icon">
            <ti-icon :value="BtnNext.icon"/>
          </span>
          <span class="as-sep"></span>
          <span class="as-text">{{BtnNext.text|i18n}}</span>
      </div>
  </div>
</div>