<div class="ti-form-dropdown">
  <div ref="box"
    class="dd-box" 
    @click="toggleShowDrop">
    <template v-if="multi">
      <ul 
        v-if="this.hasSelecteds"
        class="as-multi">
        <li v-for="it in selectedItems" :key="it.value">
          <ti-icon
            v-if="it.icon" 
            :value="it.icon"/>
          <span
            class="it-text">{{it.text|i18n}}</span>
          <span
            class="it-del"
            @click.stop="onRemoveItem(it)">
            <ti-icon value="close" size="0.16rem"/>
          </span>
        </li>
      </ul>
      <div v-else
        class="as-empty">
        <ti-icon
          v-if="empty.icon" 
          :value="empty.icon"/>
        <span class="it-text">{{empty.text|i18n}}</span>
      </div>
    </template>
    <div v-else
      class="as-single">
      <ti-icon
        v-if="theItem.icon" 
        :value="theItem.icon"/>
      <span class="it-text">{{theItem.text|i18n}}</span>
    </div>
    <div class="dd-btn">
      <ti-icon
        v-if="loading"
        value="zmdi-settings zmdi-hc-spin"
      />
      <ti-icon 
        v-else-if="showDropdown"
        value="zmdi-chevron-up"/>
      <ti-icon 
        v-else
        value="zmdi-chevron-down"/>
    </div>
  </div><!--//.dd-box-->
  <div
    class="dd-mask" 
    v-show="showDropdown"
    @click="showDropdown=false"></div>
  <div ref="drop"
    class="dd-drop" 
    v-show="showDropdown">
    <ti-form-list 
      :list="droplist"
      :multi="multi"
      @changed="onChanged"/>
  </div>
</div>