<div class="ti-filterbar" :class="TopClass">
  <!--
    Top Majors
  -->
  <div
    v-if="hasTopMajors"
      class="filterbar-part as-majors at-top">
      <component
        v-for="it in myTopMajors"
          :is="it.comType"
          :key="it.index"
          class="as-major-item"
          v-bind="it.comConf"
          @change="OnMajorChange($event, it)"/>
  </div>
  <main>
    <!--
      Side Majors
    -->
    <div
      v-if="hasSideMajors"
        class="filterbar-part as-majors at-side">
        <component
          v-for="it in mySideMajors"
            :is="it.comType"
            :key="it.index"
            class="as-major-item"
            v-bind="it.comConf"
            @change="OnMajorChange($event, it)"/>
    </div>
    <!--
      Input and filtered tags
      +---------------------------------------------+
      | Tag | Tag | Tag |    Input value      | Adv |
      +---------------------------------------------+
    -->
    <div class="filterbar-part as-filter">
      <TiInput v-bind="FilterInputConf"
        @change="OnInputChange"
        @input:clean="OnInputClean"
        @open:advance="OnOpenAdvance">
        <TiTags v-bind="FilterTagConf" :value="myTags" @change="OnTagsChange"/>
      </TiInput>
    </div>
    <!--
      Sorter
    -->
    <div
      v-if="showSorter"
        class="filterbar-part as-sorter">
        <TiComboSorter
          v-bind="sorterConf"
          :value="sorter"
          @change="OnSorterChange"/>
    </div>
  </main>
</div>
