<div class="ti-filterbar" :class="TopClass">
  <!--
    Show marjor filter conditions
  -->
  <div
    v-if="hasMajors"
      class="filterbar-part as-majors">
      <TiDroplist
        v-for="it in MajorDropList"
          :key="it.index"
          v-bind="it.comConf"
          @change="OnMajorChange($event, it)"/>
  </div>
  <!--
    Input and filtered tags
    +---------------------------------------------+
    | Tag | Tag | Tag |    Input value      | Adv |
    +---------------------------------------------+
  -->
  <div class="filterbar-part as-filter">
    <TiInput v-bind="FilterInputConf"
      @change="OnInputChange"
      @input:clean="OnInputClean"
      @open:advance="OnOpenAdvance">
      <TiTags v-bind="FilterTagConf" :value="myTags" @change="OnTagsChange"/>
    </TiInput>
  </div>
  <!--
    Sorter
  -->
  <div
    v-if="showSorter"
      class="filterbar-part as-sorter">
      <TiComboSorter
        v-bind="sorterConf"
        :value="sorter"
        @change="OnSorterChange"/>
  </div>
</div>
