<div 
  class="ti-icon" 
  :class="TopClass"
  @click.left="OnClickTop">
  <div class="icon-icon"
    :style="Icon.outerStyle">
    <!--Font icon-->
    <i v-if="'font'==Icon.type"
      :class="Icon.className"
      :style="Icon.innerStyle">
      <!--ligature font -->
      <template v-if="Icon.text">{{Icon.text}}</template>
    </i>
    <!--Svg/Image-->
    <img v-else-if="'image'==Icon.type"
        :src="Icon.value"
        :style="Icon.innerStyle"/>
    <!--
      Default output the value
    -->
    <em v-else>{{value}}</em>
  </div>
</div>