<div class="ti-combo-input"
  :class="topClass">
  <!--
    Display or input
  -->
  <div class="as-box" ref="box"
    :style="boxStyle"
    @click.left="onOpenDrop">
    <!-- Icon -->
    <div v-if="icon"
      class="as-icon">
      <ti-icon :value="icon"/>
    </div>
    <div v-else
      class="as-space"></div>
    <!-- Input / Text -->
    <div class="as-input">
      <!--Editable-->
      <input v-if="editable" ref="input"
        spellcheck="false" 
        :value="theTextOrValue"
        :placeholder="placeholder"
        @click.stop
        @compositionstart="onInputCompositionStart"
        @compositionend="onInputCompositionEnd"
        @input="onInputing"
        @keydown="onInputKeyDown"
        @change="onInputChanged"
        @focus="onInputFocus"
        @blur="onInputBlur">
      <!--Display only-->
      <span v-else>{{theTextOrValue}}</span>
    </div>
    <!-- Drop State -->
    <div class="as-icon is-state" @click.left.stop="toggleDrop">
      <ti-icon :value="stateIcon"/>
    </div>
  </div>
  <!--
    Drop: Content
  -->
  <template v-if="dropOpened">
    <!--
      Drop: Mask
    -->
    <div class="as-mask" @click.left="closeDrop"></div>
    <!--
      Drop: Content
    -->
    <div class="as-drop" :style="dropStyle" ref="drop">
      <slot>
        <span>This is dropdown content</span>
      </slot>
    </div>
  </template>
</div>