<div class="ti-tree"
  :class="topClass"
  :style="topStyle">
  <!--
    Head
  -->
  <div v-if="isTable"
    class="tree-head">
    <div class="tree-head-cell as-name">Name</div>
    <div v-for="fld in theFields"
      class="tree-head-cell">{{fld.title}}</div>
  </div>
  <!--
    Body
  -->
  <div class="tree-body">
    <ti-tree-node
      v-for="nd in theTopData"
      :key="nd.name"
      v-bind="nd"
      :handle-icons="nodeHandleIcons"
      :fields="theFields"
      @select="onNodeSelect"
      @open="onNodeOpen"
      @close="onNodeClose"
      @node:changed="onNodeChanged"/>
  </div>
</div>
