<div class="web-pay-proceed">
  <!--
    Main Area
  -->
  <div class="as-main">
    <!--
      Wait for create order
    -->
    <div 
      v-if="!orderId"
        class="as-nil-order">
      Wait create order ...
    </div>
    <!--
      Show payment
    -->
    <template
      v-else>
      <!--QRCODE-->
      <div v-if="isQRCODE"
        class="is-qrcode">
        <img :src="paymentDataAsQrcodeUrl">
      </div>
      <!--IFRAME-->
      <div v-else-if="isIFRAME"
        class="is-iframe">
        <iframe 
          frameborder="0" 
          scrolling="no"
          :src="paymentData"></iframe>
      </div>
      <!--
        Others
      -->
      <div v-else>
        {{paymentData}}
      </div>
    </template>
  </div>
  <!--
    Check Button
  -->
  <div class="as-check ti-btn is-huge"
    @click.left="onClickCheckBtn">
    <ti-icon class="as-icon" :value="checkBtnIcon"/>
    <span class="as-text">{{checkBtnText|i18n}}</span>
  </div>
</div>