<div class="web-pay-checkout"
  :class="TopClass">
  <!--
    Blank
  -->
  <div 
    v-if="isEmpty"
      class="as-empty">
    <ti-loading
      class="as-big"
      icon="fas-shopping-basket"
      text="You should pick something to checkout!"/>
  </div>
  <!--
    List table
  -->
  <template v-else>
    <!--
      Tip
    -->
    <div class="as-tip">
      <ti-icon :value="tipIcon"/>
      <span>{{tipText | i18n}}</span>
    </div>
    <!--
      List
    -->
    <div class="as-list">
      <!--Show product in loop-->
      <table>
        <thead>
          <tr>
            <th><span>{{'pay-checkout-it-name'     | i18n}}</span></th>
            <th>
              <u>{{CurrencyChar}}</u>
              <span>{{'pay-checkout-it-price'      | i18n}}</span>
            </th>
            <th><span>{{'pay-checkout-it-amount'   | i18n}}</span></th>
            <th><span>{{'pay-checkout-it-subtotal' | i18n}}</span></th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="it of TheItems"
              class="as-item">
              <td class="it-thumb">
                <a
                  v-if="it.thumbSrc" 
                    @click.prevent="OnShowProduct(it)" 
                    :href="it.href">
                    <img :src="it.thumbSrc"/>
                </a>
                <div class="it-title">
                  <a :href="it.href"
                    @click.prevent="OnShowProduct(it)">{{it.title}}</a>
                </div>
              </td>
              <td class="it-price">
                <em>{{CurrencyChar}}{{it.price}}</em>
              </td>
              <td class="it-amount">
                <span>{{it.amount}}</span>
              </td>
              <td class="it-subtotal">
                <em>{{CurrencyChar}}{{it.subtotal}}</em>
              </td>
            </tr>
          </tbody>
      </table>
    </div> <!--~as-list-->
    <!--
      Summary
    -->
    <div class="as-summary">
      <div class="at-left">
        <!--Maybe Coupon here-->
      </div>
      <div class="at-right">
        <div class="as-total">
          <span>Total:</span>
          <em>{{CurrencyChar}}{{TotalFee}}</em>
        </div>
      </div>
    </div>
    <!--
      Address
    -->
    <div
      v-if="'A' == orderType"
        class="as-address">
        <!--
          Current Address
        -->
        <div class="as-addr-current">
          <WebTileAddress 
            :value="currentAddr"
            title="订单收货地址"
            :countries="countries"
            :auto-highlight="false"
            :can="{remove:0,edit:0,default:0,choose:1}"
            :blank-as="{text:'i18n:order-shipaddr-nil',icon:'im-location'}"
            @choose="OnChooseAddr"/>
        </div>
        <!--
          Address can-list
        -->
        <transition name="ti-trans-fade">
          <div
            v-if="showAddrCanList"
              class="as-can-list">
              <WebShelfList
                v-bind="AddrCanList"
                @select="OnSelectAddr"/>
              <div
                class="as-can-hide">
                <a @click.left="OnHideAddrCanList">
                  <i class="fas fa-angle-double-up"></i><br>
                  <span>{{'i18n:close'|i18n}}</span></a>
                </div>
          </div>
        </transition>
    </div>
  </template>
</div>