<div class="ti-form-grid"
  :class="TopClass"
  :spacing="spacing"
  :mode="FormMode"
  @click.left="OnClickFormTop"
  v-ti-activable>
    <!--
      Blank
    -->
    <ti-loading 
      v-if="!hasData && isAutoShowBlank"
        class="nil-data as-big-mask"
        v-bind="blankAs"/>
    <!--
      Show Form
    -->
    <template v-else>
      <!--
        Title
      -->
      <header
        v-if="hasTitle"
          class="form-title"
          :class="titleClass"
          :spacing="spacing"
          :mode="FormMode">
          <span v-if="icon" class="title-icon"><ti-icon :value="icon"/></span>
          <span v-if="title" class="title-text">{{title|i18n}}</span>
      </header>
      <!--============================================
        Flat Mode
      -->
      <main 
        class="form-main"
        :class="MainClass"
        :spacing="spacing"
        :mode="FormMode"
        @scroll="OnMainScroll">
        <!--============================================
          Flat Mode
        -->
        <template v-if="isFlatMode">
          <!------------------------------------------>
          <section class="flat-body" >
            <grid-container
              v-bind="GridContainerConf"
              :fields="GridFormFields"
              :gridColumnCount="GridColumnCount"
              @field:edit="OnToggleForceEditable"
              @field:change="OnFieldChange"/>
          </section>
          <!------------------------------------------>
        </template>
        <!--============================================
          Group Mode
        -->
        <template v-else-if="isGroupMode">
          <!------------------------------------------>
          <section 
            v-for="grp in GridFormFields"
              :key="grp.uniqKey"
              class="group-body"
              :class="grp.bodyClass">
              <!-------------------------------------->
              <!--
                Group Title
              -->
              <div v-if="grp.title" class="group-title">
                <span v-if="grp.icon" class="title-icon">
                  <ti-icon :value="grp.icon"/></span>
                <span v-if="grp.title" class="title-text"
                  >{{grp.title|i18n}}</span>
              </div>
              <!--
                Group body
              -->
              <grid-container
                v-bind="GridContainerConf"
                :fields="grp.fields"
                :gridColumnCount="grp.gridColumnCount"
                @field:edit="OnToggleForceEditable"
                @field:change="OnFieldChange"/>
              <!-------------------------------------->
          </section>
          <!------------------------------------------>
          <!------------------------------------------>
        </template>
        <!--============================================
          Tab Mode
        -->
        <template v-else-if="isTabMode">
          <!----------------------------------------->
          <!--
            Tab Head
          -->
          <section class="tab-head" :spacing="spacing">
            <div
              v-for="tab in TabItems"
                class="tab-head-item"
                :class="tab.className"
                :tab-index="tab.index"
                @click="OnClickTab(tab)">
                  <!--------------------------------->
                  <span v-if="tab.icon" class="tab-icon">
                    <ti-icon :value="tab.icon"/></span>
                  <span v-if="tab.title" class="tab-text"
                    >{{tab.title|i18n}}</span>
                  <!--------------------------------->
            </div>
          </section>
          <!--
            Tab Body
          -->
          <section
            class="tab-body" 
            :class="CurrentTabGroup.bodyClass"
            :style="CurrentTabGroup.bodyStyle"
            @scroll="OnTabBodyScroll">
            <grid-container
              v-bind="GridContainerConf"
              :fields="GridFormFields"
              :gridColumnCount="GridColumnCount"
              @field:edit="OnToggleForceEditable"
              @field:change="OnFieldChange"/>
          </section>
          <!----------------------------------------->
        </template>
        <!--============================================
          Invalide Mode
        -->
        <div v-else>
          Invalide Mode : <b>{{mode}}</b>
        </div>
      </main>
      <!--
        Foot actions
      -->
      <footer
        v-if="showFooterActions"
          class="form-actions"
          :spacing="spacing"
          :mode="FormMode">
          <TiButton
            v-bind="GridActionButtons"
            @form:readonly="myReadonly=true"
            @form:edit="OnFormEdit"
            @form:confirm="OnFormConfirm"
            @form:reset="OnFormReset"
            @form:submit="OnFormSubmit"
            @form:setup:open="OnFormSetupOpen"
            @form:setup:clean="OnFormSetupClean"/>
      </footer>
      <!--
        Setup menu
      -->
      <aside
        v-if="showSetupMenu"
          class="form-setup"
          :spacing="spacing"
          :at="setupMenuAt">
          <TiActionbar
            v-bind="GridSetupMenu"
            @form:submit="OnFormSubmit"
            @form:setup:open="OnFormSetupOpen"
            @form:setup:clean="OnFormSetupClean"/>
      </aside>
    </template> <!-- Form main template-->    
</div>