<div class="ti-switcher"
  :class="TopClass">
  <!--
    Show Loading
  -->
  <ti-icon
    v-if="loading"
    value="zmdi-settings zmdi-hc-spin"/>
  <!--
    Options
  -->
  <div v-else
    class="switcher-con">
    <ul>
      <li v-for="it in TheItems" 
        :key="it.value"
        :class="it.className"
        @click="OnClickItem(it, $event)"
        @mousedown="myFocusIndex=it.index;">
        <ti-icon class="it-icon"
          size=".8em"
          v-if="it.icon" 
          :value="it.icon"/>
        <span
          class="it-text">{{it.text|i18n}}</span>
      </li>
    </ul>
  </div>
</div>