<div class="ti-form-grid-con" :class="TopClass" :style="TopStyle" :grid="gridColumnCount">
  <!----------------------------------------->
  <template v-for="fld in myFields">
      <!-------------- Label ---------------->
      <div
        v-if="'Label' == fld.race"
          class="field-label"
          :style="fld.nameStyle"
          :grid-start="fld.gridStart"
          :grid-span="fld.gridSpan">
          <div
            v-if="fld.icon"
              class="field-icon"><TiIcon :value="fld.icon"/></div>
          <div
            v-if="fld.title"
              class="field-text">{{fld.title | i18n}}</div>
      </div>
      <!-------------- -COM ----------------->
      <template v-else>
        <div 
          v-if="fld.showName"
            class="field-name grid-item"
            :class="fld.nameClass"
            :style="fld.nameStyle"
            :name-wrap="fld.nameWrap"
            :name-align="fld.nameAlign"
            :name-v-align="fld.nameVAlign"
            :title="fld.statusText"
            :grid-start="fld.nameGridStart"
            :grid-span="fld.nameGridSpan">
            <!--------------------------------->
            <div class="field-name-con">
              <div
                v-if="fld.required" class="field-required">*</div>
              <div
                v-if="fld.icon"
                  class="field-icon"><TiIcon :value="fld.icon"/></div>
              <div
                v-if="fld.title"
                  class="field-text"
                  :style="fld.nameTextStyle">{{fld.title | i18n}}</div>
            </div>
            <!--------------------------------->
            <div
              v-if="fld.statusIcon"
                class="field-status"><TiIcon :value="fld.statusIcon"/></div>
            <!--------------------------------->
        </div>
        <!------------------------------------->
        <div
          class="field-value grid-item"
          :class="fld.valueClass"
          :style="fld.valueStyle"
          :value-wrap="fld.valueWrap"
          :grid-start="fld.valueGridStart"
          :grid-span="fld.valueGridSpan">
          <!--------------------------------->
          <div class="field-value-com" :style="fld.comStyle">
            <component :is="fld.comType"
              v-bind="fld.comConf"
              @change="OnFldChange(fld, $event)"/>
          </div>
          <!--------------------------------->
          <div
            v-if="fld.tip"
              class="field-value-tip"
              :style="fld.tipStyle">{{fld.tip | i18n}}</div>
          <!------Show tip when Nil-name----->
          <div
              v-if="fld.statusIcon && !(fld.icon || fld.title)"
                class="field-status"><TiIcon :value="fld.statusIcon"/></div>
          <!--------------------------------->
        </div>
        <!------------------------------------->
      </template>
      <!------------------------------------->
  </template>  
  <!----------------------------------------->
</div>