<div class="ti-list"
  :class="topClass"
  @click="onClickTop"
  v-ti-actived="__set_actived">
  <!--
    Blank
  -->
  <div
    v-if="isDataEmpty"
      class="ti-blank is-big">
      <ti-loading v-bind="blankAs"/>
  </div>
  <!--
    Show Items
  -->
  <template v-else>
    <list-row
      v-for="row in theData"
        :key="row.id"
        :row-id="row.id"
        :index="row.index"
        :icon="row.icon"
        :indent="row.indent"
        :data="row.rawData"
        :display="theDisplayItems"
        :current-id="theCurrentId"
        :checked-ids="theCheckedIds"
        :changed-id="changedId"
        :checkable="checkable"
        :selectable="selectable"
        :openable="openable"
        :row-toggle-key="theRowToggleKey"
        :explain-dict="explainDict"
        :class-name="itemClassName"
        @checker="onRowCheckerClick"
        @select="onRowSelect"
        @open="onRowOpen"/>
  </template>
</div>