<div class="ti-tags"
  :class="TopClass">
  <!--
    Empty
  -->
  <span
    class="as-nil-tip"
      v-if="!hasItems && placeholder">{{placeholder | i18n}}</span>
  <!--
    Loop piece
  -->
  <tags-item
    v-else
      v-for="tag in myTags"
        :key="tag.key"
        v-bind="tag"
        :cancel-bubble="cancelItemBubble"
        :option-default-icon="optionDefaultIcon"
        :removable="removable"
        :remove-icon="removeIcon"
        :readonly="readonly"
        :status-icons="statusIcons"
        @change="OnItemChanged"
        @remove="OnItemRemoved"
        @fire="OnItemFired"/>
</div>