<div class="ti-markdown-richeditor"
  :class="TopClass"
  v-ti-activable>
  <!--
    Toolbar
  -->
  <ti-actionbar 
  v-if="hasToolbar"
    class="as-toolbar"
    :items="ToolbarMenuData" 
    :align="toolbarAlign"
    :status="myToolbarStatus"
    @change="OnToolbarChange"/>
  <!--
    Stage
  -->
  <div ref="stage"
    class="as-stage"
    spellcheck="false"
    :class="ThemeClass"></div>
  <!--
    Show loading
  -->
  <TiLoading
    v-if="isContentLoading"
      class="as-nil-mask as-big-mask"
      v-bind="loadingAs"/>
  <!--
    Show blank
  -->
  <component
    v-else-if="isContentNil"
      :style="BlankComStyle"
      :is="blankAs.comType"
      v-bind="blankAs.comConf"/>
</div>