<div class="ti-markdown-richeditor"
  :class="TopClass">
  <!--
    Toolbar
  -->
  <ti-actionbar 
    v-if="hasToolbar"
      class="as-toolbar"
      :items="ToolbarMenuData" 
      :align="toolbarAlign"
      :status="myToolbarStatus"
      @change="OnToolbarChange"/>
  <!--
    Stage
  -->
  <div ref="stage"
    class="as-stage"
    spellcheck="false"
    :class="ThemeClass"></div>
  <!--
    Cover when nil
  -->
  <ti-loading
    v-if="isNilContent"
      class="as-nil-mask as-big-mask"
      v-bind="blankAs"/>
</div>