//-----------------------------------------
.ti-widget-album {
  position: relative;
}
//-----------------------------------------
.ti-widget-album .album-loading-stub {
  @include flex-center;
  width:100%; height:100%;
  padding: SZ(32); font-size: SZ(32);
}
//-----------------------------------------
.ti-widget-album > .photo-wall {
  @include flex-align($ai:center, $ac: center);
  padding: SZ(10);
  //-----------------------------------------
  .wall-tile {
    display: block;
    padding: SZ(10);
    width: SZ(200); height: SZ(200);
    position: relative;
    //---------------------------------------
    img {
      width:100%; height: 100%;
      object-fit: cover;
      display: block;
    }
    //---------------------------------------
    .tile-title {
      @include pos-abs($l:0,$r:0);
      color: #CCC; font-size: SZ(12);
      line-height: 1.5em; padding: .5em;
    }
    //---------------------------------------
  }
  //-----------------------------------------
  &.at-top    .wall-tile .tile-title {top:0;}
  &.at-center .wall-tile .tile-title {
    @include flex-center;
    top:0; bottom:0; 
  }
  &.at-bottom .wall-tile .tile-title {bottom:0;}
  //-----------------------------------------
  &.title-wrap-auto .wall-tile .tile-title {
    white-space: normal;
  }
  &.title-wrap-clip .wall-tile .tile-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
  &.title-wrap-ellipsis .wall-tile .tile-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  //-----------------------------------------
  //
  // Waterfalls Style
  // 
  //-----------------------------------------
  &.layout-falls {
    flex-wrap: nowrap; align-items: flex-start;
    .falls-group {
      @include flex-align-v-nowrap($ai:stretch);
      .wall-tile {
        flex:1 1 auto; height:unset; width: unset;
      }
    }
  }
  //-----------------------------------------
  //
  // Effections 
  // 
  //-----------------------------------------
  &.hover-to-up .wall-tile {
    transition: transform 0.5s; 
    &:hover {
      transform: translateY(-3px);
      box-shadow: SZ(4) SZ(4) SZ(10) map-get($color-shadow, thin);
    }
  }
  //-----------------------------------------
  &.hover-to-zoom .wall-tile {
    overflow: hidden;
    img {transition: transform 0.3s; } 
    &:hover img {
      transform: scale(1.2);
    }
  }
  //-----------------------------------------
  &.hover-to-scale .wall-tile {
    transition: transform 0.3s;  
    &:hover {
      transform: scale(1.2);
      box-shadow: SZ(4) SZ(4) SZ(10) map-get($color-shadow, thin);
    }
  }
  //-----------------------------------------
  &.pic-fit-fill    .wall-tile img {object-fit: fill;}
  &.pic-fit-cover   .wall-tile img {object-fit: cover;}
  &.pic-fit-contain .wall-tile img {object-fit: contain;}
  &.pic-fit-none    .wall-tile img {object-fit: none;}
  //-----------------------------------------
  &.item-margin-xl .wall-tile {margin: SZ(30);}
  &.item-margin-lg .wall-tile {margin: SZ(24);}
  &.item-margin-md .wall-tile {margin: SZ(16);}
  &.item-margin-sm .wall-tile {margin: SZ(10);}
  &.item-margin-xs .wall-tile {margin: SZ(4);}
  &.item-margin-no .wall-tile {margin: 0;}
  //-----------------------------------------
  &.item-padding-xl .wall-tile {padding: SZ(30);}
  &.item-padding-lg .wall-tile {padding: SZ(24);}
  &.item-padding-md .wall-tile {padding: SZ(16);}
  &.item-padding-sm .wall-tile {padding: SZ(10);}
  &.item-padding-xs .wall-tile {padding: SZ(4);}
  &.item-padding-no .wall-tile {padding: 0;}
  //------------------------------------------
  &.flex-none   .wall-tile {flex:0 0 auto;}
  &.flex-both   .wall-tile {flex:1 1 auto;}
  &.flex-grow   .wall-tile {flex:1 0 auto;}
  &.flex-shrink .wall-tile {flex:0 1 auto;}
  //-----------------------------------------
}
/////////////////////////////////////////////
// Add decorater icon to album items
.ti-widget-album.as-yt-playlist .photo-wall {
  .wall-tile {
    &:after {
      @include pos-abs-full;
      @include flex-center;
      z-index: $z-over;
      font-family: 'Font Awesome 5 Brands';
      font-weight: 900;
      content: "\f167";
      font-size: SZ(48);
      color: #F00; opacity: 0.5;
      transition: 0.5s;
    }
    &:hover::after {
      opacity: 1;
    }
  }
}