<ti-combo-box class="ti-input-icon"
  :class="TopClass"
  :drop-width="dropWidth"
  :drop-height="dropHeight"
  :status="status"
  @collapse="doCollapse">
  <!--
    Box
  -->
  <template v-slot:box>
    <span class="as-value"
      :style="ValueStyle"
      @click.left="OnToggleDrop">
      <!--Show Icon-->
      <ti-icon 
        v-if="hasValue"
          :value="value"/>
      <!--No Icon-->
      <span 
        v-else
          class="no-icon"><i class="zmdi zmdi-cake"></i></span>
    </span>
    <span class="as-clear" @click="OnClearIcon">
      <ti-icon value="zmdi-close"/>
    </span>
  </template>
  <!--
    Drop
  -->
  <template v-slot:drop>
    <div class="icon-input">
      <input ref="input"
        :placeholder="'i18n:icon-code-tip'|i18n"
        @change="OnChangedIcon">
    </div>
    <div class="icon-options">
      <ul>
        <li v-for="li of OptionIcons"
          @click.left="OnSelectIcon(li)"
          @dblclick.left="OnSelectIconAndCollapse(li)"
          @mouseenter="OnHoverIcon(li)"
          @mouseleave="OnLeaveIcon(li)">
          <ti-icon :value="li.value"/>
        </li>
      </ul>
    </div>
    <div class="icon-tip">
      <template v-if="TipIcon">
        <ti-icon :value="TipIcon"/>
        <span>{{TipIcon}}</span>
      </template>
      <template v-else>
        <span>...</span>
      </template>
    </div>
  </template>
</ti-combo-box>