<div class="web-text-heading"
  :class="TopClass">
  <!--Icon-->
  <div
    v-if="icon"
      class="as-icon"><ti-icon :value="icon"/></div>
  <!--Title-->
  <div
    v-if="title"
      class="as-title"
      :class="TitleClass"
      :style="TitleStyle"
      @click.left="OnClickTitle"><span>{{title|i18n}}</span></div>
  <!--Comments-->
  <div
    v-if="comment"
      class="as-comment"><span>{{comment|i18n}}</span></div>
  <!--View more-->
  <div
    v-if="more"
      class="as-more"
      @click.left="OnClickMore"><span>{{more|i18n}}</span></div>
</div>